// ================================================================================
// + Lib.
// --------------------------------------------------------------------------------




// ================================================================================
// + Vars
// --------------------------------------------------------------------------------


// - Colors
// --------------------------------------------------------------------------------

$GLOBAL__HTML_Background: linear-gradient(to top, rgb(48,48,48), rgb(80,80,80));//rgb(96,96,96);
$GLOBAL__Main_Background: transparent;//$GLOBAL__HTML_Background;//linear-gradient(to top, rgb(48,48,48), rgb(80,80,80));//linear-gradient(to top, rgb(144,144,144), rgb(192,192,192));//rgb(64,64,64);
$GLOBAL__Veil_Background: linear-gradient(to bottom, rgb(96,96,96), rgb(192,192,192));//rgb(216,216,216);

$GLOBAL__Subpanel_KeyColor: saturate(steelblue, 20%);

$GLOBAL__Scrollbar-Track_BackgroundColor: rgb(255,255,255);
$GLOBAL__Scrollbar-Track_BorderColor: rgb(232,232,232);

$GLOBAL__Scrollbar-Thumb_BackgroundColor: rgb(160,160,160);//rgb(192,192,192);
$GLOBAL__Scrollbar-Thumb_BackgroundColor__Hover: rgb(128,128,128);
$GLOBAL__Scrollbar-Thumb_BackgroundColor__Active: rgb(160,160,160);
$GLOBAL__Scrollbar-Thumb_BorderColor: transparent;//rgb(32,32,32);


// - Sizes
// --------------------------------------------------------------------------------

$GLOBAL__Scrollbar-Track_Size: 16px;
$GLOBAL__Scrollbar-Thumb_Size: 8px;

$GLOBAL__Icon_Size: 31px;
$GLOBAL__Subpanel-Icon_Size: 21px;

$GLOBAL__ButtonGroup_Margin: 4px;

$GLOBAL__TopBar_Height: $GLOBAL__Icon_Size + $GLOBAL__ButtonGroup_Margin * 2;
$GLOBAL__BottomBar_Height: $GLOBAL__TopBar_Height;

$GLOBAL__Slider_Size: $GLOBAL__BottomBar_Height * 2;


// - Z-Indexes
// --------------------------------------------------------------------------------

$GLOBAL__Main_ZIndex: 1;
	$GLOBAL__Main-Book_ZIndex: 1;

$GLOBAL__Scrollbar_ZIndex: $GLOBAL__Main_ZIndex + 1;

$GLOBAL__Sub_ZIndex: 10;

//$GLOBAL__Shade_ZIndex: $GLOBAL__Sub_ZIndex + 1;

$GLOBAL__Slider_ZIndex: 100;
$GLOBAL__Nombre_ZIndex: $GLOBAL__Slider_ZIndex + 1;

$GLOBAL__Veil_ZIndex: 1000;
	$GLOBAL__Veil-BottomBar_ZIndex: 1;
	$GLOBAL__Veil-Cover_ZIndex: 10;
	$GLOBAL__Veil-Play_ZIndex: 100;
	$GLOBAL__Veil-ByeBye_ZIndex: 1000;

$GLOBAL__Catcher_ZIndex: $GLOBAL__Veil_ZIndex + 1;

$GLOBAL__Panel_ZIndex: 10000;
	$GLOBAL__Panel-BookInfo_ZIndex: 1;
	$GLOBAL__Panel-BottomBar_ZIndex: $GLOBAL__Panel-BookInfo_ZIndex + 1;
	$GLOBAL__Panel-TopBar_ZIndex: 1000;

$GLOBAL__Help_ZIndex: $GLOBAL__Panel_ZIndex + 1;
$GLOBAL__PoweredBy_ZIndex: $GLOBAL__Panel_ZIndex + 1;
$GLOBAL__Arrow_ZIndex: $GLOBAL__Panel_ZIndex + 1;

$GLOBAL__Menu_ZIndex: 100000;
$GLOBAL__Subpanel_ZIndex: $GLOBAL__Menu_ZIndex + 1;

$GLOBAL__Notifier_ZIndex: 99999999999;
$GLOBAL__Spinner_ZIndex: $GLOBAL__Notifier_ZIndex - 1;




// ================================================================================
// + MixIns
// --------------------------------------------------------------------------------

@mixin trbl($T: auto, $R: $T, $B: $T, $L: $R) { top: $T; right: $R; bottom: $B; left: $L; }
@mixin tb($T: auto, $B: $T) { top: $T; bottom: $B; }
@mixin lr($L: auto, $R: $L) { left: $L; right: $R; }

@mixin margin-v($T: 0, $B: $T) { margin-top: $T; margin-bottom: $B; }
@mixin margin-h($L: 0, $R: $L) { margin-left: $L; margin-right: $R; }

@mixin padding-v($T, $B: $T) { padding-top: $T; padding-bottom: $B; }
@mixin padding-h($L, $R: $L) { padding-left: $L; padding-right: $R; }

@mixin size($W, $H: $W) { width: $W; height: $H; }
@mixin max-size($W, $H: $W) { max-width: $W; max-height: $H; }
@mixin min-size($W, $H: $W) { min-width: $W; min-height: $H; }

@mixin wh($W, $H: $W) { @include size($W, $H); }
@mixin max-wh($W, $H: $W) { @include max-size($W, $H); }
@mixin min-wh($W, $H: $W) { @include min-size($W, $H); }

@mixin min($Min) { @media screen and (min-width: #{$Min}) { @content; } }
@mixin max($Max) { @media screen and (max-width: #{$Max}) { @content; } }
@mixin min-max($Min, $Max) { @media screen and (min-width: #{$Min}) and (max-width: #{$Max}) { @content; } }
@mixin max-min($Max, $Min) { @include min-max($Min, $Max) { @content; } }

@mixin keyframes($N) { @-webkit-keyframes #{$N} { @content; } @-epub-keyframes #{$N} { @content; } @-moz-keyframes #{$N} { @content; } @-ms-keyframes #{$N} { @content; } @keyframes #{$N} { @content; } }

@mixin prefix($P, $V) { -webkit-#{$P}: $V; -epub-#{$P}: $V; -moz-#{$P}: $V; -ms-#{$P}: $V; @content; #{$P}: $V; }

@mixin text-combine-upright_all() { -webkit-text-combine: horizontal; text-combine: horizontal; -ms-text-combine-horizontal: all; text-combine-horizontal: all; text-combine-upright: all; }

@mixin writing-mode($V) {
	@include prefix(writing-mode, $V) {
		$V2: null;
		     @if $V == horizontal-lr { $V2: lr-tb; }
		@else if $V == horizontal-rl { $V2: rl-tb; }
		@else if $V ==   vertical-rl { $V2: tb-rl; }
		@else if $V ==   vertical-lr { $V2: tb-lr; }
		-ms-writing-mode: $V2;
	}
}

@mixin font-icon($FamilyName) {
	display: inline-block;
	direction: ltr;
	letter-spacing: normal;
	text-transform: none;
	text-rendering: optimizeLegibility;
	white-space: nowrap;
	word-wrap: normal;
	font-family: $FamilyName;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	-ms-font-feature-settings: 'liga' 1;
	font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
}


// ================================================================================
// + Common Classes
// --------------------------------------------------------------------------------


.non-visual {
	display: block !important;
	position: absolute !important;
	overflow: hidden !important;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	left: 0 !important;
	top: 0 !important;
	width: 0 !important;
	height: 0 !important;
	background: transparent !important;
}

.separator {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: solid black;
	border-width: 1px 0 0;
	height: 0;
}

.uppercase {
	text-transform: uppercase !important;
}


// ================================================================================
// + Factory / Dev.
// --------------------------------------------------------------------------------

div#__bs_notify__ {
	box-sizing: border-box !important;
	display: table-cell !important;
	position: fixed !important;
	@include trbl(0 !important);
	margin: auto !important;
	border-radius: 1.5em !important;
	padding: 0 !important;
	width: 16em !important;
	height: 3em !important;
	line-height: 3em !important;
	font-size: 14px !important;
	font-weight: bold !important;
	text-indent: -.25em !important;
	text-shadow: 0 0 2px black !important;
	background: rgba(black, 0.5) !important;
	//transform-origin: 0 100% !important;
	//transform: translateY(-2em) rotate(90deg) !important;
}