// ================================================================================
// + Global Vars
// --------------------------------------------------------------------------------


// - Colors
// --------------------------------------------------------------------------------

$GLOBAL__Subpanel_KeyColor: saturate(steelblue, 20%);

$GLOBAL__Scrollbar-Track_BackgroundColor: rgb(255,255,255);
$GLOBAL__Scrollbar-Track_BorderColor: rgb(232,232,232);

$GLOBAL__Scrollbar-Thumb_BackgroundColor: rgb(160,160,160);//rgb(192,192,192);
$GLOBAL__Scrollbar-Thumb_BackgroundColor__Hover: rgb(128,128,128);
$GLOBAL__Scrollbar-Thumb_BackgroundColor__Active: rgb(160,160,160);
$GLOBAL__Scrollbar-Thumb_BorderColor: transparent;//rgb(32,32,32);


// - Sizes
// --------------------------------------------------------------------------------

$GLOBAL__Scrollbar-Track_Size: 16px;
$GLOBAL__Scrollbar-Thumb_Size: 8px;

$GLOBAL__Icon_Size: 31px;
$GLOBAL__Subpanel-Icon_Size: 21px;

$GLOBAL__ButtonGroup_Margin: 4px;

$GLOBAL__TopBar_Height: $GLOBAL__Icon_Size + $GLOBAL__ButtonGroup_Margin * 2;
$GLOBAL__BottomBar_Height: $GLOBAL__TopBar_Height;

$GLOBAL__Slider_Size: $GLOBAL__BottomBar_Height * 2;


// - Z-Indexes
// --------------------------------------------------------------------------------

$GLOBAL__Main_ZIndex: 1;
	$GLOBAL__Main-Book_ZIndex: 1;

$GLOBAL__Scrollbar_ZIndex: $GLOBAL__Main_ZIndex + 1;

$GLOBAL__Sub_ZIndex: 10;

//$GLOBAL__Shade_ZIndex: $GLOBAL__Sub_ZIndex + 1;

$GLOBAL__Slider_ZIndex: 100;
$GLOBAL__Nombre_ZIndex: $GLOBAL__Slider_ZIndex + 1;

$GLOBAL__Veil_ZIndex: 1000;
	$GLOBAL__Veil-BottomBar_ZIndex: 1;
	$GLOBAL__Veil-Cover_ZIndex: 10;
	$GLOBAL__Veil-Play_ZIndex: 100;
	$GLOBAL__Veil-ByeBye_ZIndex: 1000;

$GLOBAL__Catcher_ZIndex: $GLOBAL__Veil_ZIndex + 1;

$GLOBAL__Panel_ZIndex: 10000;
	$GLOBAL__Panel-BookInfo_ZIndex: 1;
	$GLOBAL__Panel-BottomBar_ZIndex: $GLOBAL__Panel-BookInfo_ZIndex + 1;
	$GLOBAL__Panel-TopBar_ZIndex: 1000;

$GLOBAL__Help_ZIndex: $GLOBAL__Panel_ZIndex + 1;
$GLOBAL__PoweredBy_ZIndex: $GLOBAL__Panel_ZIndex + 1;

$GLOBAL__Menu_ZIndex: 100000;
$GLOBAL__Subpanel_ZIndex: $GLOBAL__Menu_ZIndex + 1;

$GLOBAL__Arrow_ZIndex: $GLOBAL__Menu_ZIndex + 1;

$GLOBAL__Notifier_ZIndex: 99999999999;
$GLOBAL__Spinner_ZIndex: $GLOBAL__Notifier_ZIndex - 1;

