// ================================================================================
// + Notifier
// --------------------------------------------------------------------------------


div#bibi-notifier {
	height: $GLOBAL__TopBar_Height;
	color: $Notifier_Color;
	background: $Notifier_Background;
	box-shadow: $Notifier_BoxShadow;
	p {
		line-height: ($GLOBAL__Icon_Size + $GLOBAL__ButtonGroup_Margin * 2) * 1.05;
		&.error {
			color: $Notifier_Color_Error;
		}
	}
}