// ================================================================================
// + Panel
// --------------------------------------------------------------------------------


div#bibi-panel {
	background: $Panel_Background;
}


// - BottomBar
// --------------------------------------------------------------------------------

div#bibi-panel:after {
	height: $GLOBAL__BottomBar_Height;
	border-color: $Panel-BottomBar_BorderTopColor;
	background: $Panel-BottomBar_Background;
}


// - BookInfo
// --------------------------------------------------------------------------------

div#bibi-panel-bookinfo {
}
	div#bibi-panel-bookinfo-box {
		margin-top: $GLOBAL__TopBar_Height;
		height: calc(100% - #{$GLOBAL__BottomBar_Height});
	}


// . Navigation
// --------------------------------------------------------------------------------

div#bibi-panel-bookinfo-navigation {
	nav {
		a {
			border-color: $Panel-Nav-A_TextDecorationColor;
			color: $Panel-Nav-A_Color;
			&:hover {
				border-color: $Panel-Nav-A_TextDecorationColor__Hover;
				color: $Panel-Nav-A_Color__Hover;
			}
		}
	}
}


// . Cover
// --------------------------------------------------------------------------------

div#bibi-panel-bookinfo-cover {
	border-color: $Panel-Cover_BorderColor;
	p#bibi-panel-bookinfo-cover-info {
		color: $Panel-Cover-Info_Color;
	}
}