// ================================================================================
// + Stage
// --------------------------------------------------------------------------------


html {
	&.iOS     { font-family: $HTML_FontFamily__iOS; }
	&.macOS   { font-family: $HTML_FontFamily__macOS; }
	&.Android { font-family: $HTML_FontFamily__Android; }
	&.Windows { font-family: $HTML_FontFamily__Windows; }
}


// - Checker
// --------------------------------------------------------------------------------

div#bibi-style-checker {
	left: $Slider_Size * -1; top: $Menu_Height * -1; // left: 0; top: 0;
	@include size($Slider_Size, $Menu_Height);
}


// - PoweredBy
// --------------------------------------------------------------------------------

div#bibi-poweredby {
	html.veil-opened & { height: $Veil-BottomBar_Height; }
	html.panel-opened & { height: $Panel-BottomBar_Height; }
}