// ================================================================================
// + Veil
// --------------------------------------------------------------------------------


div#bibi-veil {
	color: $Veil_Color;
	background: $Veil_Background;
	&:after { // BottomBar
		height: $Veil-BottomBar_Height;
		background: $Veil-BottomBar_Background;
	}
}


// - ByeBye
// --------------------------------------------------------------------------------

p#bibi-veil-byebye {
	max-height: calc(100% - #{ $Menu_Height + 10px * 2 + $Veil-BottomBar_Height });
	color: $Veil-ByeBye_Color;
	background: $Veil-ByeBye_Background;
}


// - Play
// --------------------------------------------------------------------------------

p#bibi-veil-play {
	background: $Veil-Play_BackgroundColor;  &:hover { background-color: $Veil-Play_BackgroundColor__Hover; }
	&:before { @include Veil-Play-Icon(); }
}


// - Cover
// --------------------------------------------------------------------------------


// - Catcher
// --------------------------------------------------------------------------------

div#bibi-catcher {
	&:after {
		$SCOPED__Catcher-Area_Margin: 24px;
		border-radius: $SCOPED__Catcher-Area_Margin;
		@include size(
			calc(100% - #{$SCOPED__Catcher-Area_Margin * 2 }),
			calc(100% - #{$SCOPED__Catcher-Area_Margin * 2 + $Veil-BottomBar_Height})
		);
		@include max(768px) { @include size(
			calc(100% - #{$SCOPED__Catcher-Area_Margin * 0.5 * 2 }),
			calc(100% - #{$SCOPED__Catcher-Area_Margin * 0.5 * 2 + $Veil-BottomBar_Height})
		); }
		transform: translateY(#{$Veil-BottomBar_Height * -0.5});
	}
}