/__archives
/__dist/**
!/__dist/bibi-bookshelf
/__dist/bibi-bookshelf/**
!/__dist/bibi-bookshelf/.gitignore
/__src/bibi/wardrobe/DRESS-TEMPLATE-*

node_modules
npm-debug.log

._*
.DS_Store
Icon
Thumbs.db