# OS Metafiles / Thumbnails
# --------------------------------------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*
Icon

# Node
# --------------------------------------------------------------------------------
node_modules
npm-debug.log

# Ruby / Gem / Rack
# --------------------------------------------------------------------------------
.bundle
vendor/bundle
# Gemfile
# Gemfile.lock

# Sprockets
# --------------------------------------------------------------------------------
# config.ru

# Bower
# --------------------------------------------------------------------------------
bower_components

# SASS
# --------------------------------------------------------------------------------
# config.rb
*.sass-cache

# BiB/i: Bookshelf
# --------------------------------------------------------------------------------
bib/bookshelf/*
!bib/bookshelf/.gitkeep
dev-bib/bookshelf/*
!dev-bib/bookshelf/.gitkeep


# Others
# --------------------------------------------------------------------------------
archives/*
*.zip
____IGNORE____

