// // -------------------------------------------------------------------------------------------------
// //.	Distilling
// ----------------------------------------------------------------------------------------------------


// //.		- common classes
// ----------------------------------------------------------------------------------------------------

.non-visual {
	display: block !important;
	position: absolute !important;
	overflow: hidden !important;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	left: 0 !important;
	top: 0 !important;
	width: 0 !important;
	height: 0 !important;
	background: transparent !important;
}

.separator {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: solid black;
	border-width: 1px 0 0;
	height: 0;
}

.uppercase {
	text-transform: uppercase !important;
}


