$mif_3d-rotation: "\e84d";
$mif_access-alarm: "\e190";
$mif_access-alarms: "\e191";
$mif_access-time: "\e192";
$mif_accessibility: "\e84e";
$mif_account-balance: "\e84f";
$mif_account-balance-wallet: "\e850";
$mif_account-box: "\e851";
$mif_account-circle: "\e853";
$mif_adb: "\e60e";
$mif_add: "\e145";
$mif_add-alarm: "\e193";
$mif_add-alert: "\e003";
$mif_add-box: "\e146";
$mif_add-circle: "\e147";
$mif_add-circle-outline: "\e148";
$mif_add-shopping-cart: "\e854";
$mif_add-to-photos: "\e39d";
$mif_adjust: "\e39e";
$mif_airline-seat-flat: "\e630";
$mif_airline-seat-flat-angled: "\e631";
$mif_airline-seat-individual-suite: "\e632";
$mif_airline-seat-legroom-extra: "\e633";
$mif_airline-seat-legroom-normal: "\e634";
$mif_airline-seat-legroom-reduced: "\e635";
$mif_airline-seat-recline-extra: "\e636";
$mif_airline-seat-recline-normal: "\e637";
$mif_airplanemode-active: "\e195";
$mif_airplanemode-inactive: "\e194";
$mif_airplay: "\e055";
$mif_alarm: "\e855";
$mif_alarm-add: "\e856";
$mif_alarm-off: "\e857";
$mif_alarm-on: "\e858";
$mif_album: "\e019";
$mif_android: "\e859";
$mif_announcement: "\e85a";
$mif_apps: "\e5c3";
$mif_archive: "\e149";
$mif_arrow-back: "\e5c4";
$mif_arrow-drop-down: "\e5c5";
$mif_arrow-drop-down-circle: "\e5c6";
$mif_arrow-drop-up: "\e5c7";
$mif_arrow-forward: "\e5c8";
$mif_aspect-ratio: "\e85b";
$mif_assessment: "\e85c";
$mif_assignment: "\e85d";
$mif_assignment-ind: "\e85e";
$mif_assignment-late: "\e85f";
$mif_assignment-return: "\e860";
$mif_assignment-returned: "\e861";
$mif_assignment-turned-in: "\e862";
$mif_assistant: "\e39f";
$mif_assistant-photo: "\e3a0";
$mif_attach-file: "\e226";
$mif_attach-money: "\e227";
$mif_attachment: "\e2bc";
$mif_audiotrack: "\e3a1";
$mif_autorenew: "\e863";
$mif_av-timer: "\e01b";
$mif_backspace: "\e14a";
$mif_backup: "\e864";
$mif_battery-alert: "\e19c";
$mif_battery-charging-full: "\e1a3";
$mif_battery-full: "\e1a4";
$mif_battery-std: "\e1a5";
$mif_battery-unknown: "\e1a6";
$mif_beenhere: "\e52d";
$mif_block: "\e14b";
$mif_bluetooth: "\e1a7";
$mif_bluetooth-audio: "\e60f";
$mif_bluetooth-connected: "\e1a8";
$mif_bluetooth-disabled: "\e1a9";
$mif_bluetooth-searching: "\e1aa";
$mif_blur-circular: "\e3a2";
$mif_blur-linear: "\e3a3";
$mif_blur-off: "\e3a4";
$mif_blur-on: "\e3a5";
$mif_book: "\e865";
$mif_bookmark: "\e866";
$mif_bookmark-border: "\e867";
$mif_border-all: "\e228";
$mif_border-bottom: "\e229";
$mif_border-clear: "\e22a";
$mif_border-color: "\e22b";
$mif_border-horizontal: "\e22c";
$mif_border-inner: "\e22d";
$mif_border-left: "\e22e";
$mif_border-outer: "\e22f";
$mif_border-right: "\e230";
$mif_border-style: "\e231";
$mif_border-top: "\e232";
$mif_border-vertical: "\e233";
$mif_brightness-1: "\e3a6";
$mif_brightness-2: "\e3a7";
$mif_brightness-3: "\e3a8";
$mif_brightness-4: "\e3a9";
$mif_brightness-5: "\e3aa";
$mif_brightness-6: "\e3ab";
$mif_brightness-7: "\e3ac";
$mif_brightness-auto: "\e1ab";
$mif_brightness-high: "\e1ac";
$mif_brightness-low: "\e1ad";
$mif_brightness-medium: "\e1ae";
$mif_broken-image: "\e3ad";
$mif_brush: "\e3ae";
$mif_bug-report: "\e868";
$mif_build: "\e869";
$mif_business: "\e0af";
$mif_cached: "\e86a";
$mif_cake: "\e7e9";
$mif_call: "\e0b0";
$mif_call-end: "\e0b1";
$mif_call-made: "\e0b2";
$mif_call-merge: "\e0b3";
$mif_call-missed: "\e0b4";
$mif_call-received: "\e0b5";
$mif_call-split: "\e0b6";
$mif_camera: "\e3af";
$mif_camera-alt: "\e3b0";
$mif_camera-enhance: "\e8fc";
$mif_camera-front: "\e3b1";
$mif_camera-rear: "\e3b2";
$mif_camera-roll: "\e3b3";
$mif_cancel: "\e5c9";
$mif_card-giftcard: "\e8f6";
$mif_card-membership: "\e8f7";
$mif_card-travel: "\e8f8";
$mif_cast: "\e307";
$mif_cast-connected: "\e308";
$mif_center-focus-strong: "\e3b4";
$mif_center-focus-weak: "\e3b5";
$mif_change-history: "\e86b";
$mif_chat: "\e0b7";
$mif_chat-bubble: "\e0ca";
$mif_chat-bubble-outline: "\e0cb";
$mif_check: "\e5ca";
$mif_check-box: "\e834";
$mif_check-box-outline-blank: "\e835";
$mif_check-circle: "\e86c";
$mif_chevron-left: "\e5cb";
$mif_chevron-right: "\e5cc";
$mif_chrome-reader-mode: "\e86d";
$mif_class: "\e86e";
$mif_clear: "\e14c";
$mif_clear-all: "\e0b8";
$mif_close: "\e5cd";
$mif_closed-caption: "\e01c";
$mif_cloud: "\e2bd";
$mif_cloud-circle: "\e2be";
$mif_cloud-done: "\e2bf";
$mif_cloud-download: "\e2c0";
$mif_cloud-off: "\e2c1";
$mif_cloud-queue: "\e2c2";
$mif_cloud-upload: "\e2c3";
$mif_code: "\e86f";
$mif_collections: "\e3b6";
$mif_collections-bookmark: "\e431";
$mif_color-lens: "\e3b7";
$mif_colorize: "\e3b8";
$mif_comment: "\e0b9";
$mif_compare: "\e3b9";
$mif_computer: "\e30a";
$mif_confirmation-number: "\e638";
$mif_contact-phone: "\e0cf";
$mif_contacts: "\e0ba";
$mif_content-copy: "\e14d";
$mif_content-cut: "\e14e";
$mif_content-paste: "\e14f";
$mif_control-point: "\e3ba";
$mif_control-point-duplicate: "\e3bb";
$mif_create: "\e150";
$mif_credit-card: "\e870";
$mif_crop: "\e3be";
$mif_crop-16-9: "\e3bc";
$mif_crop-3-2: "\e3bd";
$mif_crop-5-4: "\e3bf";
$mif_crop-7-5: "\e3c0";
$mif_crop-din: "\e3c1";
$mif_crop-free: "\e3c2";
$mif_crop-landscape: "\e3c3";
$mif_crop-original: "\e3c4";
$mif_crop-portrait: "\e3c5";
$mif_crop-square: "\e3c6";
$mif_dashboard: "\e871";
$mif_data-usage: "\e1af";
$mif_dehaze: "\e3c7";
$mif_delete: "\e872";
$mif_description: "\e873";
$mif_desktop-mac: "\e30b";
$mif_desktop-windows: "\e30c";
$mif_details: "\e3c8";
$mif_developer-board: "\e30d";
$mif_developer-mode: "\e1b0";
$mif_device-hub: "\e335";
$mif_devices: "\e1b1";
$mif_dialer-sip: "\e0bb";
$mif_dialpad: "\e0bc";
$mif_directions: "\e52e";
$mif_directions-bike: "\e52f";
$mif_directions-boat: "\e532";
$mif_directions-bus: "\e530";
$mif_directions-car: "\e531";
$mif_directions-railway: "\e534";
$mif_directions-run: "\e566";
$mif_directions-subway: "\e533";
$mif_directions-transit: "\e535";
$mif_directions-walk: "\e536";
$mif_disc-full: "\e610";
$mif_dns: "\e875";
$mif_do-not-disturb: "\e612";
$mif_do-not-disturb-alt: "\e611";
$mif_dock: "\e30e";
$mif_domain: "\e7ee";
$mif_done: "\e876";
$mif_done-all: "\e877";
$mif_drafts: "\e151";
$mif_drive-eta: "\e613";
$mif_dvr: "\e1b2";
$mif_edit: "\e3c9";
$mif_eject: "\e8fb";
$mif_email: "\e0be";
$mif_equalizer: "\e01d";
$mif_error: "\e000";
$mif_error-outline: "\e001";
$mif_event: "\e878";
$mif_event-available: "\e614";
$mif_event-busy: "\e615";
$mif_event-note: "\e616";
$mif_event-seat: "\e903";
$mif_exit-to-app: "\e879";
$mif_expand-less: "\e5ce";
$mif_expand-more: "\e5cf";
$mif_explicit: "\e01e";
$mif_explore: "\e87a";
$mif_exposure: "\e3ca";
$mif_exposure-neg-1: "\e3cb";
$mif_exposure-neg-2: "\e3cc";
$mif_exposure-plus-1: "\e3cd";
$mif_exposure-plus-2: "\e3ce";
$mif_exposure-zero: "\e3cf";
$mif_extension: "\e87b";
$mif_face: "\e87c";
$mif_fast-forward: "\e01f";
$mif_fast-rewind: "\e020";
$mif_favorite: "\e87d";
$mif_favorite-border: "\e87e";
$mif_feedback: "\e87f";
$mif_file-download: "\e2c4";
$mif_file-upload: "\e2c6";
$mif_filter: "\e3d3";
$mif_filter-1: "\e3d0";
$mif_filter-2: "\e3d1";
$mif_filter-3: "\e3d2";
$mif_filter-4: "\e3d4";
$mif_filter-5: "\e3d5";
$mif_filter-6: "\e3d6";
$mif_filter-7: "\e3d7";
$mif_filter-8: "\e3d8";
$mif_filter-9: "\e3d9";
$mif_filter-9-plus: "\e3da";
$mif_filter-b-and-w: "\e3db";
$mif_filter-center-focus: "\e3dc";
$mif_filter-drama: "\e3dd";
$mif_filter-frames: "\e3de";
$mif_filter-hdr: "\e3df";
$mif_filter-list: "\e152";
$mif_filter-none: "\e3e0";
$mif_filter-tilt-shift: "\e3e2";
$mif_filter-vintage: "\e3e3";
$mif_find-in-page: "\e880";
$mif_find-replace: "\e881";
$mif_flag: "\e153";
$mif_flare: "\e3e4";
$mif_flash-auto: "\e3e5";
$mif_flash-off: "\e3e6";
$mif_flash-on: "\e3e7";
$mif_flight: "\e539";
$mif_flight-land: "\e904";
$mif_flight-takeoff: "\e905";
$mif_flip: "\e3e8";
$mif_flip-to-back: "\e882";
$mif_flip-to-front: "\e883";
$mif_folder: "\e2c7";
$mif_folder-open: "\e2c8";
$mif_folder-shared: "\e2c9";
$mif_folder-special: "\e617";
$mif_font-download: "\e167";
$mif_format-align-center: "\e234";
$mif_format-align-justify: "\e235";
$mif_format-align-left: "\e236";
$mif_format-align-right: "\e237";
$mif_format-bold: "\e238";
$mif_format-clear: "\e239";
$mif_format-color-fill: "\e23a";
$mif_format-color-reset: "\e23b";
$mif_format-color-text: "\e23c";
$mif_format-indent-decrease: "\e23d";
$mif_format-indent-increase: "\e23e";
$mif_format-italic: "\e23f";
$mif_format-line-spacing: "\e240";
$mif_format-list-bulleted: "\e241";
$mif_format-list-numbered: "\e242";
$mif_format-paint: "\e243";
$mif_format-quote: "\e244";
$mif_format-size: "\e245";
$mif_format-strikethrough: "\e246";
$mif_format-textdirection-l-to-r: "\e247";
$mif_format-textdirection-r-to-l: "\e248";
$mif_format-underlined: "\e249";
$mif_forum: "\e0bf";
$mif_forward: "\e154";
$mif_forward-10: "\e056";
$mif_forward-30: "\e057";
$mif_forward-5: "\e058";
$mif_fullscreen: "\e5d0";
$mif_fullscreen-exit: "\e5d1";
$mif_functions: "\e24a";
$mif_gamepad: "\e30f";
$mif_games: "\e021";
$mif_gesture: "\e155";
$mif_get-app: "\e884";
$mif_gif: "\e908";
$mif_gps-fixed: "\e1b3";
$mif_gps-not-fixed: "\e1b4";
$mif_gps-off: "\e1b5";
$mif_grade: "\e885";
$mif_gradient: "\e3e9";
$mif_grain: "\e3ea";
$mif_graphic-eq: "\e1b8";
$mif_grid-off: "\e3eb";
$mif_grid-on: "\e3ec";
$mif_group: "\e7ef";
$mif_group-add: "\e7f0";
$mif_group-work: "\e886";
$mif_hd: "\e052";
$mif_hdr-off: "\e3ed";
$mif_hdr-on: "\e3ee";
$mif_hdr-strong: "\e3f1";
$mif_hdr-weak: "\e3f2";
$mif_headset: "\e310";
$mif_headset-mic: "\e311";
$mif_healing: "\e3f3";
$mif_hearing: "\e023";
$mif_help: "\e887";
$mif_help-outline: "\e8fd";
$mif_high-quality: "\e024";
$mif_highlight-off: "\e888";
$mif_history: "\e889";
$mif_home: "\e88a";
$mif_hotel: "\e53a";
$mif_hourglass-empty: "\e88b";
$mif_hourglass-full: "\e88c";
$mif_http: "\e902";
$mif_https: "\e88d";
$mif_image: "\e3f4";
$mif_image-aspect-ratio: "\e3f5";
$mif_import-export: "\e0c3";
$mif_inbox: "\e156";
$mif_indeterminate-check-box: "\e909";
$mif_info: "\e88e";
$mif_info-outline: "\e88f";
$mif_input: "\e890";
$mif_insert-chart: "\e24b";
$mif_insert-comment: "\e24c";
$mif_insert-drive-file: "\e24d";
$mif_insert-emoticon: "\e24e";
$mif_insert-invitation: "\e24f";
$mif_insert-link: "\e250";
$mif_insert-photo: "\e251";
$mif_invert-colors: "\e891";
$mif_invert-colors-off: "\e0c4";
$mif_iso: "\e3f6";
$mif_keyboard: "\e312";
$mif_keyboard-arrow-down: "\e313";
$mif_keyboard-arrow-left: "\e314";
$mif_keyboard-arrow-right: "\e315";
$mif_keyboard-arrow-up: "\e316";
$mif_keyboard-backspace: "\e317";
$mif_keyboard-capslock: "\e318";
$mif_keyboard-hide: "\e31a";
$mif_keyboard-return: "\e31b";
$mif_keyboard-tab: "\e31c";
$mif_keyboard-voice: "\e31d";
$mif_label: "\e892";
$mif_label-outline: "\e893";
$mif_landscape: "\e3f7";
$mif_language: "\e894";
$mif_laptop: "\e31e";
$mif_laptop-chromebook: "\e31f";
$mif_laptop-mac: "\e320";
$mif_laptop-windows: "\e321";
$mif_launch: "\e895";
$mif_layers: "\e53b";
$mif_layers-clear: "\e53c";
$mif_leak-add: "\e3f8";
$mif_leak-remove: "\e3f9";
$mif_lens: "\e3fa";
$mif_library-add: "\e02e";
$mif_library-books: "\e02f";
$mif_library-music: "\e030";
$mif_link: "\e157";
$mif_list: "\e896";
$mif_live-help: "\e0c6";
$mif_live-tv: "\e639";
$mif_local-activity: "\e53f";
$mif_local-airport: "\e53d";
$mif_local-atm: "\e53e";
$mif_local-bar: "\e540";
$mif_local-cafe: "\e541";
$mif_local-car-wash: "\e542";
$mif_local-convenience-store: "\e543";
$mif_local-dining: "\e556";
$mif_local-drink: "\e544";
$mif_local-florist: "\e545";
$mif_local-gas-station: "\e546";
$mif_local-grocery-store: "\e547";
$mif_local-hospital: "\e548";
$mif_local-hotel: "\e549";
$mif_local-laundry-service: "\e54a";
$mif_local-library: "\e54b";
$mif_local-mall: "\e54c";
$mif_local-movies: "\e54d";
$mif_local-offer: "\e54e";
$mif_local-parking: "\e54f";
$mif_local-pharmacy: "\e550";
$mif_local-phone: "\e551";
$mif_local-pizza: "\e552";
$mif_local-play: "\e553";
$mif_local-post-office: "\e554";
$mif_local-printshop: "\e555";
$mif_local-see: "\e557";
$mif_local-shipping: "\e558";
$mif_local-taxi: "\e559";
$mif_location-city: "\e7f1";
$mif_location-disabled: "\e1b6";
$mif_location-off: "\e0c7";
$mif_location-on: "\e0c8";
$mif_location-searching: "\e1b7";
$mif_lock: "\e897";
$mif_lock-open: "\e898";
$mif_lock-outline: "\e899";
$mif_looks: "\e3fc";
$mif_looks-3: "\e3fb";
$mif_looks-4: "\e3fd";
$mif_looks-5: "\e3fe";
$mif_looks-6: "\e3ff";
$mif_looks-one: "\e400";
$mif_looks-two: "\e401";
$mif_loop: "\e028";
$mif_loupe: "\e402";
$mif_loyalty: "\e89a";
$mif_mail: "\e158";
$mif_map: "\e55b";
$mif_markunread: "\e159";
$mif_markunread-mailbox: "\e89b";
$mif_memory: "\e322";
$mif_menu: "\e5d2";
$mif_merge-type: "\e252";
$mif_message: "\e0c9";
$mif_mic: "\e029";
$mif_mic-none: "\e02a";
$mif_mic-off: "\e02b";
$mif_mms: "\e618";
$mif_mode-comment: "\e253";
$mif_mode-edit: "\e254";
$mif_money-off: "\e25c";
$mif_monochrome-photos: "\e403";
$mif_mood: "\e7f2";
$mif_mood-bad: "\e7f3";
$mif_more: "\e619";
$mif_more-horiz: "\e5d3";
$mif_more-vert: "\e5d4";
$mif_mouse: "\e323";
$mif_movie: "\e02c";
$mif_movie-creation: "\e404";
$mif_music-note: "\e405";
$mif_my-location: "\e55c";
$mif_nature: "\e406";
$mif_nature-people: "\e407";
$mif_navigate-before: "\e408";
$mif_navigate-next: "\e409";
$mif_navigation: "\e55d";
$mif_network-cell: "\e1b9";
$mif_network-locked: "\e61a";
$mif_network-wifi: "\e1ba";
$mif_new-releases: "\e031";
$mif_nfc: "\e1bb";
$mif_no-sim: "\e0cc";
$mif_not-interested: "\e033";
$mif_note-add: "\e89c";
$mif_notifications: "\e7f4";
$mif_notifications-active: "\e7f7";
$mif_notifications-none: "\e7f5";
$mif_notifications-off: "\e7f6";
$mif_notifications-paused: "\e7f8";
$mif_offline-pin: "\e90a";
$mif_ondemand-video: "\e63a";
$mif_open-in-browser: "\e89d";
$mif_open-in-new: "\e89e";
$mif_open-with: "\e89f";
$mif_pages: "\e7f9";
$mif_pageview: "\e8a0";
$mif_palette: "\e40a";
$mif_panorama: "\e40b";
$mif_panorama-fish-eye: "\e40c";
$mif_panorama-horizontal: "\e40d";
$mif_panorama-vertical: "\e40e";
$mif_panorama-wide-angle: "\e40f";
$mif_party-mode: "\e7fa";
$mif_pause: "\e034";
$mif_pause-circle-filled: "\e035";
$mif_pause-circle-outline: "\e036";
$mif_payment: "\e8a1";
$mif_people: "\e7fb";
$mif_people-outline: "\e7fc";
$mif_perm-camera-mic: "\e8a2";
$mif_perm-contact-calendar: "\e8a3";
$mif_perm-data-setting: "\e8a4";
$mif_perm-device-information: "\e8a5";
$mif_perm-identity: "\e8a6";
$mif_perm-media: "\e8a7";
$mif_perm-phone-msg: "\e8a8";
$mif_perm-scan-wifi: "\e8a9";
$mif_person: "\e7fd";
$mif_person-add: "\e7fe";
$mif_person-outline: "\e7ff";
$mif_person-pin: "\e55a";
$mif_personal-video: "\e63b";
$mif_phone: "\e0cd";
$mif_phone-android: "\e324";
$mif_phone-bluetooth-speaker: "\e61b";
$mif_phone-forwarded: "\e61c";
$mif_phone-in-talk: "\e61d";
$mif_phone-iphone: "\e325";
$mif_phone-locked: "\e61e";
$mif_phone-missed: "\e61f";
$mif_phone-paused: "\e620";
$mif_phonelink: "\e326";
$mif_phonelink-erase: "\e0db";
$mif_phonelink-lock: "\e0dc";
$mif_phonelink-off: "\e327";
$mif_phonelink-ring: "\e0dd";
$mif_phonelink-setup: "\e0de";
$mif_photo: "\e410";
$mif_photo-album: "\e411";
$mif_photo-camera: "\e412";
$mif_photo-library: "\e413";
$mif_photo-size-select-actual: "\e432";
$mif_photo-size-select-large: "\e433";
$mif_photo-size-select-small: "\e434";
$mif_picture-as-pdf: "\e415";
$mif_picture-in-picture: "\e8aa";
$mif_pin-drop: "\e55e";
$mif_place: "\e55f";
$mif_play-arrow: "\e037";
$mif_play-circle-filled: "\e038";
$mif_play-circle-outline: "\e039";
$mif_play-for-work: "\e906";
$mif_playlist-add: "\e03b";
$mif_plus-one: "\e800";
$mif_poll: "\e801";
$mif_polymer: "\e8ab";
$mif_portable-wifi-off: "\e0ce";
$mif_portrait: "\e416";
$mif_power: "\e63c";
$mif_power-input: "\e336";
$mif_power-settings-new: "\e8ac";
$mif_present-to-all: "\e0df";
$mif_print: "\e8ad";
$mif_public: "\e80b";
$mif_publish: "\e255";
$mif_query-builder: "\e8ae";
$mif_question-answer: "\e8af";
$mif_queue: "\e03c";
$mif_queue-music: "\e03d";
$mif_radio: "\e03e";
$mif_radio-button-checked: "\e837";
$mif_radio-button-unchecked: "\e836";
$mif_rate-review: "\e560";
$mif_receipt: "\e8b0";
$mif_recent-actors: "\e03f";
$mif_redeem: "\e8b1";
$mif_redo: "\e15a";
$mif_refresh: "\e5d5";
$mif_remove: "\e15b";
$mif_remove-circle: "\e15c";
$mif_remove-circle-outline: "\e15d";
$mif_remove-red-eye: "\e417";
$mif_reorder: "\e8fe";
$mif_repeat: "\e040";
$mif_repeat-one: "\e041";
$mif_replay: "\e042";
$mif_replay-10: "\e059";
$mif_replay-30: "\e05a";
$mif_replay-5: "\e05b";
$mif_reply: "\e15e";
$mif_reply-all: "\e15f";
$mif_report: "\e160";
$mif_report-problem: "\e8b2";
$mif_restaurant-menu: "\e561";
$mif_restore: "\e8b3";
$mif_ring-volume: "\e0d1";
$mif_room: "\e8b4";
$mif_rotate-90-degrees-ccw: "\e418";
$mif_rotate-left: "\e419";
$mif_rotate-right: "\e41a";
$mif_router: "\e328";
$mif_satellite: "\e562";
$mif_save: "\e161";
$mif_scanner: "\e329";
$mif_schedule: "\e8b5";
$mif_school: "\e80c";
$mif_screen-lock-landscape: "\e1be";
$mif_screen-lock-portrait: "\e1bf";
$mif_screen-lock-rotation: "\e1c0";
$mif_screen-rotation: "\e1c1";
$mif_sd-card: "\e623";
$mif_sd-storage: "\e1c2";
$mif_search: "\e8b6";
$mif_security: "\e32a";
$mif_select-all: "\e162";
$mif_send: "\e163";
$mif_settings: "\e8b8";
$mif_settings-applications: "\e8b9";
$mif_settings-backup-restore: "\e8ba";
$mif_settings-bluetooth: "\e8bb";
$mif_settings-brightness: "\e8bd";
$mif_settings-cell: "\e8bc";
$mif_settings-ethernet: "\e8be";
$mif_settings-input-antenna: "\e8bf";
$mif_settings-input-component: "\e8c0";
$mif_settings-input-composite: "\e8c1";
$mif_settings-input-hdmi: "\e8c2";
$mif_settings-input-svideo: "\e8c3";
$mif_settings-overscan: "\e8c4";
$mif_settings-phone: "\e8c5";
$mif_settings-power: "\e8c6";
$mif_settings-remote: "\e8c7";
$mif_settings-system-daydream: "\e1c3";
$mif_settings-voice: "\e8c8";
$mif_share: "\e80d";
$mif_shop: "\e8c9";
$mif_shop-two: "\e8ca";
$mif_shopping-basket: "\e8cb";
$mif_shopping-cart: "\e8cc";
$mif_shuffle: "\e043";
$mif_signal-cellular-4-bar: "\e1c8";
$mif_signal-cellular-connected-no-internet-4-bar: "\e1cd";
$mif_signal-cellular-no-sim: "\e1ce";
$mif_signal-cellular-null: "\e1cf";
$mif_signal-cellular-off: "\e1d0";
$mif_signal-wifi-4-bar: "\e1d8";
$mif_signal-wifi-4-bar-lock: "\e1d9";
$mif_signal-wifi-off: "\e1da";
$mif_sim-card: "\e32b";
$mif_sim-card-alert: "\e624";
$mif_skip-next: "\e044";
$mif_skip-previous: "\e045";
$mif_slideshow: "\e41b";
$mif_smartphone: "\e32c";
$mif_sms: "\e625";
$mif_sms-failed: "\e626";
$mif_snooze: "\e046";
$mif_sort: "\e164";
$mif_sort-by-alpha: "\e053";
$mif_space-bar: "\e256";
$mif_speaker: "\e32d";
$mif_speaker-group: "\e32e";
$mif_speaker-notes: "\e8cd";
$mif_speaker-phone: "\e0d2";
$mif_spellcheck: "\e8ce";
$mif_star: "\e838";
$mif_star-border: "\e83a";
$mif_star-half: "\e839";
$mif_stars: "\e8d0";
$mif_stay-current-landscape: "\e0d3";
$mif_stay-current-portrait: "\e0d4";
$mif_stay-primary-landscape: "\e0d5";
$mif_stay-primary-portrait: "\e0d6";
$mif_stop: "\e047";
$mif_storage: "\e1db";
$mif_store: "\e8d1";
$mif_store-mall-directory: "\e563";
$mif_straighten: "\e41c";
$mif_strikethrough-s: "\e257";
$mif_style: "\e41d";
$mif_subject: "\e8d2";
$mif_subtitles: "\e048";
$mif_supervisor-account: "\e8d3";
$mif_surround-sound: "\e049";
$mif_swap-calls: "\e0d7";
$mif_swap-horiz: "\e8d4";
$mif_swap-vert: "\e8d5";
$mif_swap-vertical-circle: "\e8d6";
$mif_switch-camera: "\e41e";
$mif_switch-video: "\e41f";
$mif_sync: "\e627";
$mif_sync-disabled: "\e628";
$mif_sync-problem: "\e629";
$mif_system-update: "\e62a";
$mif_system-update-alt: "\e8d7";
$mif_tab: "\e8d8";
$mif_tab-unselected: "\e8d9";
$mif_tablet: "\e32f";
$mif_tablet-android: "\e330";
$mif_tablet-mac: "\e331";
$mif_tag-faces: "\e420";
$mif_tap-and-play: "\e62b";
$mif_terrain: "\e564";
$mif_text-format: "\e165";
$mif_textsms: "\e0d8";
$mif_texture: "\e421";
$mif_theaters: "\e8da";
$mif_thumb-down: "\e8db";
$mif_thumb-up: "\e8dc";
$mif_thumbs-up-down: "\e8dd";
$mif_time-to-leave: "\e62c";
$mif_timelapse: "\e422";
$mif_timer: "\e425";
$mif_timer-10: "\e423";
$mif_timer-3: "\e424";
$mif_timer-off: "\e426";
$mif_toc: "\e8de";
$mif_today: "\e8df";
$mif_toll: "\e8e0";
$mif_tonality: "\e427";
$mif_toys: "\e332";
$mif_track-changes: "\e8e1";
$mif_traffic: "\e565";
$mif_transform: "\e428";
$mif_translate: "\e8e2";
$mif_trending-down: "\e8e3";
$mif_trending-flat: "\e8e4";
$mif_trending-up: "\e8e5";
$mif_tune: "\e429";
$mif_turned-in: "\e8e6";
$mif_turned-in-not: "\e8e7";
$mif_tv: "\e333";
$mif_undo: "\e166";
$mif_unfold-less: "\e5d6";
$mif_unfold-more: "\e5d7";
$mif_usb: "\e1e0";
$mif_verified-user: "\e8e8";
$mif_vertical-align-bottom: "\e258";
$mif_vertical-align-center: "\e259";
$mif_vertical-align-top: "\e25a";
$mif_vibration: "\e62d";
$mif_video-library: "\e04a";
$mif_videocam: "\e04b";
$mif_videocam-off: "\e04c";
$mif_view-agenda: "\e8e9";
$mif_view-array: "\e8ea";
$mif_view-carousel: "\e8eb";
$mif_view-column: "\e8ec";
$mif_view-comfy: "\e42a";
$mif_view-compact: "\e42b";
$mif_view-day: "\e8ed";
$mif_view-headline: "\e8ee";
$mif_view-list: "\e8ef";
$mif_view-module: "\e8f0";
$mif_view-quilt: "\e8f1";
$mif_view-stream: "\e8f2";
$mif_view-week: "\e8f3";
$mif_vignette: "\e435";
$mif_visibility: "\e8f4";
$mif_visibility-off: "\e8f5";
$mif_voice-chat: "\e62e";
$mif_voicemail: "\e0d9";
$mif_volume-down: "\e04d";
$mif_volume-mute: "\e04e";
$mif_volume-off: "\e04f";
$mif_volume-up: "\e050";
$mif_vpn-key: "\e0da";
$mif_vpn-lock: "\e62f";
$mif_wallpaper: "\e1bc";
$mif_warning: "\e002";
$mif_watch: "\e334";
$mif_wb-auto: "\e42c";
$mif_wb-cloudy: "\e42d";
$mif_wb-incandescent: "\e42e";
$mif_wb-iridescent: "\e436";
$mif_wb-sunny: "\e430";
$mif_wc: "\e63d";
$mif_web: "\e051";
$mif_whatshot: "\e80e";
$mif_widgets: "\e1bd";
$mif_wifi: "\e63e";
$mif_wifi-lock: "\e1e1";
$mif_wifi-tethering: "\e1e2";
$mif_work: "\e8f9";
$mif_wrap-text: "\e25b";
$mif_youtube-searched-for: "\e8fa";
$mif_zoom-in: "\e8ff";
$mif_zoom-out: "\e900";