// ================================================================================
// + Base
// --------------------------------------------------------------------------------


// - Colors & Interaction
// --------------------------------------------------------------------------------

// Default
$Icon-Font_PaintColor:    rgb(144,144,144);
$Icon-Font_OutlineColor:  transparent;
$Icon-Shape_PaintColor:   white;
$Icon-Shape_OutlineColor: $Icon-Font_PaintColor;
$Icon_BackgroundColor:    rgba(white, 0.9);
$Icon_BorderColor:        rgb(236,236,236);
$Icon_Transform:          none;

// Default:Hover
$Icon-Font_PaintColor__Hover:    rgb(64,64,64);
$Icon-Font_OutlineColor__Hover:  $Icon-Font_OutlineColor;
$Icon-Shape_PaintColor__Hover:   $Icon-Shape_PaintColor;
$Icon-Shape_OutlineColor__Hover: $Icon-Font_PaintColor__Hover;
$Icon_BackgroundColor__Hover:    $Icon_BackgroundColor;
$Icon_BorderColor__Hover:        rgb(192,192,192);
$Icon_Transform__Hover:          $Icon_Transform;

// Active
$Icon-Font_PaintColor__Active:    $Icon_BackgroundColor;
$Icon-Font_OutlineColor__Active:  transparent;
$Icon-Shape_PaintColor__Active:   $Icon-Shape_PaintColor;
$Icon-Shape_OutlineColor__Active: $Icon-Font_PaintColor;
$Icon_BackgroundColor__Active:    $Icon-Font_PaintColor;
$Icon_BorderColor__Active:        darken($Icon_BorderColor, 30%);
$Icon_Transform__Active:          rotate(360deg);

// Active:Hover
$Icon-Font_PaintColor__Active-Hover:    $Icon-Font_PaintColor__Active;
$Icon-Font_OutlineColor__Active-Hover:  transparent;
$Icon-Shape_PaintColor__Active-Hover:   $Icon-Shape_PaintColor__Active;
$Icon-Shape_OutlineColor__Active-Hover: lighten($Icon-Shape_OutlineColor__Active, 10%);
$Icon_BackgroundColor__Active-Hover:    rgb(96,96,96);
$Icon_BorderColor__Active-Hover:        lighten($Icon_BorderColor__Active, 10%);
$Icon_Transform__Active-Hover:          $Icon_Transform__Active;

// Transition
$Icon_Transition: 
	color 0.125s linear,
	background-color 0.125s linear,
	border-color 0.125s linear,
	text-shadow 0.125s linear,
	box-shadow 0.125s linear,
	transform 0.25s ease
;

// [In Subpanel] Default
$Subpanel-Icon-Font_PaintColor:    rgb(128,128,128);
$Subpanel-Icon-Font_OutlineColor:  transparent;
$Subpanel-Icon-Shape_PaintColor:   white;
$Subpanel-Icon-Shape_OutlineColor: rgb(144,144,144);
$Subpanel-Icon_BackgroundColor:    rgb(248,248,248);
$Subpanel-Icon_BorderColor:        rgb(192,192,192);

// [In Subpanel] Default:Hover
$Subpanel-Icon-Font_PaintColor__Hover:    $GLOBAL__Subpanel_KeyColor;
$Subpanel-Icon-Font_OutlineColor__Hover:  transparent;
$Subpanel-Icon-Shape_PaintColor__Hover:   white;
$Subpanel-Icon-Shape_OutlineColor__Hover: $GLOBAL__Subpanel_KeyColor;
$Subpanel-Icon_BackgroundColor__Hover:    lighten($GLOBAL__Subpanel_KeyColor, 45%);
$Subpanel-Icon_BorderColor__Hover:        $GLOBAL__Subpanel_KeyColor;

// [In Subpanel] Active
$Subpanel-Icon-Font_PaintColor__Active:    white;
$Subpanel-Icon-Font_OutlineColor__Active:  transparent;
$Subpanel-Icon-Shape_PaintColor__Active:   white;
$Subpanel-Icon-Shape_OutlineColor__Active: $GLOBAL__Subpanel_KeyColor;
$Subpanel-Icon_BackgroundColor__Active:    $GLOBAL__Subpanel_KeyColor;
$Subpanel-Icon_BorderColor__Active:        $GLOBAL__Subpanel_KeyColor;

// [In Subpanel] Active:Hover
$Subpanel-Icon-Font_PaintColor__Active-Hover:    white;
$Subpanel-Icon-Font_OutlineColor__Active-Hover:  transparent;
$Subpanel-Icon-Shape_PaintColor__Active-Hover:   white;
$Subpanel-Icon-Shape_OutlineColor__Active-Hover: $GLOBAL__Subpanel_KeyColor;
$Subpanel-Icon_BackgroundColor__Active-Hover:    lighten($GLOBAL__Subpanel_KeyColor, 20%);
$Subpanel-Icon_BorderColor__Active-Hover:        $GLOBAL__Subpanel_KeyColor;

// [In Subpanel] Transition
$Subpanel-Icon_Transition: $Icon_Transition;




// ================================================================================
// + Each
// --------------------------------------------------------------------------------


// - Shapes of Items and Spreads
// --------------------------------------------------------------------------------


// - PanelToggler (.bibi-icon-toggle-panel)
// --------------------------------------------------------------------------------

@mixin PanelToggler() {
	$SCOPED__PanelToggler-Bar_Width: 19px;
	$SCOPED__PanelToggler-Bar_Height: 2px;
	$SCOPED__PanelToggler-Bar_Isolation: 4px;
	$SCOPED__PanelToggler-Bar_BorderRadius: 1px;
	>span {
		left: 0;
		right: 0;
		margin: auto;
		@include size($SCOPED__PanelToggler-Bar_Width, $SCOPED__PanelToggler-Bar_Height);
		border-radius: $SCOPED__PanelToggler-Bar_BorderRadius;
	}
	& {
		$SCOPED__Bars_Top: ($GLOBAL__Icon_Size - ($SCOPED__PanelToggler-Bar_Height * 3 + $SCOPED__PanelToggler-Bar_Isolation * 2)) / 2 - 1px;
		>span.bar-1 { top: $SCOPED__Bars_Top; }
		>span.bar-2 { top: $SCOPED__Bars_Top + $SCOPED__PanelToggler-Bar_Height + $SCOPED__PanelToggler-Bar_Isolation; }
		>span.bar-3 { top: $SCOPED__Bars_Top + $SCOPED__PanelToggler-Bar_Height + $SCOPED__PanelToggler-Bar_Isolation + $SCOPED__PanelToggler-Bar_Height + $SCOPED__PanelToggler-Bar_Isolation; }
	}
	.bibi-button.active & {
		>span.bar-1 { opacity: 1; transform: translateY(($SCOPED__PanelToggler-Bar_Isolation + $SCOPED__PanelToggler-Bar_Height) *  1) rotate( 135deg); }
		>span.bar-2 { opacity: 0; transform: translateY(($SCOPED__PanelToggler-Bar_Isolation + $SCOPED__PanelToggler-Bar_Height) *  0) rotate(-360deg); }
		>span.bar-3 { opacity: 1; transform: translateY(($SCOPED__PanelToggler-Bar_Isolation + $SCOPED__PanelToggler-Bar_Height) * -1) rotate( 225deg); }
	}
}


// - Button Icons
// --------------------------------------------------------------------------------

@mixin ButtonIcon() {
	@include FontIcon_InlineBlock("Material Icons");
	content: "";
	@include offset(0);
	margin: 0;
	@include size(100%);
	text-align: center;
	vertical-align: middle;
	line-height: $GLOBAL__Icon_Size * 0.98;
	.bibi-subpanel & { line-height: $GLOBAL__Subpanel-Icon_Size * 0.98; }
}

@mixin ButtonIcon_Config() {
	content: "\e8b8"; // touch_app
	font-size: $GLOBAL__Icon_Size * 0.75;
}

@mixin ButtonIcon_Share() {
	content: "\e80d"; // share
	font-size: $GLOBAL__Icon_Size * 20/31;
	font-weight: bold;
	html.InternetExplorer & { font-weight: normal; }
}

@mixin ButtonIcon_UseFullBreadth() {
	content: "\e8c4"; // settings_overscan
	font-size: $GLOBAL__Icon_Size * 0.5;
	.bibi-subpanel & { line-height: $GLOBAL__Subpanel-Icon_Size * .95238; }
}

@mixin ButtonIcon_ToggleFullscreen() {
	content: "\e5d0"; // fullscreen
	.bibi-subpanel & {
		font-size: $GLOBAL__Subpanel-Icon_Size * 0.9;
		html.InternetExplorer & { top: -.05em; }
	}
	*:fullscreen & {
		content: "\e5d1"; // fullscreen_exit
	}
}

@mixin ButtonIcon_OpenNewWindow() {
	content: "\e89e"; // open_in_new
	font-size: $GLOBAL__Icon_Size * 21/31;
	.bibi-subpanel & {
		margin-top: -.025em;
		font-size: $GLOBAL__Subpanel-Icon_Size * 16/21;
	}
}

@mixin ButtonIcon_ChangeFontSize() {
	content: "format_size";
	font-size: 24px;
	line-height: 1.4;
}

@mixin ButtonIcon_FontSizeCommon() {
	content: "title";
	font-size: 13px;
	line-height: 1.4;
}

$FontSizeIcon_ScaleStep: 1.44;

@mixin ButtonIcon_FontSizeXL() {
	.bibi-button.default &, .bibi-button.default.hover & { transform: rotate(  0deg) scale(1 * $FontSizeIcon_ScaleStep * $FontSizeIcon_ScaleStep); }
	.bibi-button.active &,  .bibi-button.active.hover  & { transform: rotate(360deg) scale(1 * $FontSizeIcon_ScaleStep * $FontSizeIcon_ScaleStep); }
}

@mixin ButtonIcon_FontSizeL() {
	.bibi-button.default &, .bibi-button.default.hover & { transform: rotate(  0deg) scale(1 * $FontSizeIcon_ScaleStep); }
	.bibi-button.active &,  .bibi-button.active.hover  & { transform: rotate(360deg) scale(1 * $FontSizeIcon_ScaleStep); }
}

@mixin ButtonIcon_FontSizeM() {
	.bibi-button.default &, .bibi-button.default.hover & { transform: rotate(  0deg) scale(1); }
	.bibi-button.active &,  .bibi-button.active.hover  & { transform: rotate(360deg) scale(1); }
}

@mixin ButtonIcon_FontSizeS() {
	.bibi-button.default &, .bibi-button.default.hover & { transform: rotate(  0deg) scale(1 / $FontSizeIcon_ScaleStep); }
	.bibi-button.active &,  .bibi-button.active.hover  & { transform: rotate(360deg) scale(1 / $FontSizeIcon_ScaleStep); }
}

@mixin ButtonIcon_FontSizeXS() {
	.bibi-button.default &, .bibi-button.default.hover & { transform: rotate(  0deg) scale(1 / $FontSizeIcon_ScaleStep / $FontSizeIcon_ScaleStep); }
	.bibi-button.active &,  .bibi-button.active.hover  & { transform: rotate(360deg) scale(1 / $FontSizeIcon_ScaleStep / $FontSizeIcon_ScaleStep); }
}

@mixin ButtonIcon_LoupeCommon() {
	font-size: 26px;
	text-indent: 1px;
	line-height: 1.2;
}

@mixin ButtonIcon_LoupeZoomIn() {
	content: "\e8ff"; // zoom_in
	.bibi-button.active &,  .bibi-button.active.hover  & { transform: scale(1.5); }
}

@mixin ButtonIcon_LoupeZoomOut() {
	content: "\e900"; // zoom_out
	.bibi-button.active &,  .bibi-button.active.hover  & { transform: scale(0.67); }
}

@mixin ButtonIcon_LoupeReset() {
	content: "\e8b6"; // search
	.bibi-button.active &,  .bibi-button.active.hover  & { transform: scale(0.33); }
}

@mixin ButtonIcon_LoupeReset_Overlay() {
	content: "=";
	display: block;
	position: absolute;
	@include offset(22%, auto, auto, 22%);
	margin: auto;
	@include size(1em);
	font-size: 1em * (13px / 18px);
	line-height: 1;
	html.Windows & { @include offset(27%, auto, auto, 25%); }
	.bibi-button.active &,  .bibi-button.active.hover  & { transform: scale(0.33); }
}






