// ================================================================================
// + Slider
// --------------------------------------------------------------------------------

$Slider_Transition__Open: .01s ease;
$Slider_Transition__Close: .1s ease;

$Slider_BorderColor__SliderOpened: darken($GLOBAL__Scrollbar-Track_BackgroundColor, 20%);
$Slider_Background__SliderOpened: rgb(222,222,222);
$Slider_BoxShadow__SliderOpened: 0 0 16px rgba(black, 0.125);


// - UI Box (Edgebar Box, Bookmap Box)
// --------------------------------------------------------------------------------

$Slider_PaddingStartEnd__SliderOpened: $GLOBAL__Scrollbar-Thumb_Size;
$Slider_PaddingBeforeAfter__SliderOpened: $GLOBAL__Scrollbar-Thumb_Size;//$GLOBAL__Icon_Size + $GLOBAL__ButtonGroup_Margin * 2;


// - Edgebar, Bookmap
// --------------------------------------------------------------------------------


// - Edgebar
// --------------------------------------------------------------------------------

$Slider-Edgebar_Background: white;


// - Bookmap
// --------------------------------------------------------------------------------


// - . Bookmap > Spread Box
// --------------------------------------------------------------------------------

$Slider-Bookmap-SpreadBox_Color: transparent;
$Slider-Bookmap-SpreadBox_Color__Hover: rgba(steelblue, .33);


// - . Bookmap > Spread Box > Spread
// --------------------------------------------------------------------------------

$Slider-Bookmap-Spread_Background: rgba(white, .5);


// - . Bookmap > Spread Box > Spread > Item Box
// --------------------------------------------------------------------------------

$Slider-Bookmap-ItemBox_BorderColor__ForReflowable: rgb(216,216,216);


// - . Bookmap > Spread Box > Spread > Item Box > Item
// --------------------------------------------------------------------------------


// - . Bookmap > Spread Box > Spread > Item Box > Page
// --------------------------------------------------------------------------------

$Slider-Bookmap-Page_Color__SliderOpened: white;
$Slider-Bookmap-Page_Color__SliderOpened__Hover: lighten(steelblue, 33%);
$Slider-Bookmap-Page_BorderColor__SliderOpened__Hover: $Slider-Bookmap-Page_Color__SliderOpened__Hover;


// - . Rail
// --------------------------------------------------------------------------------

$Slider-Rail_Width__SliderOpened: 3px;
$Slider-Rail-Progress_Width__SliderOpened: 3px;
$Slider-Rail_Color:                rgba(gray,      0.250);//rgba($GLOBAL__Scrollbar-Thumb_BackgroundColor, .5);
$Slider-Rail_Color__Hover:          rgba(gray,      0.250);//rgba(steelblue, 0.33);//rgba($GLOBAL__Scrollbar-Thumb_BackgroundColor, .5);
$Slider-Rail-Progress_Color:       rgba(steelblue, 1.000);//rgba($GLOBAL__Scrollbar-Thumb_BackgroundColor, .5);
$Slider-Rail-Progress_Color__Hover: rgba(steelblue, 1.000);//rgba($GLOBAL__Scrollbar-Thumb_BackgroundColor, .5);


// - . Thumb
// --------------------------------------------------------------------------------

$Slider-Thumb-Circle_Size: $GLOBAL__Scrollbar-Thumb_Size * 2;
$Slider-Thumb-Circle_BackgroundColor: steelblue;

$Slider-Thumb-Circle_BorderColor: $Slider-Thumb-Circle_BackgroundColor;
$Slider-Thumb-Circle_BorderWidth: 0;

$Slider-Thumb-Circle-Halo_Width: 2px;
$Slider-Thumb-Circle-Halo_Color: rgba(white, .75);