// ================================================================================
// + Spinner
// --------------------------------------------------------------------------------


$Spinner_Size: 56px;
@keyframes Spinner_Animation {
	  0% { transform: rotate(  0deg); }
	100% { transform: rotate(360deg); }
}
$Spinner_Animation: Spinner_Animation 1.5s linear 0s infinite normal;

$Spinner-Core_Size: 24px;
$Spinner-Core_Color: rgba(192,192,192, 0.75);
$Spinner-Core_Opacity: 0.75;
@keyframes Spinner-Core_Animation {
	  0% { transform: scale(1.00); opacity: 0.75; }
	 25% { transform: scale(1.25); opacity: 0.50; }
	 50% { transform: scale(1.00); opacity: 0.75; }
	 75% { transform: scale(0.80); opacity: 1.00; }
	100% { transform: scale(1.00); opacity: 0.75; }
}
$Spinner_Core_Animation: Spinner-Core_Animation 2.25s ease 0s infinite normal;

$Spinner-Halo_Size: 32px;
$Spinner-Halo_Width: 1.5px;
$Spinner-Halo_Color: rgba(192,192,192, 0.5);
$Spinner-Halo_Opacity: 0.75;
@keyframes Spinner-Halo_Animation {
	  0% { transform: scale(1.00); opacity: 0.75; }
	 25% { transform: scale(1.25); opacity: 0.50; }
	 50% { transform: scale(1.00); opacity: 0.75; }
	 75% { transform: scale(0.80); opacity: 1.00; }
	100% { transform: scale(1.00); opacity: 0.75; }
}
$Spinner_Halo_Animation: Spinner-Halo_Animation 2.25s ease 0s infinite normal;

$Spinner_HowManyBits: 12; // 0-12
$Spinner_Bit_Size: 3px;
@function Spinner_Bit_Color($i) {
	@return darken(rgb(255,255,255), (72% / $Spinner_HowManyBits * $i));
}
@function Spinner_Bit_Transform($i) {
	@return rotate(#{360deg / $Spinner_HowManyBits * $i});
}
/*
@keyframes Spinner-Bits_Animation {
	  0% { @include size(3px     ); opacity: 1.0; }
	 25% { @include size(1px     ); }
	 50% { @include size(1px, 6px); opacity: 1.0; }
	 75% { @include size(1px     ); }
	100% { @include size(3px     ); opacity: 1.0; }
}*/
$Spinner_Bits_Animation: none;//Spinner-Bits_Animation 4s ease-in-out 0s infinite normal;