@charset "utf-8";

@import "../../res/styles/_common-lib";

#bibi-buttongroup_loupe {
	html.waiting &,
	html.book-reflowable & {
		display: none;
	}
}

.bibi-button {
	.bibi-button-iconbox {
		.bibi-icon-loupe {
			&:before, &:after {
				display: block;
				position: absolute;
				margin: auto;
				width: 1em;
				height: 1em;
				line-height: 1;
			}
			&:before {
				@include font-icon("FontAwesome");
				@include trbl(-100%);
			}
		}
		.bibi-icon-loupe-menu {
			&:before {
				content: "\f00e";
				font-size: 22px;
			}
		}
		.bibi-icon-loupe-zoomin,
		.bibi-icon-loupe-zoomout,
		.bibi-icon-loupe-reset {
			&:before {
				font-size: 18px;
			}
		}
		.bibi-icon-loupe-zoomin {
			&:before {
				content: "\f00e";
			}
		}
		.bibi-icon-loupe-zoomout {
			&:before {
				content: "\f010";
			}
		}
		.bibi-icon-loupe-reset {
			&:before {
				content: "\f002";
			}
			&:after {
				content: "=";
				display: block;
				position: absolute;
				@include trbl(23%, auto, auto, 25%);
				margin: auto;
				width: 1em;
				height: 1em;
				font-size: 1em * (13px / 18px);
				line-height: 1;
			}
			html.Windows &:after {
				@include trbl(29%, auto, auto, 25%);
			}
			#bibi-subpanel_loupe &:after {
				@include trbl(11%, auto, auto, 17%);
			}
		}
	}
	.bibi-button-label {
		span.non-visual-in-label {
			@extend .non-visual;
		}
	}
}
.bibi-button.active {
	.bibi-button-iconbox {
		.bibi-icon-loupe-zoomin {
			&:before {
				html.loupe-with-keys & {
					transform: rotate(360deg);
				}
				html.loupe-pointer-only & {
					transform: scale(1.5);
				}
			}
		}
		.bibi-icon-loupe-zoomout {
			&:before {
				transform: scale(0.67);
			}
		}
		.bibi-icon-loupe-reset {
			&:before, &:after {
				transform: scale(0.67);
			}
		}
	}
}
.bibi-button.disabled {
	.bibi-button-iconbox {
		.bibi-icon-loupe-zoomin,
		.bibi-icon-loupe-zoomout,
		.bibi-icon-loupe-reset {
			&:before, &:after {
				opacity: 0.33;
			}
		}
	}
}