$ElegantIcons_arrow_up: "\21";
$ElegantIcons_arrow_down: "\22";
$ElegantIcons_arrow_left: "\23";
$ElegantIcons_arrow_right: "\24";
$ElegantIcons_arrow_left-up: "\25";
$ElegantIcons_arrow_right-up: "\26";
$ElegantIcons_arrow_right-down: "\27";
$ElegantIcons_arrow_left-down: "\28";
$ElegantIcons_arrow-up-down: "\29";
$ElegantIcons_arrow_up-down_alt: "\2a";
$ElegantIcons_arrow_left-right_alt: "\2b";
$ElegantIcons_arrow_left-right: "\2c";
$ElegantIcons_arrow_expand_alt2: "\2d";
$ElegantIcons_arrow_expand_alt: "\2e";
$ElegantIcons_arrow_condense: "\2f";
$ElegantIcons_arrow_expand: "\30";
$ElegantIcons_arrow_move: "\31";
$ElegantIcons_arrow_carrot-up: "\32";
$ElegantIcons_arrow_carrot-down: "\33";
$ElegantIcons_arrow_carrot-left: "\34";
$ElegantIcons_arrow_carrot-right: "\35";
$ElegantIcons_arrow_carrot-2up: "\36";
$ElegantIcons_arrow_carrot-2down: "\37";
$ElegantIcons_arrow_carrot-2left: "\38";
$ElegantIcons_arrow_carrot-2right: "\39";
$ElegantIcons_arrow_carrot-up_alt2: "\3a";
$ElegantIcons_arrow_carrot-down_alt2: "\3b";
$ElegantIcons_arrow_carrot-left_alt2: "\3c";
$ElegantIcons_arrow_carrot-right_alt2: "\3d";
$ElegantIcons_arrow_carrot-2up_alt2: "\3e";
$ElegantIcons_arrow_carrot-2down_alt2: "\3f";
$ElegantIcons_arrow_carrot-2left_alt2: "\40";
$ElegantIcons_arrow_carrot-2right_alt2: "\41";
$ElegantIcons_arrow_triangle-up: "\42";
$ElegantIcons_arrow_triangle-down: "\43";
$ElegantIcons_arrow_triangle-left: "\44";
$ElegantIcons_arrow_triangle-right: "\45";
$ElegantIcons_arrow_triangle-up_alt2: "\46";
$ElegantIcons_arrow_triangle-down_alt2: "\47";
$ElegantIcons_arrow_triangle-left_alt2: "\48";
$ElegantIcons_arrow_triangle-right_alt2: "\49";
$ElegantIcons_arrow_back: "\4a";
$ElegantIcons_icon_minus-06: "\4b";
$ElegantIcons_icon_plus: "\4c";
$ElegantIcons_icon_close: "\4d";
$ElegantIcons_icon_check: "\4e";
$ElegantIcons_icon_minus_alt2: "\4f";
$ElegantIcons_icon_plus_alt2: "\50";
$ElegantIcons_icon_close_alt2: "\51";
$ElegantIcons_icon_check_alt2: "\52";
$ElegantIcons_icon_zoom-out_alt: "\53";
$ElegantIcons_icon_zoom-in_alt: "\54";
$ElegantIcons_icon_search: "\55";
$ElegantIcons_icon_box-empty: "\56";
$ElegantIcons_icon_box-selected: "\57";
$ElegantIcons_icon_minus-box: "\58";
$ElegantIcons_icon_plus-box: "\59";
$ElegantIcons_icon_box-checked: "\5a";
$ElegantIcons_icon_circle-empty: "\5b";
$ElegantIcons_icon_circle-slelected: "\5c";
$ElegantIcons_icon_stop_alt2: "\5d";
$ElegantIcons_icon_stop: "\5e";
$ElegantIcons_icon_pause_alt2: "\5f";
$ElegantIcons_icon_pause: "\60";
$ElegantIcons_icon_menu: "\61";
$ElegantIcons_icon_menu-square_alt2: "\62";
$ElegantIcons_icon_menu-circle_alt2: "\63";
$ElegantIcons_icon_ul: "\64";
$ElegantIcons_icon_ol: "\65";
$ElegantIcons_icon_adjust-horiz: "\66";
$ElegantIcons_icon_adjust-vert: "\67";
$ElegantIcons_icon_document_alt: "\68";
$ElegantIcons_icon_documents_alt: "\69";
$ElegantIcons_icon_pencil: "\6a";
$ElegantIcons_icon_pencil-edit_alt: "\6b";
$ElegantIcons_icon_pencil-edit: "\6c";
$ElegantIcons_icon_folder-alt: "\6d";
$ElegantIcons_icon_folder-open_alt: "\6e";
$ElegantIcons_icon_folder-add_alt: "\6f";
$ElegantIcons_icon_info_alt: "\70";
$ElegantIcons_icon_error-oct_alt: "\71";
$ElegantIcons_icon_error-circle_alt: "\72";
$ElegantIcons_icon_error-triangle_alt: "\73";
$ElegantIcons_icon_question_alt2: "\74";
$ElegantIcons_icon_question: "\75";
$ElegantIcons_icon_comment_alt: "\76";
$ElegantIcons_icon_chat_alt: "\77";
$ElegantIcons_icon_vol-mute_alt: "\78";
$ElegantIcons_icon_volume-low_alt: "\79";
$ElegantIcons_icon_volume-high_alt: "\7a";
$ElegantIcons_icon_quotations: "\7b";
$ElegantIcons_icon_quotations_alt2: "\7c";
$ElegantIcons_icon_clock_alt: "\7d";
$ElegantIcons_icon_lock_alt: "\7e";
$ElegantIcons_icon_lock-open_alt: "\e000";
$ElegantIcons_icon_key_alt: "\e001";
$ElegantIcons_icon_cloud_alt: "\e002";
$ElegantIcons_icon_cloud-upload_alt: "\e003";
$ElegantIcons_icon_cloud-download_alt: "\e004";
$ElegantIcons_icon_image: "\e005";
$ElegantIcons_icon_images: "\e006";
$ElegantIcons_icon_lightbulb_alt: "\e007";
$ElegantIcons_icon_gift_alt: "\e008";
$ElegantIcons_icon_house_alt: "\e009";
$ElegantIcons_icon_genius: "\e00a";
$ElegantIcons_icon_mobile: "\e00b";
$ElegantIcons_icon_tablet: "\e00c";
$ElegantIcons_icon_laptop: "\e00d";
$ElegantIcons_icon_desktop: "\e00e";
$ElegantIcons_icon_camera_alt: "\e00f";
$ElegantIcons_icon_mail_alt: "\e010";
$ElegantIcons_icon_cone_alt: "\e011";
$ElegantIcons_icon_ribbon_alt: "\e012";
$ElegantIcons_icon_bag_alt: "\e013";
$ElegantIcons_icon_creditcard: "\e014";
$ElegantIcons_icon_cart_alt: "\e015";
$ElegantIcons_icon_paperclip: "\e016";
$ElegantIcons_icon_tag_alt: "\e017";
$ElegantIcons_icon_tags_alt: "\e018";
$ElegantIcons_icon_trash_alt: "\e019";
$ElegantIcons_icon_cursor_alt: "\e01a";
$ElegantIcons_icon_mic_alt: "\e01b";
$ElegantIcons_icon_compass_alt: "\e01c";
$ElegantIcons_icon_pin_alt: "\e01d";
$ElegantIcons_icon_pushpin_alt: "\e01e";
$ElegantIcons_icon_map_alt: "\e01f";
$ElegantIcons_icon_drawer_alt: "\e020";
$ElegantIcons_icon_toolbox_alt: "\e021";
$ElegantIcons_icon_book_alt: "\e022";
$ElegantIcons_icon_calendar: "\e023";
$ElegantIcons_icon_film: "\e024";
$ElegantIcons_icon_table: "\e025";
$ElegantIcons_icon_contacts_alt: "\e026";
$ElegantIcons_icon_headphones: "\e027";
$ElegantIcons_icon_lifesaver: "\e028";
$ElegantIcons_icon_piechart: "\e029";
$ElegantIcons_icon_refresh: "\e02a";
$ElegantIcons_icon_link_alt: "\e02b";
$ElegantIcons_icon_link: "\e02c";
$ElegantIcons_icon_loading: "\e02d";
$ElegantIcons_icon_blocked: "\e02e";
$ElegantIcons_icon_archive_alt: "\e02f";
$ElegantIcons_icon_heart_alt: "\e030";
$ElegantIcons_icon_star_alt: "\e031";
$ElegantIcons_icon_star-half_alt: "\e032";
$ElegantIcons_icon_star: "\e033";
$ElegantIcons_icon_star-half: "\e034";
$ElegantIcons_icon_tools: "\e035";
$ElegantIcons_icon_tool: "\e036";
$ElegantIcons_icon_cog: "\e037";
$ElegantIcons_icon_cogs: "\e038";
$ElegantIcons_arrow_up_alt: "\e039";
$ElegantIcons_arrow_down_alt: "\e03a";
$ElegantIcons_arrow_left_alt: "\e03b";
$ElegantIcons_arrow_right_alt: "\e03c";
$ElegantIcons_arrow_left-up_alt: "\e03d";
$ElegantIcons_arrow_right-up_alt: "\e03e";
$ElegantIcons_arrow_right-down_alt: "\e03f";
$ElegantIcons_arrow_left-down_alt: "\e040";
$ElegantIcons_arrow_condense_alt: "\e041";
$ElegantIcons_arrow_expand_alt3: "\e042";
$ElegantIcons_arrow_carrot_up_alt: "\e043";
$ElegantIcons_arrow_carrot-down_alt: "\e044";
$ElegantIcons_arrow_carrot-left_alt: "\e045";
$ElegantIcons_arrow_carrot-right_alt: "\e046";
$ElegantIcons_arrow_carrot-2up_alt: "\e047";
$ElegantIcons_arrow_carrot-2dwnn_alt: "\e048";
$ElegantIcons_arrow_carrot-2left_alt: "\e049";
$ElegantIcons_arrow_carrot-2right_alt: "\e04a";
$ElegantIcons_arrow_triangle-up_alt: "\e04b";
$ElegantIcons_arrow_triangle-down_alt: "\e04c";
$ElegantIcons_arrow_triangle-left_alt: "\e04d";
$ElegantIcons_arrow_triangle-right_alt: "\e04e";
$ElegantIcons_icon_minus_alt: "\e04f";
$ElegantIcons_icon_plus_alt: "\e050";
$ElegantIcons_icon_close_alt: "\e051";
$ElegantIcons_icon_check_alt: "\e052";
$ElegantIcons_icon_zoom-out: "\e053";
$ElegantIcons_icon_zoom-in: "\e054";
$ElegantIcons_icon_stop_alt: "\e055";
$ElegantIcons_icon_menu-square_alt: "\e056";
$ElegantIcons_icon_menu-circle_alt: "\e057";
$ElegantIcons_icon_document: "\e058";
$ElegantIcons_icon_documents: "\e059";
$ElegantIcons_icon_pencil_alt: "\e05a";
$ElegantIcons_icon_folder: "\e05b";
$ElegantIcons_icon_folder-open: "\e05c";
$ElegantIcons_icon_folder-add: "\e05d";
$ElegantIcons_icon_folder_upload: "\e05e";
$ElegantIcons_icon_folder_download: "\e05f";
$ElegantIcons_icon_info: "\e060";
$ElegantIcons_icon_error-circle: "\e061";
$ElegantIcons_icon_error-oct: "\e062";
$ElegantIcons_icon_error-triangle: "\e063";
$ElegantIcons_icon_question_alt: "\e064";
$ElegantIcons_icon_comment: "\e065";
$ElegantIcons_icon_chat: "\e066";
$ElegantIcons_icon_vol-mute: "\e067";
$ElegantIcons_icon_volume-low: "\e068";
$ElegantIcons_icon_volume-high: "\e069";
$ElegantIcons_icon_quotations_alt: "\e06a";
$ElegantIcons_icon_clock: "\e06b";
$ElegantIcons_icon_lock: "\e06c";
$ElegantIcons_icon_lock-open: "\e06d";
$ElegantIcons_icon_key: "\e06e";
$ElegantIcons_icon_cloud: "\e06f";
$ElegantIcons_icon_cloud-upload: "\e070";
$ElegantIcons_icon_cloud-download: "\e071";
$ElegantIcons_icon_lightbulb: "\e072";
$ElegantIcons_icon_gift: "\e073";
$ElegantIcons_icon_house: "\e074";
$ElegantIcons_icon_camera: "\e075";
$ElegantIcons_icon_mail: "\e076";
$ElegantIcons_icon_cone: "\e077";
$ElegantIcons_icon_ribbon: "\e078";
$ElegantIcons_icon_bag: "\e079";
$ElegantIcons_icon_cart: "\e07a";
$ElegantIcons_icon_tag: "\e07b";
$ElegantIcons_icon_tags: "\e07c";
$ElegantIcons_icon_trash: "\e07d";
$ElegantIcons_icon_cursor: "\e07e";
$ElegantIcons_icon_mic: "\e07f";
$ElegantIcons_icon_compass: "\e080";
$ElegantIcons_icon_pin: "\e081";
$ElegantIcons_icon_pushpin: "\e082";
$ElegantIcons_icon_map: "\e083";
$ElegantIcons_icon_drawer: "\e084";
$ElegantIcons_icon_toolbox: "\e085";
$ElegantIcons_icon_book: "\e086";
$ElegantIcons_icon_contacts: "\e087";
$ElegantIcons_icon_archive: "\e088";
$ElegantIcons_icon_heart: "\e089";
$ElegantIcons_icon_profile: "\e08a";
$ElegantIcons_icon_group: "\e08b";
$ElegantIcons_icon_grid-2x2: "\e08c";
$ElegantIcons_icon_grid-3x3: "\e08d";
$ElegantIcons_icon_music: "\e08e";
$ElegantIcons_icon_pause_alt: "\e08f";
$ElegantIcons_icon_phone: "\e090";
$ElegantIcons_icon_upload: "\e091";
$ElegantIcons_icon_download: "\e092";
$ElegantIcons_social_facebook: "\e093";
$ElegantIcons_social_twitter: "\e094";
$ElegantIcons_social_pinterest: "\e095";
$ElegantIcons_social_googleplus: "\e096";
$ElegantIcons_social_tumblr: "\e097";
$ElegantIcons_social_tumbleupon: "\e098";
$ElegantIcons_social_wordpress: "\e099";
$ElegantIcons_social_instagram: "\e09a";
$ElegantIcons_social_dribbble: "\e09b";
$ElegantIcons_social_vimeo: "\e09c";
$ElegantIcons_social_linkedin: "\e09d";
$ElegantIcons_social_rss: "\e09e";
$ElegantIcons_social_deviantart: "\e09f";
$ElegantIcons_social_share: "\e0a0";
$ElegantIcons_social_myspace: "\e0a1";
$ElegantIcons_social_skype: "\e0a2";
$ElegantIcons_social_youtube: "\e0a3";
$ElegantIcons_social_picassa: "\e0a4";
$ElegantIcons_social_googledrive: "\e0a5";
$ElegantIcons_social_flickr: "\e0a6";
$ElegantIcons_social_blogger: "\e0a7";
$ElegantIcons_social_spotify: "\e0a8";
$ElegantIcons_social_delicious: "\e0a9";
$ElegantIcons_social_facebook_circle: "\e0aa";
$ElegantIcons_social_twitter_circle: "\e0ab";
$ElegantIcons_social_pinterest_circle: "\e0ac";
$ElegantIcons_social_googleplus_circle: "\e0ad";
$ElegantIcons_social_tumblr_circle: "\e0ae";
$ElegantIcons_social_stumbleupon_circle: "\e0af";
$ElegantIcons_social_wordpress_circle: "\e0b0";
$ElegantIcons_social_instagram_circle: "\e0b1";
$ElegantIcons_social_dribbble_circle: "\e0b2";
$ElegantIcons_social_vimeo_circle: "\e0b3";
$ElegantIcons_social_linkedin_circle: "\e0b4";
$ElegantIcons_social_rss_circle: "\e0b5";
$ElegantIcons_social_deviantart_circle: "\e0b6";
$ElegantIcons_social_share_circle: "\e0b7";
$ElegantIcons_social_myspace_circle: "\e0b8";
$ElegantIcons_social_skype_circle: "\e0b9";
$ElegantIcons_social_youtube_circle: "\e0ba";
$ElegantIcons_social_picassa_circle: "\e0bb";
$ElegantIcons_social_googledrive_alt2: "\e0bc";
$ElegantIcons_social_flickr_circle: "\e0bd";
$ElegantIcons_social_blogger_circle: "\e0be";
$ElegantIcons_social_spotify_circle: "\e0bf";
$ElegantIcons_social_delicious_circle: "\e0c0";
$ElegantIcons_social_facebook_square: "\e0c1";
$ElegantIcons_social_twitter_square: "\e0c2";
$ElegantIcons_social_pinterest_square: "\e0c3";
$ElegantIcons_social_googleplus_square: "\e0c4";
$ElegantIcons_social_tumblr_square: "\e0c5";
$ElegantIcons_social_stumbleupon_square: "\e0c6";
$ElegantIcons_social_wordpress_square: "\e0c7";
$ElegantIcons_social_instagram_square: "\e0c8";
$ElegantIcons_social_dribbble_square: "\e0c9";
$ElegantIcons_social_vimeo_square: "\e0ca";
$ElegantIcons_social_linkedin_square: "\e0cb";
$ElegantIcons_social_rss_square: "\e0cc";
$ElegantIcons_social_deviantart_square: "\e0cd";
$ElegantIcons_social_share_square: "\e0ce";
$ElegantIcons_social_myspace_square: "\e0cf";
$ElegantIcons_social_skype_square: "\e0d0";
$ElegantIcons_social_youtube_square: "\e0d1";
$ElegantIcons_social_picassa_square: "\e0d2";
$ElegantIcons_social_googledrive_square: "\e0d3";
$ElegantIcons_social_flickr_square: "\e0d4";
$ElegantIcons_social_blogger_square: "\e0d5";
$ElegantIcons_social_spotify_square: "\e0d6";
$ElegantIcons_social_delicious_square: "\e0d7";
$ElegantIcons_icon_printer: "\e103";
$ElegantIcons_icon_calulator: "\e0ee";
$ElegantIcons_icon_building: "\e0ef";
$ElegantIcons_icon_floppy: "\e0e8";
$ElegantIcons_icon_drive: "\e0ea";
$ElegantIcons_icon_search-2: "\e101";
$ElegantIcons_icon_id: "\e107";
$ElegantIcons_icon_id-2: "\e108";
$ElegantIcons_icon_puzzle: "\e102";
$ElegantIcons_icon_like: "\e106";
$ElegantIcons_icon_dislike: "\e0eb";
$ElegantIcons_icon_mug: "\e105";
$ElegantIcons_icon_currency: "\e0ed";
$ElegantIcons_icon_wallet: "\e100";
$ElegantIcons_icon_pens: "\e104";
$ElegantIcons_icon_easel: "\e0e9";
$ElegantIcons_icon_flowchart: "\e109";
$ElegantIcons_icon_datareport: "\e0ec";
$ElegantIcons_icon_briefcase: "\e0fe";
$ElegantIcons_icon_shield: "\e0f6";
$ElegantIcons_icon_percent: "\e0fb";
$ElegantIcons_icon_globe: "\e0e2";
$ElegantIcons_icon_globe-2: "\e0e3";
$ElegantIcons_icon_target: "\e0f5";
$ElegantIcons_icon_hourglass: "\e0e1";
$ElegantIcons_icon_balance: "\e0ff";
$ElegantIcons_icon_rook: "\e0f8";
$ElegantIcons_icon_printer-alt: "\e0fa";
$ElegantIcons_icon_calculator_alt: "\e0e7";
$ElegantIcons_icon_building_alt: "\e0fd";
$ElegantIcons_icon_floppy_alt: "\e0e4";
$ElegantIcons_icon_drive_alt: "\e0e5";
$ElegantIcons_icon_search_alt: "\e0f7";
$ElegantIcons_icon_id_alt: "\e0e0";
$ElegantIcons_icon_id-2_alt: "\e0fc";
$ElegantIcons_icon_puzzle_alt: "\e0f9";
$ElegantIcons_icon_like_alt: "\e0dd";
$ElegantIcons_icon_dislike_alt: "\e0f1";
$ElegantIcons_icon_mug_alt: "\e0dc";
$ElegantIcons_icon_currency_alt: "\e0f3";
$ElegantIcons_icon_wallet_alt: "\e0d8";
$ElegantIcons_icon_pens_alt: "\e0db";
$ElegantIcons_icon_easel_alt: "\e0f0";
$ElegantIcons_icon_flowchart_alt: "\e0df";
$ElegantIcons_icon_datareport_alt: "\e0f2";
$ElegantIcons_icon_briefcase_alt: "\e0f4";
$ElegantIcons_icon_shield_alt: "\e0d9";
$ElegantIcons_icon_percent_alt: "\e0da";
$ElegantIcons_icon_globe_alt: "\e0de";
$ElegantIcons_icon_clipboard: "\e0e6";