// ================================================================================
// + Notifier
// --------------------------------------------------------------------------------


// - Notifier
// --------------------------------------------------------------------------------

div#bibi-notifier {
}


// - Notifier > Board
// --------------------------------------------------------------------------------

div#bibi-notifier-board {
	$height: 41px;
	box-sizing: border-box;
	position: fixed;
	z-index: 10000;
	top: 0;
	padding: 0 8px;
	width: 100%;
	height: $height;
	line-height: $height * 1.05;
	text-indent: .5em;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: rgb(69,69,69);
	background: rgba(252,252,252,0.96);
	box-shadow: 0 2px 4px rgba(0,0,0,0.125);
	transition: .15s linear;
	transform-origin: 50% 0;/*
	html.wait-please & {
		display: block;
		opacity: 1;
	}
	html.loading & {
		opacity: 1;
		animation: fade .2s linear 0 infinite normal;
	}*/
	small {
		font-size: 0.75em;
	}
	&.shown {
		opacity: 1;
		transform: none;
		transition: .15s linear;
	}
	&.hidden {
		opacity: 0;
		//transform: translateY($height);
		transform: scaleY(0);
		transition: .2s linear;
	}
}/*
@include keyframes(fade) {
	  0% { opacity: 1.00; }
	 50% { opacity: 0.75; }
	100% { opacity: 1.00; }
}*/




// ================================================================================
// + Veil
// --------------------------------------------------------------------------------


// - Veil
// --------------------------------------------------------------------------------

div#bibi-veil {
	box-sizing: border-box;
	overflow: hidden;
	display: block;
	position: fixed;
	z-index: 4000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 15px;
	color: white;
	background: $veil-background;
	opacity: 1;
	html.panel-opened & {
		transition: .2s ease-in;
		opacity: 0.25;
	}
}


// - Veil > Bye Bye
// --------------------------------------------------------------------------------

p#bibi-veil-byebye {
	position: absolute;
	z-index: 1000;
	left: 0;
	right: 0;
	top: 69px;
	margin: auto;
	line-height: 1.75;
	text-align: center;
	text-indent: .1em;
	letter-spacing: .1em;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 2px black, 0 0 4px rgb(176,176,176);
	color: rgb(160,160,160);
	a {
		color: inherit;
		transition: .2s linear;
		&:hover {
			color: rgb(216,216,216);
			transition: .1s linear;
		}
	}
	span {
		display: block;
		position: relative;
	}
	span[lang="en"] {
	}
	span[lang="ja"] {
		margin-top: 1.5em;
		padding-top: 1.5em;
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			margin: auto;
			border-style: solid;
			border-width: 1px 0;
			border-color: rgb(128,128,128) transparent black;
			width: 2em;
			height: 0;
		}
	}
}


// - Veil > Cover
// --------------------------------------------------------------------------------

div#bibi-veil-cover {
	overflow: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	box-sizing: border-box;
	border: solid transparent;
	border-width: 4px;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.5s linear;
	background: transparent no-repeat center center;
	background-size: contain;
	p {
		opacity: 0;
	}
	&.without-cover-image{
		$icon-size: 128px;
		opacity: 1;
		p, &:before {
			display: block;
			position: absolute;
			margin: auto;
			left: -100%;
			top: -100%;
			right: -100%;
			bottom: -100%;
		}
		p {
			z-index: 2;
			width: 100%;
			height: 1.2em;
			line-height: 1.2;
			font-weight: bold;
			color: white;
			text-align: center;
			text-shadow: 0 0 4px rgb(128,128,128);
			opacity: 1;
			transform: translateY($icon-size * -0.1);
			strong, em, span {
				display: block;
			}
			strong {
				margin-top: -1em;
				font-size: 18px;
			}
			em {
				margin-top: .75em;
				font-size: 14px;
			}
			span {
				margin-top: .75em;
				font-size: 10px;
			}
		}
		&:before {
			@include font-icon("Material Icons");
			content: /*import_contacts*/ "\e0e0";
			z-index: 1;
			width: $icon-size;
			height: $icon-size;
			line-height: 1;
			font-size: $icon-size;
			text-align: center;
			vertical-align: middle;
			color: rgba(255,255,255,0.25);
			transform: translateY($icon-size * -0.2);
		}
	}
}


// - Veil > Catcher
// --------------------------------------------------------------------------------

p#bibi-veil-catcher {
	$size: 140px;
	box-sizing: border-box;
	position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto;
	z-index: 100;
	width: 100%;
	height: 100%;
	transition: 0.2s linear;
	cursor: pointer;
	&:before, &:after, span {
		box-sizing: border-box;
		display: block;
		position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto;
		vertical-align: middle;
		text-align: center;
		color: rgba(255,255,255,0.5);
		transition: .2s cubic-bezier(.2,.8,.8,1.6);
	}
	&:before, &:after {
		@include font-icon("Material Icons");
	}
	&:before { // icon
		content: /*import_contacts*/ "\e0e0";
		width: $size;
		height: $size;
		line-height: $size;
		font-size: $size;
		transform: translateY($size * -0.1);
	}
	&:after { // frame
		content: "";
		border: dashed 10px;
		border-radius: 30px;
		width: 88%;
		height: 80%;
	}
	span {
		width: 100%;
		height: 1.5em;
		font-size: 12px;
		font-weight: bold;
		transform: translateY($size * 0.5);
	}
	input {
		visibility: hidden;
	}
	html.dragenter &,
	&:active {
		&:before, &:after, span {
			color: white;
		}
		&:before {
			transform: translateY($size * -0.1) scale(1.1);
		}
		span {
			transform: translateY($size * 0.5) scale(0.9);
		}
	}
}


// - Veil > PlayButton
// --------------------------------------------------------------------------------

p#bibi-veil-playbutton {
	$size: 81px;
	$hover-move: -4px;
	box-sizing: border-box;
	position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto;
	z-index: 100;
	width: 100%;
	height: 100%;
	transition: 0.2s linear;
	cursor: pointer;
	&:hover  { background: rgba(0,0,0,0.5); }
	&:active { background: rgba(0,0,0,0.25); }
	&:before, &:after, span {
		box-sizing: border-box;
		display: block;
		position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: auto;
		vertical-align: middle;
		text-align: center;
		color: rgb(128,128,128);
		transition: .2s cubic-bezier(.2,.8,.8,1.6);
	}
	&:before, &:after {
		@include font-icon("Material Icons");
	}
	&:before { // icon
		content: /*play_circle_filled*/ "\e038";
		width: $size;
		height: $size;
		line-height: $size;
		font-size: $size;
		color: rgb(216,216,216);
	}
	&:hover:before  { color: white; }
	&:active:before {}
	html.view-vertical.page-ltr &,
	html.view-vertical.page-rtl & {
		$offset: 8px;
		&:before {
			top: auto;
			bottom: $offset;
			transform: rotate(90deg);
		}
		&:hover:before  { bottom: $offset + $hover-move; }
		&:active:before { bottom: $size * -1/3; }
	}
	html.view-horizontal.page-rtl &,
	html.view-paged.page-rtl & {
		$offset: 8px;
		&:before {
			left: $offset;
			right: auto;
			transform: rotate(180deg);
		}
		&:hover:before  { left: $offset + $hover-move; }
		&:active:before { left: $size * -1/3; }
	}
	html.view-horizontal.page-ltr &,
	html.view-paged.page-ltr & {
		$offset: 8px;
		&:before {
			left: auto;
			right: $offset;
		}
		&:hover:before  { right: $offset + $hover-move; }
		&:active:before { right: $size * -1/3; }
	}
}




// ================================================================================
// + Panel
// --------------------------------------------------------------------------------


// - Panel (div#bibi-panel)
// --------------------------------------------------------------------------------

div#bibi-panel {
	box-sizing: border-box;
	overflow: hidden;
	z-index: 5000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgb(246,246,246);
	opacity: 0;
	transition: 0.15s ease-out;
	transform: translateY(-100%);
	html.panel-opened & {
		transform: none !important;
		transition: 0.15s ease-in;
		opacity: 1 !important;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		border-bottom: solid 1px rgb(242,242,242);
		width: 100%;
		height: $icon-height + 4px * 2;
		//background: rgba(255,255,255,0.88);
		//background: white;
		background: rgba(255,255,255,0.9);
	}
}


// - Panel > BookInfo (div#bibi-panel-bookinfo)
// --------------------------------------------------------------------------------

div#bibi-panel-bookinfo {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
	div#bibi-panel-bookinfo-box {
		box-sizing: border-box;
		padding: 65px 35px 35px;
		width: 100%;
		height: 100%;
		-webkit-overflow-scrolling: touch;
		html.page-ltr & { overflow-x: hidden; overflow-y: scroll; }
		html.page-rtl & { overflow-x: scroll; overflow-y: hidden; }
		&::-webkit-scrollbar { width: 8px; height: 8px; }
		&::-webkit-scrollbar-track { background: transparent; }
		&::-webkit-scrollbar-thumb { background: rgb(128,128,128); border-radius: 3px; }
		html.page-rtl & {
			@include writing-mode(vertical-rl);
		}
	}


// - Panel > BookInfo > Navigation (div#bibi-panel-bookinfo-navigation)
// --------------------------------------------------------------------------------

div#bibi-panel-bookinfo-navigation {
	box-sizing: border-box;
	html.page-rtl & {
		>*:first-child,
		>*:first-child >*:first-child,
		>*:first-child >*:first-child >*:first-child {
			margin-right: 0 !important;
		}
		span.tcy {
			@include text-combine-upright_all();
		}
	}
	html.page-ltr & {
		>*:first-child,
		>*:first-child >*:first-child,
		>*:first-child >*:first-child >*:first-child {
			margin-top: 0 !important;
		}
	}
	nav {
		$margin-before: 2em;
		$margin-after: 1em;
		line-height: 1.2;
		font-size: 20px;
		html.page-ltr & { margin: $margin-before 0 $margin-after 0; }
		html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
		h1, h2, h3, h4, h5, h6 {
			$margin-before: 0;
			$margin-after: 1em;
			font-weight: bold;
			html.page-ltr & { margin: $margin-before 0 $margin-after 0; }
			html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
		}
		small {
			font-size: .8em;
		}
		br +small {
			$margin-start: 2em;
			html.page-ltr & { margin: 0 0 0 $margin-start; }
			html.page-rtl & { margin: $margin-start 0 0 0; }
		}
		ul, ol {
			$margin-before: 0;
			$margin-after: 1em;
			font-size: .9em;
			html.page-ltr & { margin: $margin-before 0 $margin-after 0; }
			html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
			li {
				$margin-before: 1em;
				$margin-after: 0;
				html.page-ltr & { margin: $margin-before 0 $margin-after 0; }
				html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
				ul, ol {
					position: relative;
					$margin-before: 0;
					$margin-after: 0;
					html.page-ltr & { margin: $margin-before 0 $margin-after 0; }
					html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
					&:before {
						content: "";
						display: block;
						position: absolute;
						$start: .175em;
						$before: 0;
						$breadth: 4px;
						$length: 100%;
						background: white;
						html.page-ltr & { left: $start; top: $before; width: $breadth; height: $length; }
						html.page-rtl & { top: $start; right: $before; width: $length; height: $breadth; }
					}
					li {
						$margin-before: .5em;
						$margin-after: 0;
						$margin-start: 1em;
						html.page-ltr & { margin: $margin-before 0 $margin-after $margin-start; }
						html.page-rtl & { margin: $margin-start $margin-before 0 $margin-after; }
					}
				}
			}
		}
		a {
			color: rgb(64,64,64);
			text-decoration: none;
			transition: linear .15s;
			&:hover {
				color: steelblue;
				transition: none;
				html.page-ltr & { text-decoration: underline; }
				html.page-rtl & { text-decoration: overline; }
			}
			&.bibi-bookinfo-inactive-link {
				color: inherit !important;
				border: none 0 !important;
				cursor: default !important;
				&:hover {
					color: inherit !important;
				}
			}
		}
	}
	nav.bibi-nav-landmarks,
	nav.bibi-nav-page-list {
		font-size: 16px;
		h1, h2, h3, h4, h5, h6 {
			$margin-before: 0;
			$margin-after: .25em;
			html.page-ltr & { margin: $margin-before 0 $margin-after 0; }
			html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
		}
		ul, ol {
			overflow: hidden;
			$padding-after: .25em;
			html.page-ltr & { padding-bottom: $padding-after; }
			html.page-rtl & { padding-left: $padding-after; }
			li {
				float: left;
				$padding-end: 1em;
				html.page-ltr & { padding-right: $padding-end; &:last-child { padding-right: 0; } }
				html.page-rtl & { padding-bottom: $padding-end; &:last-child { padding-bottom: 0; } }
			}
		}
	}
}


// - Panel > BookInfo > Cover (div#bibi-panel-bookinfo-cover)
// --------------------------------------------------------------------------------

div#bibi-panel-bookinfo-cover {
	border: solid 0 rgb(232,232,232);
	html.page-ltr & { margin-top: 2em; border-top-width: 1px; padding-top: 2em; padding-bottom: 2em; margin-right: 30px; }
	html.page-rtl & { margin-right: 2em; border-right-width: 1px; padding-right: 2em; padding-left: 2em; margin-bottom: 30px; }
	img {
		max-width:  40%; max-width:  40vw;
		max-height: 40%; max-height: 40vh;
		html.page-ltr & { margin-bottom: .75em; }
		html.page-rtl & { margin-left: .75em; }
	}
	p#bibi-panel-bookinfo-cover-info {
		color: rgb(160,160,160);
		strong, em, span {
			display: block;
			line-height: 1.2;
			html.page-ltr & { margin-bottom: .5rem; }
			html.page-rtl & { margin-left: .5rem; }
		}
		strong {
			font-size: 16px;
			font-weight: bold;
		}
		em {
			font-size: 14px;
		}
		span {
			font-size: 12px;
		}
	}
}


// - Panel > Help (div#bibi-panel-help)
// --------------------------------------------------------------------------------

div#bibi-panel-help {
	box-sizing: border-box;
	position: absolute;
	z-index: 999;
	margin: auto;
	padding-left: 8px;
	height: $bottom-bar-height;
	left: 0;
	html.page-rtl & {
		bottom: 15px; // to be overwritten by JavaScript ... O.ScrollBars.Height + "px"
	}
	html.page-ltr & {
		bottom: 0;
	}
	p {
		line-height: $bottom-bar-height * 1.2;
		font-size: 12px;
		color: rgb(64,64,64);
		opacity: 0;
		transition: .2s linear;
		&.shown {
			opacity: 1;
		}
		&.hidden {
			opacity: 0;
		}
	}
}




// ================================================================================
// + Buttons
// --------------------------------------------------------------------------------


// - Buttons: div#bibi-switches & div#bibi-panel-menus-alpha & div#bibi-panel-menus-beta
// --------------------------------------------------------------------------------

$button-margin: 4px;

div#bibi-switch,
div#bibi-panel-menu-alpha,
div#bibi-panel-menu-beta {
	box-sizing: border-box;
	position: absolute;
	z-index: 6000;
	top: 0;
	height: $icon-height + 4px * 2;
	color: white;
	transition: opacity 0.75s linear;
	ul {
		padding: $button-margin;
		border: solid 0 rgb(234,234,234);
		height: $icon-height;
		li {
			position: relative;
			float: left;
			margin-left: $button-margin / 2; &:first-child { margin-left: 0; }
			opacity: 1;
		}
	}
}

div#bibi-switch {
	right: 0;
	ul {
		float: right;
	}
}

div#bibi-panel-menu-alpha {
	right: $button-margin + $icon-size + $button-margin;
	ul {
		float: right;
		border-right-width: 1px;
	}
}

div#bibi-panel-menu-beta {
	left: 0;
	ul {
		float: left;
		border-left-width: 1px; &:first-child { border-left-width: 0; }
	}
}




// ================================================================================
// + Powered
// --------------------------------------------------------------------------------


// - Powered (p#bibi-veil-powered, div#bibi-panel-powered)
// --------------------------------------------------------------------------------

div#bibi-veil:after,
div#bibi-panel:after,
p#bibi-veil-powered,
p#bibi-panel-powered {
	box-sizing: border-box;
	position: absolute;
	right: 0;
	margin: 0 auto;
	padding: 4px;
	height: $bottom-bar-height;
}

div#bibi-veil:after,
div#bibi-panel:after {
	content: "";
	z-index: 1;
	border-style: solid; border-width: 1px 0;
	width: 100%;
}

div#bibi-veil:after,
p#bibi-veil-powered {
	bottom: 0;
}

div#bibi-panel:after,
p#bibi-panel-powered {
	html.page-rtl & {
		bottom: 15px; // to be overwritten by JavaScript ... O.ScrollBars.Height + "px"
	}
	html.page-ltr & {
		bottom: 0;
	}
}

div#bibi-veil:after {
	border-color: rgb(104,104,104);
	background: rgb(96,96,96);
}

div#bibi-panel:after {
	border-color: rgb(232,232,232);
	background: rgba(240,240,240,0.9);
}

p#bibi-veil-powered,
p#bibi-panel-powered {
	z-index: 999;
	text-align: right;
	line-height: 30px;
	font-size: 14px;
	a, span {
		display: block;
		text-decoration: none;
		color: black;
		padding: 8px 8px 4px;
		border-radius: 2px;
		img {
			display: block;
			opacity: 0.5;
			width: auto;
			height: 16px;
			vertical-align: top;
		}
	}
	a {
		transition: .15s linear;
		img {
			transition: .15s linear;
		}
		&:hover {
			transition: .075s linear;
			img {
				opacity: 1;
				transition: .075s linear;
			}
		}
	}
}

p#bibi-veil-powered {
	a {
		background: rgba(96,96,96,0.9);
		&:hover {
			background: rgba(150,150,150,0.9);
		}
	}
}




// ================================================================================
// + Arrows
// --------------------------------------------------------------------------------


// - Arrow (div#bibi-arrows > div.bibi-arrow)
// --------------------------------------------------------------------------------

$arrow-icon-size: 24px;
$arrow-bar-length: 4px + $icon-size + 4px;
$arrow-bar-breadth: 100;
$arrow-bar-background-color: rgba(128,128,128,0.25);

@mixin arrow-bar-background($d) {
	background: linear-gradient(to $d, transparent, transparent 75%, $arrow-bar-background-color);
	&.glowing {
		background: linear-gradient(to $d, transparent, transparent 25%, darken($arrow-bar-background-color, 50%));
		background: $arrow-bar-background-color;
	}
}
@mixin arrow-transition($d) {
	transition: $d cubic-bezier(.2,.8,.8,1.6)
}

div.bibi-arrow {
	position: fixed;
	z-index: 3000;
	margin: auto;
	font-size: $arrow-icon-size;
	line-height: 1;
	opacity: 0;
	@include arrow-transition(.4s);
	html.view-vertical & {
		// ↑↓
		left: 0; right: 0;
		width: 1% * $arrow-bar-breadth; width: 1vw * $arrow-bar-breadth;
		height: $arrow-bar-length;
	}
	html.view-horizontal &,
	html.view-paged & {
		// ←→
		top: 0; bottom: 0;
		width: $arrow-bar-length;
		height: 1% * $arrow-bar-breadth; height: 1vh * $arrow-bar-breadth;
	}
	&:after {
		@include font-icon("Material Icons");
		box-sizing: border-box;
		display: block;
		position: absolute;
		z-index: 2;
		left: -100%;
		right: -100%;
		top: -100%;
		bottom: -100%;
		margin: auto;
		width: $arrow-icon-size;
		height: $arrow-icon-size;
		text-align: center;
		vertical-align: middle;
		line-height: $arrow-icon-size * 1.025;
		color: rgb(128,128,128);
		background: rgba(255,255,255,0.8);
		border-radius: 50%;
		box-shadow: 0 0 0 2px rgb(128,128,128);
		@include arrow-transition(.4s);
	}
	&.flickering, &.firing, &.glowing {
		opacity: 1;
	}
	&.flickering, &.flickering:after {
		transition-duration: .2s;
	}
	&.firing, &.firing:after {
		transition-duration: .1s;
	}
}
html.view-vertical div#bibi-arrow-back {
	// ↑
	top: 0;
	&:after { content: /*keyboard_arrow_up*/ "\e316";    transform-origin: 50% 0%; }
	&.flickering,
	&.firing {
		cursor: n-resize;
	}
	&.flickering {
	}
	&.firing {
		&:after { transform: translateY(-25%); }
	}
	&.glowing {
	}
	@include arrow-bar-background(top);
}
html.view-vertical div#bibi-arrow-forward {
	// ↓
	bottom: 0;
	&:after { content: /*keyboard_arrow_down*/ "\e313";  transform-origin: 50% 100%; }
	&.flickering,
	&.firing {
		cursor: s-resize;
	}
	&.flickering {
	}
	&.firing {
		&:after { transform: translateY(25%); }
	}
	&.glowing {
	}
	@include arrow-bar-background(bottom);
}
html.view-horizontal.page-ltr div#bibi-arrow-back,
html.view-horizontal.page-rtl div#bibi-arrow-forward,
html.view-paged.page-ltr div#bibi-arrow-back,
html.view-paged.page-rtl div#bibi-arrow-forward {
	// ←
	left: 0;
	&:after { content: /*keyboard_arrow_left*/ "\e314";  transform-origin: -50% 50%; }
	&.flickering,
	&.firing {
		cursor: w-resize;
	}
	&.flickering {
	}
	&.firing {
		&:after { transform: scale(0.9); }
	}
	&.glowing {
	}
	@include arrow-bar-background(left);
}
html.view-horizontal.page-ltr div#bibi-arrow-forward,
html.view-horizontal.page-rtl div#bibi-arrow-back,
html.view-paged.page-ltr div#bibi-arrow-forward,
html.view-paged.page-rtl div#bibi-arrow-back {
	// →
	right: 0;
	&:after { content: /*keyboard_arrow_right*/ "\e315"; transform-origin: 150% 50%; }
	&.flickering,
	&.firing {
		cursor: e-resize;
	}
	&.flickering {
	}
	&.firing {
		&:after { transform: scale(0.9); }
	}
	&.glowing {
	}
	@include arrow-bar-background(right);
}



// ================================================================================
// + Indicator
// --------------------------------------------------------------------------------


// - Mark (div#bibi-indicator-mark)
// --------------------------------------------------------------------------------

$mark-size: 56px;
$mark-halo-size: 32px; $mark-halo-color: rgba(144,144,144,0.5);
$mark-core-size: 24px; $mark-core-color: rgba(192,192,192,0.5);
$mark-bits: 12;

div#bibi-indicator-mark {
	position: absolute;
	box-sizing: border-box;
	display: none;
	z-index: 99999;
	left: -100%;
	right: -100%;
	top: 48%;
	bottom: auto;
	margin: auto;
	width: $mark-size;
	height: $mark-size;
	&:before, &:after {
		content: "";
		position: absolute;
		box-sizing: border-box;
		left: 0; right: 0; top: 0; bottom: 0;
		margin: auto;
		border-radius: 50%;
	}
	&:before { // core
		width: $mark-core-size;
		height: $mark-core-size;
		background: $mark-core-color;
	}
	&:after { // halo
		width: $mark-halo-size;
		height: $mark-halo-size;
		border: solid 1.5px $mark-halo-color;
	}
	span {
		display: block;
		position: absolute;
		left: -100%;
		right: -100%;
		top: 0;
		bottom: auto;
		margin: 0 auto;
		border-radius: 50%;
		width: 3px;
		height: 3px;
		transform-origin: 50% ($mark-size * 0.5);
		//background: rgba(128,128,128,0.5);
		@for $i from 1 through $mark-bits {
			&:nth-child(#{$i}) {
				background: darken(rgba(255,255,255,0.75), (72% / $mark-bits * $i));
				transform: rotate(360deg / $mark-bits * $i);
			}
		}
	}
	html.loading &,
	html.layouting & {
		display: block;
		animation: SPIN 1s linear 0s infinite normal;
		&:before, &:after {
			animation: BEAT 2s ease 0s infinite normal;
		}
		span {
			animation: GLOW 4s ease-in-out 0s infinite normal;
		}
	}
}

@include keyframes(SPIN) {
	  0% { transform: rotate(  0deg); }
	 25% { transform: rotate(180deg); }
	 50% { transform: rotate(360deg); }
	 75% { transform: rotate(540deg); }
	100% { transform: rotate(720deg); }
}

@include keyframes(BEAT) {
	  0% { transform: scale(1.0); opacity: 1.0; }
	 25% { transform: scale(0.8); }
	 50% { transform: scale(1.0); opacity: 0.5; }
	 75% { transform: scale(1.2); }
	100% { transform: scale(1.0); opacity: 1.0; }
}

@include keyframes(GLOW) {
	  0% { width: 3px; height: 3px; opacity: 1.0; }
	 25% { width: 1px; height: 1px; }
	 50% { width: 1px; height: ($mark-size - $mark-core-size) / 2 + 8px; opacity: 0.5; }
	 75% { width: 1px; height: 1px; }
	100% { width: 3px; height: 3px; opacity: 1.0; }
}


// - Bar (div#bibi-indicator-bar)
// --------------------------------------------------------------------------------

div#bibi-indicator-bar {
	display: none; html.view-paged & { display: block; }
	box-sizing: border-box;
	position: absolute;
	z-index: 1500;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgb(96,96,96);
	span#bibi-indicator-bar-progress {
		display: block;
		position: absolute;
		html.page-ltr & { left: 0; }
		html.page-rtl & { right: 0; }
		top: 0;
		height: 4px;
		background: rgb(216,216,216);
		transition: width 0.125s linear;
	}
}


// - Nombre (div#bibi-indicator-nombre)
// --------------------------------------------------------------------------------

$nombre-box-width: 10em;
$nombre-box-height: 1.6em;

div#bibi-indicator-nombre {
	$color: rgb(64,64,64);
	box-sizing: border-box;
	overflow: hidden;
	z-index: 2000;
	position: fixed;
	margin: auto;
	border-radius: .8em;
	width: $nombre-box-width;
	height: $nombre-box-height;
	line-height: $nombre-box-height * 0.94;
	font-size: 12px;
	text-align: center;
	color: $color;
	background: rgba(240,240,240,0.9);
	transition: 0.125s ease-out;
	html.view-paged & {
		left: 0; right: 0;
		bottom: 4px + 2px;
	}
	html.view-horizontal & {
		left: 0; right: 0;
		bottom: 15px + 2px; // to be overwritten by JavaScript ... (O.ScrollBars.Height + 2) + "px"
	}
	html.view-vertical & {
		top: 0; bottom: 0;
		right: 15px + 2px; // to be overwritten by JavaScript ... (O.ScrollBars.Width + 2) + "px"
		transform: rotate(90deg) translateY(($nombre-box-width - $nombre-box-height) * -0.5);
	}
	&.transparentized {
		opacity: 0;
		transition: 0.250s ease-out;
	}
	&.vanished {
		display: none;
	}
	span {
		display: inline-block;
	}
	span#bibi-indicator-nombre-current {
		font-size: 1.2em;
		font-weight: bold;
		color: darken($color, 25%);
	}
	span#bibi-indicator-nombre-delimiter {
		margin: 0 0.1em 0 0.2em;
	}
	span#bibi-indicator-nombre-total {
	}
	span#bibi-indicator-nombre-percent {
		margin-left: .25em;
		color: lighten($color, 25%);
		span.unit {
			margin-left: .125em;
			font-size: .75em;
		}
	}
}