// ================================================================================
// + Notifier
// --------------------------------------------------------------------------------


// - Notifier
// --------------------------------------------------------------------------------

div#bibi-notifier {
}


// - Notifier > Board
// --------------------------------------------------------------------------------

div#bibi-notifier-board {
	$height: 41px;
	@include box-sizing(border-box);
	position: fixed;
	z-index: 10000;
	top: 0;
	padding: 0 8px;
	width: 100%;
	height: $height;
	line-height: $height * 1.05;
	text-indent: .5em;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: rgb(69,69,69);
	background: rgba(252,252,252,0.96);
	box-shadow: 0 2px 4px rgba(0,0,0,0.125);
	@include transition(.15s linear);
	@include transform-origin_(50% 0);/*
	html.wait-please & {
		display: block;
		opacity: 1;
	}
	html.loading & {
		opacity: 1;
		@include animation(fade .2s linear 0 infinite normal);
	}*/
	small {
		font-size: 0.75em;
	}
	&.shown {
		opacity: 1;
		@include transform(none);
		@include transition(.15s linear);
	}
	&.hidden {
		opacity: 0;
		//@include transform(translateY($height));
		@include transform(scaleY(0));
		@include transition(.2s linear);
	}
}/*
@include keyframes(fade) {
	  0% { opacity: 1.00; }
	 50% { opacity: 0.75; }
	100% { opacity: 1.00; }
}*/




// ================================================================================
// + Veil
// --------------------------------------------------------------------------------


// - Veil
// --------------------------------------------------------------------------------

div#bibi-veil {
	@include box-sizing(border-box);
	overflow: hidden;
	display: block;
	position: fixed;
	z-index: 2000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 15px;
	color: white;
	background: rgb(69,69,69);
	opacity: 1;
	html.panel-opened & {
		@include transition(.2s ease-in);
		opacity: 0.25;
	}
}


// - Veil > H1, UL
// --------------------------------------------------------------------------------

div#bibi-veil h1,
div#bibi-veil ul {
	overflow: hidden;
	width: 0;
	height: 0;
}


// - Veil > Bye Bye
// --------------------------------------------------------------------------------

p#bibi-veil-byebye {
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
	top: 69px;
	margin: auto;
	line-height: 1.75;
	text-align: center;
	text-indent: .1em;
	letter-spacing: .1em;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 2px black, 0 0 4px rgb(176,176,176);
	color: rgb(160,160,160);
	a {
		color: inherit;
		@include transition(.2s linear);
		&:hover {
			color: rgb(216,216,216);
			@include transition(.1s linear);
		}
	}
	span {
		display: block;
		position: relative;
	}
	span[lang="en"] {
	}
	span[lang="ja"] {
		margin-top: 1.5em;
		padding-top: 1.5em;
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			margin: auto;
			border-style: solid;
			border-width: 1px 0;
			border-color: rgb(128,128,128) transparent black;
			width: 2em;
			height: 0;
		}
	}
}


// - Veil > Cover
// --------------------------------------------------------------------------------

div#bibi-veil-cover {
	overflow: hidden;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	@include box-sizing(border-box);
	border: solid transparent;
	$cover-offset: 4px; border-width: (41px + $cover-offset) $cover-offset $cover-offset;
	width: 100%;
	height: 100%;
	opacity: 0;
	@include transition(opacity 0.5s linear);
	background: transparent no-repeat center center;
	@include background-size(contain);
//	html.page-ltr & { background-position: 40% center; }
//	html.page-rtl & { background-position: 60% center; }
	p {
		opacity: 0;
	}
	&.without-cover-image{
		opacity: 1;
		p, &:after {
			display: block;
			position: absolute;
			margin: auto;
			left: -100%;
			top: -100%;
			right: -100%;
			bottom: -100%;
		}
		p {
			z-index: 2;
			width: 100%;
			height: 1.2em;
			line-height: 1.2;
			font-weight: bold;
			color: white;
			text-align: center;
			text-shadow: 0 0 4px rgb(128,128,128);
			opacity: 1;
			strong, em, span {
				display: block;
			}
			strong {
				margin-top: -1em;
				font-size: 20px;
			}
			em {
				margin-top: .75em;
				font-size: 16px;
			}
			span {
				margin-top: .75em;
				font-size: 12px;
			}
		}
		&:after {
			@include font-icon("ElegantIcons");
			content: $ElegantIcons_icon_book;
			z-index: 1;
			width: 128px;
			height: 128px;
			line-height: 1;
			font-size: 128px;
			text-align: center;
			vertical-align: middle;
			color: rgba(255,255,255,0.25);
		}
	}
}


// - Veil > Catcher, PlayButton
// --------------------------------------------------------------------------------

p#bibi-veil-catcher,
p#bibi-veil-playbutton {
	@include box-sizing(border-box);
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	@include transition(0.2s linear);
	&:before, &:after {
		@include box-sizing(border-box);
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		vertical-align: middle;
		text-align: center;
		color: rgb(128,128,128);
		@include transition(.2s cubic-bezier(.2,.8,.8,1.6));
		@include font-icon("ElegantIcons");
		//text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
		//text-shadow: -1px -1px 0 rgba(0,0,0,0.75);
	}
}

p#bibi-veil-catcher {
	cursor: pointer;
	&:before, &:after {
		color: rgba(255,255,255,0.5);
	}
	&:before {
		content: "";
		border: dashed 10px;
		border-radius: 30px;
		width: 88%;
		height: 80%;
	}
	&:after {
	 	$size: 140px;
		content: $ElegantIcons_icon_book;
		width: $size;
		height: $size;
		line-height: $size;
		font-size: $size;
	}
	html.dragenter &,
	&:active {
		&:before, &:after {
			color: white;
		}
		&:after {
			@include transform(scale(1.1));
		}
	}
	input {
		visibility: hidden;
	}
}

p#bibi-veil-playbutton {
	$size: 69px;
	$hover-move: 0;
	cursor: pointer;
	&:hover  { background: rgba(0,0,0,0.5); }
	&:active { background: rgba(0,0,0,0.25); }
	&:after {
		content: $ElegantIcons_arrow_carrot-right_alt;
		z-index: 2;
		width: $size;
		height: $size;
		line-height: $size;
		font-size: $size;
		color: rgb(216,216,216);
		//@include text-stroke(4px white);
	}
	&:hover:after  { @include transform(scale(1.250)); color: white; }
	&:active:after { @include transform(scale(1.125)); }
	html.view-vertical & {
		$offset: 40px;
		&:after {
			content: $ElegantIcons_arrow_carrot-down_alt;
			top: auto;
			bottom: $offset;
			@include transform-origin_(50% 100%);
		}
		&:hover:after  { bottom: $offset + $hover-move; }
		&:active:after { bottom: $size * -1/3; }
	}
	html.view-horizontal.page-rtl &,
	html.view-paged.page-rtl & {
		$offset: 8px;
		&:after {
			content: $ElegantIcons_arrow_carrot-left_alt;
			left: $offset;
			right: auto;
			@include transform-origin_(0 50%);
		}
		&:hover:after  { left: $offset + $hover-move; }
		&:active:after { left: $size * -1/3; }
	}
	html.view-horizontal.page-ltr &,
	html.view-paged.page-ltr & {
		$offset: 8px;
		&:after {
			content: $ElegantIcons_arrow_carrot-right_alt;
			left: auto;
			right: $offset;
			@include transform-origin_(100% 50%);
		}
		&:hover:after  { right: $offset + $hover-move; }
		&:active:after { right: $size * -1/3; }
	}
}


// - Veil > Mark
// --------------------------------------------------------------------------------

div#bibi-veil-mark {
	position: absolute;
	display: none;
	z-index: 100;
	left: 50%;
	top: 50%;
	margin: -36px -36px 0;
	width: 72px;
	height: 72px;
	font-size: 20px;
	//color: rgba(255,255,255,0.64);
	//text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
	//text-shadow: -1px -1px 0 rgba(0,0,0,0.75);
	span {
		display: block;
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		//border: solid 1px;
		//background: rgba(0,0,0,0.5);
		&:nth-child(odd)  { background: rgb(216,216,216); }
		&:nth-child(even) { background: rgb(192,192,192); }
		&:nth-child(1)    { left: 32px; top:  0px; }
		&:nth-child(2)    { left: 54px; top:  8px; }
		&:nth-child(3)    { left: 64px; top: 32px; }
		&:nth-child(4)    { left: 54px; top: 54px; }
		&:nth-child(5)    { left: 32px; top: 64px; }
		&:nth-child(6)    { left:  8px; top: 54px; }
		&:nth-child(7)    { left:  0px; top: 32px; }
		&:nth-child(8)    { left:  8px; top:  8px; }
	}
	html.loading & {
		display: block;
		@include animation(loading 2s linear 0s infinite normal);
	}
}
@include keyframes(loading) {
	  0% { @include transform(rotate(  0deg) scale(1.00)); @include filter(blur(0px)); }
	 25% { @include transform(rotate(180deg) scale(0.50)); @include filter(blur(0px)); }
	 50% { @include transform(rotate(360deg) scale(1.00)); @include filter(blur(0px)); }
	 75% { @include transform(rotate(540deg) scale(0.50)); @include filter(blur(0px)); }
	100% { @include transform(rotate(720deg) scale(1.00)); @include filter(blur(0px)); }
}


// - Veil > Powered
// --------------------------------------------------------------------------------

p#bibi-veil-powered {
	@include box-sizing(border-box);
	position: absolute;
	z-index: 999;
	top: 0;
	width: 100%;
	height: 41px;
	line-height: 41px;
	text-align: center;
	color: rgb(216,216,216);
	//@include background-image_linear-gradient(to top, rgba(0,0,0,0.16), rgba(0,0,0,0));
	small {
		font-size: 0.75em;
	}
	a, span {
		display: inline-block;
		position: relative;
		color: white;
		opacity: 0.69;
		img {
			display: inline-block;
			position: relative;
			top: 4px;
			width: auto;
			height: 16px;
			vertical-align: baseline;
		}
		html.loading & {
			opacity: 0;
		}
	}
	a {
		//font-weight: bold;
		color: inherit;
		text-decoration: none;
		@include transition(0.25s linear);
		/*
		&:after {
			content: "";
			position: absolute;
			top: 16px;
			left: 50%;
			margin-left: -24px;
			display: block;
			width: 48px;
			height: 1px;
			background: rgb(160,160,160);
		}
		*/
		&:hover {
			opacity: 1;
			color: rgb(160,160,160);
			/*
			&:after {
				background: rgb(255,255,255);
			}
			*/
		}
	}
}




// ================================================================================
// + Arrows
// --------------------------------------------------------------------------------


// - Arrows (div#bibi-arrows)
// --------------------------------------------------------------------------------

div#bibi-arrows {
	$arrow-offset: 3px;
	$arrow-size: 25px;
	$bar-length: $arrow-size + $arrow-offset * 2;
	$bar-breadth: 100;
	div.bibi-arrow {
		position: fixed;
		z-index: 1000;
		font-size: $arrow-size;
		line-height: 1;
		@include transition(opacity 0.2s linear);
		html.view-vertical &                      { left: 0; right: 0; margin: 0 auto; width: 1% * $bar-breadth; width: 1vw * $bar-breadth; height: $bar-length; }
		html.view-horizontal &, html.view-paged & { top: 0; bottom: 0; margin: auto 0; width: $bar-length; height: 1% * $bar-breadth; height: 1vh * $bar-breadth; }
		&:after {
			@include font-icon("ElegantIcons");
			display: block;
			position: absolute;
			z-index: 2;
			left: -100%;
			right: -100%;
			top: -100%;
			bottom: -100%;
			margin: auto;
			width: 1em;
			height: 1em;
			text-align: center;
			vertical-align: middle;
			line-height: 1em;
			color: rgb(128,128,128);
			$text-shadow-color: white;
			text-shadow:
				 0px -2px 1px $text-shadow-color,
				 2px  0px 1px $text-shadow-color,
				 0px  2px 1px $text-shadow-color,
				-2px  0px 1px $text-shadow-color;
			opacity: 0.20;
			@include transition(.1s cubic-bezier(.2,.8,.8,1.6));
		}
		html.view-vertical.spread-ttb &#bibi-arrow-back {
			top: 0; &.flickering { cursor: n-resize; }
			&:after { content: $ElegantIcons_arrow_carrot-up_alt;    top: $arrow-offset; bottom: auto; text-align: center; @include transform-origin_( 50%   0 ); }
		}
		html.view-vertical.spread-ttb &#bibi-arrow-forward {
			bottom: 0; &.flickering { cursor: s-resize; }
			&:after { content: $ElegantIcons_arrow_carrot-down_alt;  bottom: $arrow-offset + 2px; top: auto; text-align: center; @include transform-origin_( 50% 100%); }
		}
		html.view-horizontal.spread-ltr &#bibi-arrow-back,    html.view-paged.page-ltr &#bibi-arrow-back,
		html.view-horizontal.spread-rtl &#bibi-arrow-forward, html.view-paged.page-rtl &#bibi-arrow-forward {
			left: 0; &.flickering { cursor: w-resize; }
			&:after { content: $ElegantIcons_arrow_carrot-left_alt;  left: $arrow-offset; right: auto; text-align: left;   @include transform-origin_(  0   50%); }
		}
		html.view-horizontal.spread-ltr &#bibi-arrow-forward, html.view-paged.page-ltr &#bibi-arrow-forward,
		html.view-horizontal.spread-rtl &#bibi-arrow-back,    html.view-paged.page-rtl &#bibi-arrow-back {
			right: 0; &.flickering { cursor: e-resize; }
			&:after { content: $ElegantIcons_arrow_carrot-right_alt; right: $arrow-offset + 2px; left: auto; text-align: right;  @include transform-origin_(100%  50%); }
		}
		&.flickering:after {
			opacity: 0.4 !important;
			@include transform(scale(1.50) !important);
		}
		&.firing:after {
			opacity: 0.8 !important;
			@include transform(scale(1.25) !important);
		}
		&.glowing:after {
			opacity: 1.0 !important;
			@include transform(scale(2.00) !important);
			@include transition(.2s cubic-bezier(.2,.8,.8,1.6));
		}
		&.inactive:after {
			opacity: 0.0 !important;
		}
	}
}

/*
div#bibi-arrows { // Material Icons
	$arrow-offset: 4px;
	$arrow-size: 48px;
	div.bibi-arrow {
		position: fixed;
		z-index: 1000;
		left: -100%;
		right: -100%;
		top: -100%;
		bottom: -100%;
		margin: auto;
		$breadth: 50%;
		$length: $arrow-size + $arrow-offset * 2;
		font-size: $arrow-size;
		line-height: 1;
		opacity: 0;
		@include transition(.2s cubic-bezier(.2,.8,.8,1.6));
		html.view-vertical &                      { width: $breadth; height: $length; }
		html.view-horizontal &, html.view-paged & { width: $length;  height: $breadth; }
		&:before, &:after {
			display: block;
			position: absolute;
			left: -100%;
			right: -100%;
			top: -100%;
			bottom: -100%;
			margin: auto;
		}
		&:before {
			content: "";
			z-index: 1;
			width: $arrow-size;
			height: $arrow-size;
			border: solid 1px white;
			border-radius: 50%;
			background: rgb(96,96,96);
		}
		&:after {
			z-index: 2;
			width: 1em;
			height: 1em;
			text-align: center;
			vertical-align: middle;
			line-height: 1em;
			color: white;
			@include font-icon("MaterialIcons");
		}
		html.view-vertical.spread-ttb &#bibi-arrow-back {
			top: 0; bottom: auto; cursor: n-resize; @include transform-origin_( 50%   0 ); &:after { content: $mif_keyboard-arrow-up; }
		}
		html.view-vertical.spread-ttb &#bibi-arrow-forward {
			bottom: 0; top: auto; cursor: s-resize; @include transform-origin_( 50% 100%); &:after { content: $mif_keyboard-arrow-down; }
		}
		html.view-horizontal.spread-ltr &#bibi-arrow-back,    html.view-paged.page-ltr &#bibi-arrow-back,
		html.view-horizontal.spread-rtl &#bibi-arrow-forward, html.view-paged.page-rtl &#bibi-arrow-forward {
			left: 0; right: auto; cursor: w-resize; @include transform-origin_(  0   50%); &:after { content: $mif_keyboard-arrow-left; }
		}
		html.view-horizontal.spread-ltr &#bibi-arrow-forward, html.view-paged.page-ltr &#bibi-arrow-forward,
		html.view-horizontal.spread-rtl &#bibi-arrow-back,    html.view-paged.page-rtl &#bibi-arrow-back {
			right: 0; left: auto; cursor: e-resize; @include transform-origin_(100%  50%); &:after { content: $mif_keyboard-arrow-right; }
		}
		&.glowing {
			opacity: 1.00 !important;
			@include transform(scale(1.50) !important);
		}
		&.flickering {
			opacity: 1.00 !important;
		}
		&.firing {
			opacity: 1.00 !important;
			@include transform(scale(1.25) !important);
		}
	}
}
*/




// ================================================================================
// + Switches
// --------------------------------------------------------------------------------


// - Switches
// --------------------------------------------------------------------------------

div#bibi-switches {
	html.wait-please & {
		display: none;
	}
	ul {
		li {
			position: fixed;
			z-index: 4000;
			top: 4px;
			&#bibi-switch-panel {
				left: 4px;
			}
			&#bibi-switch-fullscreen {
				right: 4px;
			}
		}
	}
}




// ================================================================================
// + Panel
// --------------------------------------------------------------------------------


// - Panel (div#bibi-panel)
// --------------------------------------------------------------------------------

div#bibi-panel {
	@include box-sizing(border-box);
	overflow: hidden;
	z-index: 3000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgb(246,246,246);
	opacity: 0;
	@include transition(0.15s ease-out);
	@include transform(translateY(-100%));
	html.panel-opened & {
		@include transform(none !important);
		@include transition(0.15s ease-in);
		opacity: 1 !important;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		border-bottom: solid 1px rgb(242,242,242);
		width: 100%;
		height: $icon-height + 4px * 2;
		//background: rgba(255,255,255,0.88);
		//background: white;
		background: rgba(255,255,255,0.9);
	}
}


// - Panel > Menu (div#bibi-panel-menus)
// --------------------------------------------------------------------------------

div#bibi-panel-menus {
	@include box-sizing(border-box);
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	padding-left: $icon-width + 4px * 2;
	height: $icon-height + 4px * 2;
	color: white;
	ul {
		padding: 4px;
		height: $icon-height;
		//html.preparing & { display: none; }
		li {
			position: relative;
			float: left;
			margin-left: 4px;
			opacity: 1; //&.disabled { opacity: 0.5; }
			&:first-child { margin-left: 0; }
		}
	}/*
	ul#spread-layout-axis {
		html.spread-vertical & li.layout-vertical,
		html.spread-horizontal & li.layout-horizontal,
		html.view-paged & li {
			display: none;
		}
	}*/
}


// - Panel > Powered (div#bibi-panel-powered)
// --------------------------------------------------------------------------------

div#bibi-panel-powered {
	@include box-sizing(border-box);
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	padding: 4px 16px;
	border-top: solid 1px rgb(236,236,236);
	width: 100%;
	height: 36px;
	line-height: 30px;
	text-align: right;
	font-size: 14px;
	//background: rgba(248,248,248,0.88);
	//background: rgb(240,240,240);
	background: rgba(240,240,240,0.9);
	/*
	@media screen and (max-width: 400px) {
		text-align: right;
		html.window-not-embedded.fullscreen-enabled &,
		html.window-embedded.fullscreen-not-enabled & {
			right: 35px;
		}
		html.window-embedded.fullscreen-enabled & {
			right: 66px;
		}
	}
	*/
	a, span {
		display: inline-block;
		text-decoration: none;
		color: black;
		opacity: 0.48;
		img {
			margin-top: 8px;
			width: auto;
			height: 16px;
			vertical-align: top;
		}
	}
	a {
		@include transition(.15s linear);
		&:hover {
			opacity: 1;
			@include transition(.075s linear);
		}
	}
}


// - Panel > Navigation (div#bibi-panel-navigation)
// --------------------------------------------------------------------------------

div#bibi-panel-navigation {
	@include box-sizing(border-box);
	//font-family: sans-serif;
}
	div#bibi-panel-navigation-item-box {
		@include box-sizing(border-box);
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-overflow-scrolling: touch;
		html.page-ltr & { overflow-x: hidden; overflow-y: scroll; }
		html.page-rtl & { overflow-x: scroll; overflow-y: hidden; }
		&::-webkit-scrollbar { width: 8px; height: 8px; }
		&::-webkit-scrollbar-track { background: transparent; }
		&::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.75); border-radius: 3px; }
	}
		div#bibi-panel-navigation-item {
			@include box-sizing(border-box);
			padding: 65px 35px 35px;
			min-width: 100%;
			min-height: 100%;
//			html.view-horizontal.spread-ltr &, html.view-paged.page-ltr & { @include column-width(240px); @include column-gap(20px); }
			html.page-rtl & {
				@include writing-mode(vertical-rl);
				>*:first-child,
				>*:first-child >*:first-child,
				>*:first-child >*:first-child >*:first-child {
					margin-right: 0 !important;
				}
				span.tcy {
					@include text-combine-upright_all();
				}
			}
			html.page-ltr & {
				>*:first-child,
				>*:first-child >*:first-child,
				>*:first-child >*:first-child >*:first-child {
					margin-top: 0 !important;
				}
			}
			nav {
				$margin-before: 2em;
				$margin-after: 1em;
				line-height: 1.2;
				font-size: 20px;
				html.page-ltr & { margin: $margin-before 0 $margin-after 0; }
				html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
				h1, h2, h3, h4, h5, h6 {
					$margin-before: 0;
					$margin-after: 1em;
					font-weight: bold;
					html.page-ltr & { margin: $margin-before 0 $margin-after 0; }
					html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
				}
				small {
					font-size: .8em;
				}
				br +small {
					$margin-start: 2em;
					html.page-ltr & { margin: 0 0 0 $margin-start; }
					html.page-rtl & { margin: $margin-start 0 0 0; }
				}
				ul, ol {
					$margin-before: 0;
					$margin-after: 1em;
					font-size: .9em;
					html.page-ltr & { margin: $margin-before 0 $margin-after 0; }
					html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
					li {
						$margin-before: .75em;
						$margin-after: 0;
						html.page-ltr & { margin: $margin-before 0 $margin-after 0; }
						html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
						ul, ol {
							position: relative;
							$margin-before: 0;
							$margin-after: 0;
							html.page-ltr & { margin: $margin-before 0 $margin-after 0; }
							html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
							&:before {
								content: "";
								display: block;
								position: absolute;
								$start: .175em;
								$before: 0;
								$breadth: 4px;
								$length: 100%;
								background: white;
								html.page-ltr & { left: $start; top: $before; width: $breadth; height: $length; }
								html.page-rtl & { top: $start; right: $before; width: $length; height: $breadth; }
							}
							li {
								$margin-before: .25em;
								$margin-after: 0;
								$margin-start: 1em;
								html.page-ltr & { margin: $margin-before 0 $margin-after $margin-start; }
								html.page-rtl & { margin: $margin-start $margin-before 0 $margin-after; }
							}
						}
					}
				}
				a {
					color: rgb(64,64,64);
					text-decoration: none;
					@include transition(linear .15s);
					&:hover {
						color: steelblue;
						@include transition(none);
						html.page-ltr & { text-decoration: underline; }
						html.page-rtl & { text-decoration: overline; }
					}
					&.bibi-navigation-inactive-link {
						color: inherit !important;
						border: none 0 !important;
						cursor: default !important;
						&:hover {
							color: inherit !important;
						}
					}
				}
			}
			nav.bibi-nav-landmarks,
			nav.bibi-nav-page-list {
				font-size: 16px;
				h1, h2, h3, h4, h5, h6 {
					$margin-before: 0;
					$margin-after: .25em;
					html.page-ltr & { margin: $margin-before 0 $margin-after 0; }
					html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
				}
				ul, ol {
					overflow: hidden;
					$padding-after: .25em;
					html.page-ltr & { padding-bottom: $padding-after; }
					html.page-rtl & { padding-left: $padding-after; }
					li {
						float: left;
						$padding-end: 1em;
						html.page-ltr & { padding-right: $padding-end; &:last-child { padding-right: 0; } }
						html.page-rtl & { padding-bottom: $padding-end; &:last-child { padding-bottom: 0; } }
					}
				}
			}
		}




// ================================================================================
// + Nombre
// --------------------------------------------------------------------------------


// - Nombre (div#bibi-nombre)
// --------------------------------------------------------------------------------

div#bibi-nombre {
	@include box-sizing(border-box);
	overflow: hidden;
	z-index: 2000;
	position: fixed;
	left: 0;
	right: 0;
	top: auto;
	bottom: 0;
	margin: 0 auto;
	width: 10em;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	text-align: center;
	color: rgb(128,128,128);
	html.Mac &, html.PC & {
		$text-shadow-color: white;
		text-shadow:
			 0px -1px 1px $text-shadow-color,
			 1px  0px 1px $text-shadow-color,
			 0px  1px 1px $text-shadow-color,
			-1px  0px 1px $text-shadow-color;
	}
	@include transition(0.125s ease-out);
	&.transparentized {
		opacity: 0;
		@include transition(0.250s ease-out);
	}
	&.vanished {
		display: none;
	}/*
	html.panel-opened & {
		z-index: 4000;
		height: 36px;
		line-height: 36px;
	}*/
	span {
		display: inline-block;
	}
	span#bibi-nombre-current {
		font-size: 1.4em;
		font-weight: bold;
		color: rgb(112,112,112);
	}
	span#bibi-nombre-delimiter {
		margin: 0 -0.125em;
	}
	span#bibi-nombre-total {
	}
	span#bibi-nombre-percent {
	}
}