// ================================================================================
// + Stage
// --------------------------------------------------------------------------------


// - HTML / Body
// --------------------------------------------------------------------------------

html {
	overflow: hidden; &.welcome { overflow: scroll !important; }
	position: absolute; // for InAppBrowsers
	@include trbl(0,0,auto); // for InAppBrowsers
	@include size(100%);
	font-family: sans-serif;
	&.macOS   { font-family: "Helvetica", "Trebuchet MS", "游ゴシック", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", sans-serif; }
	&.iOS     { font-family: "Helvetica", "Trebuchet MS", "游ゴシック", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", sans-serif; }
	&.Windows { font-family: "Helvetica", "Trebuchet MS", "游ゴシック", "Yu Gothic", "YuGothic", "メイリオ",             "Meiryo",          sans-serif; }
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
	background: $GLOBAL__HTML_Background;
	/*
	&[data-bibi-cursor="left"]   { cursor: w-resize; }
	&[data-bibi-cursor="right"]  { cursor: e-resize; }
	&[data-bibi-cursor="top"]    { cursor: n-resize; }
	&[data-bibi-cursor="bottom"] { cursor: s-resize; }
	*/
	&[data-bibi-cursor="left"],
	&[data-bibi-cursor="right"],
	&[data-bibi-cursor="top"],
	&[data-bibi-cursor="bottom"] { cursor: pointer; }
	user-select: none;
	&.Blink { touch-action: none; }
}

body {
	* {
		-webkit-tap-highlight-color: rgba(255,255,255,0);
		-webkit-tap-highlight-color: transparent;
	}
	position: absolute;
	@include trbl(0,0,auto);
	overflow: hidden;
	@include size(100%);
	//max-height: 150vw;
	background: transparent no-repeat center center;
	transition: opacity .25s ease;
}

html.WebKit, html.Chromium {
	::-webkit-scrollbar {
		@include size($GLOBAL__Scrollbar-Track_Size);
	}
	::-webkit-scrollbar-track {
		background: $GLOBAL__Scrollbar-Track_BackgroundColor;
	}
	::-webkit-scrollbar-thumb {
		border-radius: $GLOBAL__Scrollbar-Track_Size * 0.5;
		border: solid (($GLOBAL__Scrollbar-Track_Size - $GLOBAL__Scrollbar-Thumb_Size) * 0.5) $GLOBAL__Scrollbar-Track_BackgroundColor;
		background: $GLOBAL__Scrollbar-Thumb_BackgroundColor;
		&:hover {
			background: $GLOBAL__Scrollbar-Thumb_BackgroundColor__Hover;
		}
		&:active {
			background: $GLOBAL__Scrollbar-Thumb_BackgroundColor__Active;
		}
	}
	&.touch,
	&.zoomed-in,
	&.slider-opened {
		::-webkit-scrollbar {
			@include size(0);
		}
		::-webkit-scrollbar-track {
			background: transparent;
		}
		::-webkit-scrollbar-thumb {
			border-color: transparent;
			background: transparent;
			&:hover {
				background: transparent;
			}
			&:active {
				background: transparent;
			}
		}
	}
	&.view-horizontal, &.view-vertical {
		body:after { // Scrollbar Border
			content: "";
			display: block;
			position: absolute;
			z-index: $GLOBAL__Scrollbar_ZIndex;
			margin: auto;
			background: $GLOBAL__Scrollbar-Track_BorderColor;
			transition: opacity .1s linear;
			opacity: 1;
		}
	}
	&.busy,
	&.laying-out,
	&.shade-opened {
		body:after { // Scrollbar Border
			opacity: 0;
		}
	}
	&.view-horizontal {
		body:after { // Scrollbar Border
			@include trbl(auto, 0, $GLOBAL__Scrollbar-Track_Size - 1px, 0);
			@include size(100%, 1px);
		}
	}
	&.view-vertical {
		body:after { // Scrollbar Border
			@include trbl(0, $GLOBAL__Scrollbar-Track_Size - 1px, 0, auto);
			@include size(1px, 100%);
		}
	}
	&.touch {
		body:after { // Scrollbar Border
			display: none !important;
		}
	}
}


// - BiB/i Info
// --------------------------------------------------------------------------------

div#bibi-info {
	overflow: hidden;
	@include size(0);
}


// - EPUB-Metafiles
// --------------------------------------------------------------------------------

div#epub-metafiles,
div#epub-metafiles * {
	display: none;
}


// - EPUB-Content
// --------------------------------------------------------------------------------

div#bibi-main {
	& {
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		//box-sizing: border-box;
		//padding: 35px 0;
		//transition: .2s ease-out;
		position: absolute;
		z-index: $GLOBAL__Main_ZIndex;
		//@include trbl(-100vh, -100vw);
		//margin: auto;
		width: 100%;
		background: $GLOBAL__Main_Background;
		transition:
			padding .1s ease,
			transform .1s ease,
			opacity .15s ease;
		transform-origin: 50% 50%;
		will-change: scroll-position, padding, transform, opacity;
	}
	html.book-full-height & {
		height: 100%;
	}
    html.view-paged & {
    	overflow: hidden;
    }
    html.view-horizontal & {
    	overflow-x: scroll;
    	overflow-y: hidden;
 	}
    html.view-vertical & {
    	overflow-x: hidden;
    	overflow-y: scroll;
 	}
	html.appearance-horizontal & {
		@include trbl(0, -100%, auto, -100%);
		//margin: 0 auto;
		//@include trbl(-100%);
		margin: auto;
	}
	html.appearance-horizontal:not(.book-full-height) & {
		top: $GLOBAL__TopBar_Height;
		height: calc(100% - #{$GLOBAL__TopBar_Height});
	}
	html.appearance-vertical & {
		@include trbl(-100%, auto, -100%, 0);
		//margin: auto 0;
		//@include trbl(-100%);
		margin: auto;
	}
	html.appearance-vertical:not(.book-full-height) & {
		padding-top: $GLOBAL__TopBar_Height;
		height: calc(100% - #{$GLOBAL__TopBar_Height});
	}
	html.laying-out & {
		opacity: 0;
	}
	html.busy &/*,
	html.shade-visible &*/ {
		opacity: 0.25;
		//filter: blur(2px);
	}/*
	html.panel-opened & {
		opacity: 0.75;
	}*/
	html.subpanel-opened & {
		opacity: 0.75;
	}
	html.slider-opened & {
	}/*
	html.page-ltr.flipping-ahead &,
	html.page-rtl.flipping-astern & {
		transform: translateX(-100px);
		opacity: 0;
	}
	html.page-ltr.flipping-astern &,
	html.page-rtl.flipping-ahead & {
		transform: translateX(100px);
		opacity: 0;
	}*/
}
	div#bibi-main-book {
		box-sizing: content-box;//box-sizing: border-box;
		display: flex;
		html.spread-ltr & { flex-direction: row; }
		html.spread-rtl & { flex-direction: row-reverse; }
		html.spread-ttb & { flex-direction: column; }
		flex-wrap: nowrap;
		justify-content: space-between;
		//align-items: center;
		position: relative;
		z-index: $GLOBAL__Main-Book_ZIndex;
		@include size(100%);
		transition: 0.5s ease-in-out;
		transition-property: transform;
//		transform: translateY( 0  );
//		html.panel-opened & { transform: translateY(36px); /* transform-origin: 50% 100%; transform: rotateX(-45deg); */ }
	}
		div.spread-box {
			box-sizing: border-box;
			flex-shrink: 0;
			position: relative;
			html.spread-horizontal & { height: 100%; }
			html.spread-horizontal &:not(.reflowable).spreaded { min-width: 100vw; }
			html.spread-horizontal &:not(.reflowable):not(.spreaded) { min-width: 144vw; }
			html.spread-vertical & { width: 100%; }
			html.view-paged.spread-vertical & { min-height: 100vh; } // [!] To Be Overwritten in Script (if Scrollbars have height)
			//html.book-pre-paginated.view-paged &.spreaded:not(.current) { visibility: hidden; }
			//html.book-pre-paginated.view-paged &:not(.spreaded):not(.current) { visibility: hidden; }
		}
			div.spread {
				box-sizing: border-box;
				overflow: hidden;
				position: absolute;
				z-index: 1;
				@include trbl(0);
				margin: auto;
				display: flex;
				flex-wrap: nowrap;
				justify-content: flex-start;
				html.page-ltr &                                    { flex-direction: row; }
				html.page-rtl &                                    { flex-direction: row-reverse; }
				html.view-vertical div.spread-box:not(.spreaded) & { flex-direction: column; }
				//div.spread-box.single-item-spread-before & { justify-content: flex-start; }
				div.spread-box.single-item-spread-after  & { justify-content: flex-end; }
				div.spread-box.single-item-spread-center & { justify-content: center; }
				align-items: center;
				div.spread-box.reflowable & { background: white; }
			}
				div.item-box {
					box-sizing: border-box;
					flex-shrink: 0;
					position: relative;
					//z-index: 1;
					overflow: hidden;
					background: white;
					&.reflowable {
						display: flex;
						html.spread-ltr & { flex-direction: row; }
						html.spread-rtl & { flex-direction: row-reverse; }
						html.spread-ttb & { flex-direction: column; }
						flex-wrap: nowrap;
						justify-content: flex-start;
						align-items: center;
					}
					html.book-pre-paginated &:after {
						content: "";
						display: block;
						position: absolute;
						z-index: 2;
						@include trbl(0);
						margin: auto;
						@include size(100%, 2em);
						text-align: center;
						font-family: sans-serif;
						font-size: 18px;
						font-weight: bold;
						color: rgb(192,192,192);
						opacity: 0;
						transition: opacity 1s ease-in;
					}
					html.book-pre-paginated &:not(.placeholder):not(.loaded):after {
						content: "Loading...";
						opacity: 1;
					}
				}
					iframe.item, span.page {
						box-sizing: content-box;
						display: block;
					}
					iframe.item {
						//overflow: hidden;
						position: absolute;
						z-index: 10;
						@include trbl(0);
						margin: 0;
						padding: 0;
						border: none 0;
						line-height: 1;
						vertical-align: top;
						background: transparent;
						html.zoomed-in & { will-change: transform; }
						html.transforming & { will-change: none !important; }
						transform-origin: 0 0;
						//html.page-ltr & { transform-origin: 0 0; }
						//html.page-rtl & { transform-origin: 100% 0; }
						//&.non-linear-item { display: none; }
						opacity: 1;
						div.item-box:not(.loaded) & { visibility: hidden; opacity: 0; }
						//html.book-pre-paginated.view-paged div.item-box.loaded:not(.current) & { opacity: .125; }
						div.spread-box.current & { transition: opacity .1s linear; }
					}
					span.page {
						z-index: 1;
						@include size(100%);
						div.item-box.reflowable & {
							position: relative;
							flex-shrink: 0;
						}
						div.item-box.pre-paginated & {
							position: absolute;
							@include trbl(0);
						}
					}

div#bibi-sub {}