// ================================================================================
// + Stage
// --------------------------------------------------------------------------------


// - HTML / Body
// --------------------------------------------------------------------------------

html {
	overflow: hidden; &.welcome { overflow: scroll !important; }
	position: absolute; // for InAppBrowsers
	@include trbl(0,0,auto); // for InAppBrowsers
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	&.macOS   { font-family: "Helvetica", "Trebuchet MS", "游ゴシック", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", sans-serif; }
	&.iOS     { font-family: "Helvetica", "Trebuchet MS", "游ゴシック", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", sans-serif; }
	&.Windows { font-family: "Helvetica", "Trebuchet MS", "游ゴシック", "Yu Gothic", "YuGothic", "メイリオ",             "Meiryo",          sans-serif; }
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
	background: $html-background;//$html-background;
	/*
	&[data-bibi-cursor="left"]   { cursor: w-resize; }
	&[data-bibi-cursor="right"]  { cursor: e-resize; }
	&[data-bibi-cursor="top"]    { cursor: n-resize; }
	&[data-bibi-cursor="bottom"] { cursor: s-resize; }
	*/
	&[data-bibi-cursor="left"],
	&[data-bibi-cursor="right"],
	&[data-bibi-cursor="top"],
	&[data-bibi-cursor="bottom"] { cursor: pointer; }
	user-select: none;
	&.Blink { touch-action: none; }
}

body {
	* {
		-webkit-tap-highlight-color: rgba(255,255,255,0);
		-webkit-tap-highlight-color: transparent;
	}
	position: absolute;
	@include trbl(0,0,auto);
	overflow: hidden;
	width: 100%;
	height: 100%;
	//max-height: 150vw;
	background: transparent no-repeat center center;
	transition: opacity .25s ease;
}

html.WebKit, html.Blink {
	::-webkit-scrollbar { // scrollbar
		height: $scrollbar-track-size;
		width: $scrollbar-track-size;
	}
	::-webkit-scrollbar-track { // scrollbar track
		background: $scrollbar-track-background-color;
	}
	::-webkit-scrollbar-thumb { // scrollbar thumb
		border-radius: $scrollbar-track-size * 0.5;
		border: solid (($scrollbar-track-size - $scrollbar-thumb-size) * 0.5) $scrollbar-track-background-color;
		background: $scrollbar-thumb-background-color;
		&:hover {
			background: $scrollbar-thumb-background-color_hover;
		}
		&:active {
			background: $scrollbar-thumb-background-color_active;
		}
	}
	&.touch,
	&.zoomed-in,
	&.slider-opened {
		::-webkit-scrollbar { // scrollbar
			height: 0;
			width: 0;
		}
		::-webkit-scrollbar-track { // scrollbar track
			background: transparent;
		}
		::-webkit-scrollbar-thumb { // scrollbar thumb
			border-color: transparent;
			background: transparent;
			&:hover {
				background: transparent;
			}
			&:active {
				background: transparent;
			}
		}
	}
	&.view-horizontal, &.view-vertical {
		body:after { // scrollbar border
			content: "";
			display: block;
			position: absolute;
			z-index: $z-index_scrollbar;
			margin: auto;
			background: $scrollbar-track-border-color;
			transition: opacity .1s linear;
			opacity: 1;
		}
	}
	&.busy,
	&.laying-out,
	&.shade-opened {
		body:after { // scrollbar border
			opacity: 0;
		}
	}
	&.view-horizontal {
		body:after { // scrollbar border
			left: 0; right: 0; top: auto;
			bottom: $scrollbar-track-size - 1px;
			width: 100%;
			height: 1px;
		}
	}
	&.view-vertical {
		body:after { // scrollbar border
			top: 0; bottom: 0; left: auto;
			right: $scrollbar-track-size - 1px;
			width: 1px;
			height: 100%;
		}
	}
	&.touch {
		body:after { // scrollbar border
			display: none !important;
		}
	}
}


// - BiB/i Info
// --------------------------------------------------------------------------------

div#bibi-info {
	overflow: hidden;
	width: 0;
	height: 0;
}


// - EPUB-Metafiles
// --------------------------------------------------------------------------------

div#epub-metafiles,
div#epub-metafiles * {
	display: none;
}


// - EPUB-Content
// --------------------------------------------------------------------------------

div#bibi-main {
	& {
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		//box-sizing: border-box;
		//padding: 35px 0;
		//transition: .2s ease-out;
		position: absolute;
		z-index: $z-index_main;
		//@include trbl(-100vh, -100vw);
		//margin: auto;
		@include size(100%);
		background: $main-background;
		transition:
			opacity .15s ease,
			transform .15s ease;
		transform-origin: 50% 50%;
		will-change: scroll-position, opacity, transform;
	}
	html.book-full-height & {
	}
	html:not(.book-full-height) & {
		padding-top: $top-bar-height;
	}
    html.view-paged & {
    	overflow: hidden;
    }
    html.view-horizontal & {
    	overflow-x: scroll;
    	overflow-y: hidden;
 	}
    html.view-vertical & {
    	overflow-x: hidden;
    	overflow-y: scroll;
 	}
	html.appearance-horizontal & {
		@include trbl(0, -100%, auto, -100%);
		margin: 0 auto;
	}
	html.appearance-vertical & {
		@include trbl(-100%, auto, -100%, 0);
		margin: auto 0;
	}
	html.laying-out & {
		opacity: 0;
	}
	html.busy &/*,
	html.shade-visible &*/ {
		opacity: 0.25;
		//filter: blur(2px);
	}/*
	html.panel-opened & {
		opacity: 0.75;
	}*/
	html.subpanel-opened & {
		opacity: 0.75;
	}
	html.slider-opened & {
	}/*
	html.page-ltr.flipping-ahead &,
	html.page-rtl.flipping-astern & {
		transform: translateX(-100px);
		opacity: 0;
	}
	html.page-ltr.flipping-astern &,
	html.page-rtl.flipping-ahead & {
		transform: translateX(100px);
		opacity: 0;
	}*/
}
	div#bibi-main-book {
		box-sizing: content-box;//box-sizing: border-box;
		display: flex;
		html.spread-ltr & { flex-direction: row; }
		html.spread-rtl & { flex-direction: row-reverse; }
		html.spread-ttb & { flex-direction: column; }
		flex-wrap: nowrap;
		justify-content: space-between;
		//align-items: center;
		position: relative;
		z-index: $z-index_main-book;
		@include size(100%);
		transition: 0.5s ease-in-out;
		transition-property: transform;
//		transform: translateY( 0  );
//		html.panel-opened & { transform: translateY(36px); /* transform-origin: 50% 100%; transform: rotateX(-45deg); */ }
	}
		div.spread-box {
			box-sizing: border-box;
			flex-shrink: 0;
			position: relative;
			html.spread-horizontal & { height: 100%; }
			html.spread-horizontal &:not(.reflowable) { min-width: 100vw; }
			html.spread-vertical & { width: 100%; }
			html.view-paged.spread-vertical & { min-height: 100vh; } // [!] To Be Overwritten in Script (if Scrollbars have height)
		}
			div.spread {
				box-sizing: border-box;
				overflow: hidden;
				position: absolute;
				z-index: 1;
				@include trbl(0);
				margin: auto;
				display: flex;
				flex-wrap: nowrap;
				justify-content: center;
				html.page-ltr &                                  { flex-direction: row; }
				html.page-rtl &                                  { flex-direction: row-reverse; }
				html.view-vertical div.spread-box.not-spreaded & { flex-direction: column; }
				div.spread-box.single-item-spread-before & { justify-content: flex-start; }
				div.spread-box.single-item-spread-after  & { justify-content: flex-end; }
				align-items: center;
				div.spread-box.reflowable & { background: white; }
			}
				div.item-box {
					box-sizing: border-box;
					flex-shrink: 0;
					position: relative;
					//z-index: 1;
					overflow: hidden;
					background: white;
					&.reflowable {
						display: flex;
						html.spread-ltr & { flex-direction: row; }
						html.spread-rtl & { flex-direction: row-reverse; }
						html.spread-ttb & { flex-direction: column; }
						flex-wrap: nowrap;
						justify-content: flex-start;
						align-items: center;
					}
					html.book-pre-paginated.view-paged &:not(.current) {
						opacity: .125;
					}
					html.book-pre-paginated &:after {
						content: "";
						display: block;
						position: absolute;
						z-index: 2;
						@include trbl(0);
						margin: auto;
						@include size(100%, 2em);
						text-align: center;
						font-family: sans-serif;
						font-size: 18px;
						font-weight: bold;
						color: rgb(192,192,192);
						opacity: 0;
						transition: opacity 1s ease-in;
					}
					html.book-pre-paginated &:not(.placeholder):after {
						content: "Loading...";
						opacity: 1;
					}
				}
					iframe.item, span.page {
						box-sizing: content-box;
						display: block;
					}
					iframe.item {
						position: absolute;
						z-index: 10;
						@include trbl(0);
						margin: 0;
						padding: 0;
						border: none 0;
						line-height: 1;
						vertical-align: top;
						html.zoomed-in & { will-change: transform; }
						html.transforming & { will-change: none !important; }
						html.page-ltr & { transform-origin: 0 0; }
						html.page-rtl & { transform-origin: 100% 0; }
						//&.non-linear-item { display: none; }
						opacity: 1; div.item-box:not(.loaded) & { opacity: 0; }
						div.spread-box.current & { transition: opacity .1s linear; }
					}
					span.page {
						z-index: 1;
						@include size(100%);
						div.item-box.reflowable & {
							position: relative;
							flex-shrink: 0;
						}
						div.item-box.pre-paginated & {
							position: absolute;
							@include trbl(0);
						}
					}

div#bibi-sub {}


// ================================================================================
// + Factory / Dev.
// --------------------------------------------------------------------------------

div#__bs_notify__ {
	box-sizing: border-box !important;
	display: table-cell !important;
	position: fixed !important;
	@include trbl(0 !important);
	margin: auto !important;
	border-radius: 1.5em !important;
	padding: 0 !important;
	width: 16em !important;
	height: 3em !important;
	line-height: 3em !important;
	font-size: 14px !important;
	font-weight: bold !important;
	text-indent: -.25em !important;
	text-shadow: 0 0 2px black !important;
	background: rgba(black, 0.5) !important;
	//transform-origin: 0 100% !important;
	//transform: translateY(-2em) rotate(90deg) !important;
}



