// ================================================================================
// + Icons
// --------------------------------------------------------------------------------

// - Vars
// --------------------------------------------------------------------------------

$icon-size: 33px;
$icon-width: $icon-size;
$icon-height: $icon-size;

$shape-item-width: 11px;
$shape-item-height: 17px;
$shape-spread-width: $shape-item-width * 2 - 1px;
$shape-spread-height: $shape-item-height;


// - BiB/i Logo
// --------------------------------------------------------------------------------

.bibi-logo {
	.bibi-type {
		display: inline-block;
		position: relative;
		font-weight: inherit;
		font-family: "Quando", serif;
		letter-spacing: -0.075em;
		word-break: keep-all;
		.bibi-type-B,
		.bibi-type-i,
		.bibi-type-slash {
			display: inline-block;
			position: relative;
		}
		.bibi-type-B {
		}
		.bibi-type-i {
		}
		.bibi-type-slash {
			font-family: "Lato", sans-serif; margin-right: 0.0275em;
			font-family: "Cantata One", serif; top: 0.05em; margin-left: -0.05em; margin-right: -0.081em;
			font-weight: 300;
			font-size: .69em;
		}
	}
}


// - Draw
// --------------------------------------------------------------------------------

.bibi-icon,
.bibi-icon:before,
.bibi-icon:after,
.bibi-icon * {
	box-sizing: border-box;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	border-style: none;
	border-width: 0;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
}

.bibi-icon {
	overflow: hidden;
	position: relative;
	border: solid 1px;
	border-radius: 2px;
	width: $icon-width;
	height: $icon-height;
	cursor: pointer;
	&:before, &:after {
		content: "";
	}
	* {
		position: absolute;
	}
	span.bibi-shape-spreads {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: $shape-spread-width;
		height: $shape-spread-height;
		span.bibi-shape-spread {
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			span.bibi-shape-item {
				top: 0;
				border: solid 1px;
				width: $shape-item-width;
				height: $shape-item-height;
				&:first-child { left: 0; }
				&:last-child  { left: ($shape-item-width - 1px); }
			}
		}
	}
	span.bibi-shape-spreads-paged {
		span.bibi-shape-spread {
			&:first-child { display: none; }
			&:last-child  { display: none; }
		}
	}
	span.bibi-shape-spreads-horizontal {
		span.bibi-shape-spread {
			&:first-child { left: ($shape-spread-width + 1px) * -1; }
			&:last-child  { left: ($shape-spread-width + 1px); }
		}
	}
	span.bibi-shape-spreads-vertical {
		span.bibi-shape-spread {
			&:first-child { top: ($shape-spread-height + 2px) * -1; }
			&:last-child  { top: ($shape-spread-height + 2px); }
		}
	}
}


// - Write
// --------------------------------------------------------------------------------

.bibi-icon.bibi-switch-panel {
	$bar-width: 19px;
	$bar-height: 2px;
	$bar-isolation: 4px;
	$bar-block-height: $bar-height + $bar-isolation;
	$bars-width: $bar-width;
	$bars-height: $bar-height * 3 + $bar-isolation * 2 + 1px;
	$bars-top: ($icon-height - $bars-height) / 2 - 1px;
	&:before, span, &:after {
		left: 0 !important;
		right: 0 !important;
		margin: auto !important;
		//border-bottom: solid 1px !important;
		width: $bar-width !important;
		height: $bar-height !important;
		border-radius: 1px;
		transition: .125s linear !important;
	}
	&:before, &:after {
		display: block;
		position: absolute;
	}
	&:before {
		top: $bars-top !important;
	}
	span {
		top: $bars-top + $bar-block-height !important;
		color: transparent !important;
	}
	&:after {
		top: $bars-top + $bar-block-height * 2 !important;
	}
	html.panel-opened & {
		&:before {
			transform: translateY(($bar-isolation + $bar-height) *  1) rotate(135deg);
		}
		span {
			opacity: 0;
		}
		&:after {
			transform: translateY(($bar-isolation + $bar-height) * -1) rotate(225deg);
		}
	}
}

.bibi-icon.bibi-switch-newwindow,
.bibi-icon.bibi-switch-fullscreen {
	&:before {/*
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;*/
		//transform: translateY(-1px);
		background: no-repeat center center;
		background-size: contain;
	}
}

.bibi-icon.bibi-switch-newwindow {
	text-decoration: none !important;
	&:before {
		margin: 3.5px auto 0;
		width: 24px;
		height: 24px;
		background-image: url(#{$path-res}/images/MaterialIcons/ic_open_in_new_black_48dp.png); /* The Material Icons */
	}
	&:hover:before {
		background-image: url(#{$path-res}/images/MaterialIcons/ic_open_in_new_white_48dp.png); /* The Material Icons */
	}
}

.bibi-icon.bibi-switch-fullscreen {
	&:before {
		margin: 1.5px auto 0;
		width: 28px;
		height: 28px;
		background-image:             url(#{$path-res}/images/MaterialIcons/ic_fullscreen_black_48dp.png);      /* The Material Icons */
		$background-image_fullscreen: url(#{$path-res}/images/MaterialIcons/ic_fullscreen_exit_black_48dp.png); /* The Material Icons */
		html:fullscreen                      & { background-image: $background-image_fullscreen; }
		html:full-screen                     & { background-image: $background-image_fullscreen; }
		html:-webkit-fullscreen              & { background-image: $background-image_fullscreen; }
		html:-webkit-full-screen             & { background-image: $background-image_fullscreen; }
		html:-moz-fullscreen                 & { background-image: $background-image_fullscreen; }
		html:-moz-full-screen                & { background-image: $background-image_fullscreen; }
		html:-ms-fullscreen                  & { background-image: $background-image_fullscreen; }
		span.bibi-holder:fullscreen          & { background-image: $background-image_fullscreen; }
		span.bibi-holder:full-screen         & { background-image: $background-image_fullscreen; }
		span.bibi-holder:-webkit-fullscreen  & { background-image: $background-image_fullscreen; }
		span.bibi-holder:-webkit-full-screen & { background-image: $background-image_fullscreen; }
		span.bibi-holder:-moz-fullscreen     & { background-image: $background-image_fullscreen; }
		span.bibi-holder:-moz-full-screen    & { background-image: $background-image_fullscreen; }
		span.bibi-holder:-ms-fullscreen      & { background-image: $background-image_fullscreen; }
	}
	&:hover:before {
		background-image:             url(#{$path-res}/images/MaterialIcons/ic_fullscreen_white_48dp.png);      /* The Material Icons */
		$background-image_fullscreen: url(#{$path-res}/images/MaterialIcons/ic_fullscreen_exit_white_48dp.png); /* The Material Icons */
		html:fullscreen                      & { background-image: $background-image_fullscreen }
		html:full-screen                     & { background-image: $background-image_fullscreen }
		html:-webkit-fullscreen              & { background-image: $background-image_fullscreen }
		html:-webkit-full-screen             & { background-image: $background-image_fullscreen }
		html:-moz-fullscreen                 & { background-image: $background-image_fullscreen }
		html:-moz-full-screen                & { background-image: $background-image_fullscreen }
		html:-ms-fullscreen                  & { background-image: $background-image_fullscreen }
		span.bibi-holder:fullscreen          & { background-image: $background-image_fullscreen }
		span.bibi-holder:full-screen         & { background-image: $background-image_fullscreen }
		span.bibi-holder:-webkit-fullscreen  & { background-image: $background-image_fullscreen }
		span.bibi-holder:-webkit-full-screen & { background-image: $background-image_fullscreen }
		span.bibi-holder:-moz-fullscreen     & { background-image: $background-image_fullscreen }
		span.bibi-holder:-moz-full-screen    & { background-image: $background-image_fullscreen }
		span.bibi-holder:-ms-fullscreen      & { background-image: $background-image_fullscreen }
	}
}


// - Colour
// --------------------------------------------------------------------------------

//.bibi-icon { &, &:before, &:after, & * { transition: 0.15s linear; } }

.bibi-icon {
	$color_label: rgb(128,128,128);
//	border-color: rgba(66,64,62,.5) !important;
//	background-color: rgba(255,255,255,0.8) !important;
	border-color: rgba(192,192,192,0.5) !important;
	background-color: rgba(255,255,255,0.8) !important;
//	opacity: .64;
	transition: 0.15s linear;
	html.panel-opened & {
//		opacity: 1 !important;
	}
	&:before, &:after {
		color: $color_label !important;
	}
	&.bibi-switch-panel:before, &.bibi-switch-panel span, &.bibi-switch-panel:after {
		background-color: lighten($color_label, 5%) !important;
	}
	&.bibi-switch-newwindow:before, &.bibi-switch-fullscreen:before {
		opacity: 0.4 !important;
	}
	span.bibi-shape-spreads {
		opacity: 0.8 !important;
		span.bibi-shape-spread {
			span.bibi-shape-item {
				border-color: rgb(128,128,128) !important;
				background-color: white !important;
			}
		}
	}
}

/*html.view-paged*/ .bibi-icon-paged,
/*html.view-horizontal*/ .bibi-icon-horizontal,
/*html.view-vertical*/ .bibi-icon-vertical {
	background-color: rgb(236,232,228) !important;
}

.bibi-icon:hover {
	$color_label: white;
	background-color: rgba(132,128,124,.88) !important;
	opacity: 1 !important;
	&:before, &:after {
		color: $color_label !important;
	}
	&.bibi-switch-panel:before, &.bibi-switch-panel span, &.bibi-switch-panel:after {
		border-bottom-color: darken($color_label, 25%) !important;
		background-color: $color_label !important;
	}
	&.bibi-switch-newwindow:before, &.bibi-switch-fullscreen:before {
		opacity: 1 !important;
	}
	span.bibi-shape-spreads {
		opacity: 1 !important;
		span.bibi-shape-spread {
			span.bibi-shape-item {
				border-color: white !important;
				background-color: rgb(192,188,184) !important;
			}
		}
	}
}

html.view-paged .bibi-icon-paged,
html.view-horizontal .bibi-icon-horizontal,
html.view-vertical .bibi-icon-vertical {
	// ON
	background-color: rgb(196,192,188) !important;
	cursor: default !important;
	opacity: 1 !important;
	span.bibi-shape-spreads {
		opacity: 1 !important;
		span.bibi-shape-spread {
			span.bibi-shape-item {
				border-color: rgb(164,160,156) !important;
				background-color: white !important;
			}
		}
	}
}