// ================================================================================
// + Font Faces
// --------------------------------------------------------------------------------


$font-root: "../fonts";




// ================================================================================
// + CJK
// --------------------------------------------------------------------------------


// - Bibi YuGothic
// --------------------------------------------------------------------------------

@mixin font_BibiYuGothic() {
	/* ## Light */
	@font-face {  font-family: "BibiYuGothic";  font-weight: 100;  src: local("YuGothic-Light"),   local("Yu Gothic Light");  }
	@font-face {  font-family: "BibiYuGothic";  font-weight: 200;  src: local("YuGothic-Light"),   local("Yu Gothic Light");  }
	/* ## Regular */
	@font-face {  font-family: "BibiYuGothic";  font-weight: 300;  src: local("YuGothic-Regular"), local("Yu Gothic");  }
	/* ## Medium */
	@font-face {  font-family: "BibiYuGothic";  font-weight: 400;  src: local("YuGothic-Medium"),  local("Yu Gothic Medium"), local("YuGothic-Regular"), local("Yu Gothic");  }
	@font-face {  font-family: "BibiYuGothic";  font-weight: 500;  src: local("YuGothic-Medium"),  local("Yu Gothic Medium"), local("YuGothic-Regular"), local("Yu Gothic");  }
	/* ## Bold */
	@font-face {  font-family: "BibiYuGothic";  font-weight: 600;  src: local("YuGothic-Bold"),    local("Yu Gothic");  }
	@font-face {  font-family: "BibiYuGothic";  font-weight: 700;  src: local("YuGothic-Bold"),    local("Yu Gothic");  }
	@font-face {  font-family: "BibiYuGothic";  font-weight: 800;  src: local("YuGothic-Bold"),    local("Yu Gothic");  }
	@font-face {  font-family: "BibiYuGothic";  font-weight: 900;  src: local("YuGothic-Bold"),    local("Yu Gothic");  }
}
@include font_BibiYuGothic();




// ================================================================================
// + Icons
// --------------------------------------------------------------------------------


// - Font Awesome
// --------------------------------------------------------------------------------

@mixin font_FontAwesome() { /*!
 *
 *  ## Font: Font Awesome
 *  - Copyright (c) Dave Gandy - http://fontawesome.io
 *  - Licensed under the SIL Open Font License (OFL) 1.1 - http://scripts.sil.org/OFL
 *
 */
	/* ## Icons */
	@font-face {
		font-family: "FontAwesome";  font-weight: normal;  font-style: normal;
		src: url("#{$font-root}/FontAwesome/fontawesome-webfont.woff2") format("woff2"),
			 url("#{$font-root}/FontAwesome/fontawesome-webfont.woff") format("woff"),
			 url("#{$font-root}/FontAwesome/fontawesome-webfont.ttf") format("truetype");
	}
}
@include font_FontAwesome();


// - Elegant Icons
// --------------------------------------------------------------------------------

@mixin font_ElegantIcons() { /*!
 *
 *  ## Font: The Elegant Icon Font
 *  - Copyright (c) Elegant Themes, Inc. - http://www.elegantthemes.com/blog/resources/elegant-icon-font
 *  - Dual licensed under the GPL 2.0 and MIT license. - http://www.gnu.org/licenses/gpl-2.0.html and http://www.opensource.org/licenses/mit-license.php
 *
 */
	/* ## Icons */
	@font-face {
		font-family: "ElegantIcons";  font-weight: normal;  font-style: normal;
		src: url("#{$font-root}/ElegantIcons/ElegantIcons.woff") format("woff"),
			 url("#{$font-root}/ElegantIcons/ElegantIcons.ttf")  format("truetype");
	}
}
@include font_ElegantIcons();


// - Material Icons
// --------------------------------------------------------------------------------

@mixin font_MaterialIcons() { /*!
 *
 *  ## Font: Material Icons
 *  - Copyright (c) Material Design Authors / Google Inc. - https://material.io/icons/
 *  - Licensed under the Apache License Version 2.0 - https://www.apache.org/licenses/LICENSE-2.0
 *
 */
	/* ## Icons */
	@font-face {
		font-family: 'Material Icons';
		font-style: normal;
		font-weight: 400;
		src: url("#{$font-root}/MaterialIcons/MaterialIcons-Regular.woff2") format('woff2'),
		     url("#{$font-root}/MaterialIcons/MaterialIcons-Regular.woff") format('woff'),
		     url("#{$font-root}/MaterialIcons/MaterialIcons-Regular.ttf") format('truetype');
	}
}
@include font_MaterialIcons();