// ================================================================================
// + Lib.
// --------------------------------------------------------------------------------


// - Vars
// --------------------------------------------------------------------------------

$scrollbar-track-size: 15px;
$scrollbar-track-background-color: rgb(248,248,248);
$scrollbar-track-border-color: rgb(232,232,232);

$scrollbar-thumb-size: 7px;
$scrollbar-thumb-background-color: rgb(160,160,160);
$scrollbar-thumb-border-color: rgb(176,176,176);

$veil-background: rgb(64,64,64);
$bibi-background: rgb(64,64,64);

$bottom-bar-height: 36px;

$z-index_main: 1;
	$z-index_main-book: 1;
	$z-index_main-arrow: 100;
	$z-index_main-touchpanel: 10;

$z-index_scrollbar: $z-index_main + 1;
$z-index_indicator-progress-bar: $z-index_main + 1;
$z-index_indicator-nombre: $z-index_main + 1;

$z-index_sub: 10;

$z-index_veil: 100;
	$z-index_veil-bottombar: 1;
	$z-index_veil-cover: 10;
	$z-index_veil-catcher: 10;
	$z-index_veil-play: 10;
	$z-index_veil-byebye: 10;

$z-index_panel: 1000;
	$z-index_panel-bookinfo: 1;
	$z-index_panel-bottombar: $z-index_panel-bookinfo + 1;
	$z-index_panel-shade: 100;
	$z-index_panel-topbar: 1000;
	$z-index_panel-menu: $z-index_panel-topbar + 1;
	$z-index_panel-subpanel: 10000;

$z-index-help: $z-index_panel + 1;
$z-index-powered: $z-index_panel + 1;

$z-index_switch: 10000;

$z-index_notifier-board: 99999999999;
$z-index_indicator-mark: $z-index_notifier-board - 1;

