// ================================================================================
// + BiB/i Logo
// --------------------------------------------------------------------------------


.bibi-logo {
	.bibi-type {
		display: inline-block;
		position: relative;
		font-weight: inherit;
		font-family: "Quando", serif;
		letter-spacing: -0.075em;
		word-break: keep-all;
		.bibi-type-B,
		.bibi-type-i,
		.bibi-type-slash {
			display: inline-block;
			position: relative;
		}
		.bibi-type-B {
		}
		.bibi-type-i {
		}
		.bibi-type-slash {
			font-family: "Lato", sans-serif; margin-right: 0.0275em;
			font-family: "Cantata One", serif; top: 0.05em; margin-left: -0.05em; margin-right: -0.081em;
			font-weight: 300;
			font-size: .69em;
		}
	}
}




// ================================================================================
// + Draw
// --------------------------------------------------------------------------------



// - Base
// --------------------------------------------------------------------------------

.bibi-icon {
	&,
	& *,
	&:before {
		box-sizing: border-box;
		display: inline-block;
		padding: 0;
		border-style: none;
		border-width: 0;
		text-align: center;
		vertical-align: middle;
		text-decoration: none;
	}
	& {
		overflow: hidden;
		position: relative;
		border: solid 1px;
		border-radius: 3px;
		width: $icon-size;
		height: $icon-size;
	}
	.bibi-subpanel & {
		width: $icon-size_in-subpanel;
		height: $icon-size_in-subpanel;
	}
	& *,
	&:before {
		position: absolute;
		margin: 0;
	}
}


// - Shapes
// --------------------------------------------------------------------------------

$shape-item-width: 9px;
$shape-item-height: 16px;
$shape-spread-width: $shape-item-width * 2 - 1px;
$shape-spread-height: $shape-item-height;

$shape-item-width_in-subpanel: 7px;
$shape-item-height_in-subpanel: 11px;
$shape-spread-width_in-subpanel: $shape-item-width_in-subpanel * 2 - 1px;
$shape-spread-height_in-subpanel: $shape-item-height_in-subpanel;

.bibi-icon-view-paged,
.bibi-icon-view-horizontal,
.bibi-icon-view-vertical {
	span.bibi-shape-spreads {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: $shape-spread-width;
		height: $shape-spread-height;
		span.bibi-shape-spread {
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			span.bibi-shape-item {
				top: 0;
				border: solid 1px;
				width: $shape-item-width;
				height: $shape-item-height;
				&:first-child { left: 0; }
				&:last-child  { left: ($shape-item-width - 1px); }
			}
		}
	}
	.bibi-subpanel & span.bibi-shape-spreads {
		width: $shape-spread-width_in-subpanel;
		height: $shape-spread-height_in-subpanel;
		span.bibi-shape-spread {
			span.bibi-shape-item {
				width: $shape-item-width_in-subpanel;
				height: $shape-item-height_in-subpanel;
				&:last-child  { left: ($shape-item-width_in-subpanel - 1px); }
			}
		}
	}
}

.bibi-icon-view-paged {
	span.bibi-shape-spreads-paged {
		span.bibi-shape-spread {
			&:first-child { display: none; }
			&:last-child  { display: none; }
		}
	}
}

.bibi-icon-view-horizontal {
	span.bibi-shape-spreads-horizontal {
		span.bibi-shape-spread {
			&:first-child { left: ($shape-spread-width + 1px) * -1; }
			&:last-child  { left: ($shape-spread-width + 1px); }
		}
	}
	.bibi-subpanel & span.bibi-shape-spreads {
		span.bibi-shape-spread {
			&:first-child { left: ($shape-spread-width_in-subpanel + 1px) * -1; }
			&:last-child  { left: ($shape-spread-width_in-subpanel + 1px); }
		}
	}
}

.bibi-icon-view-vertical {
	span.bibi-shape-spreads-vertical {
		span.bibi-shape-spread {
			&:first-child { top: ($shape-spread-height + 1px) * -1; }
			&:last-child  { top: ($shape-spread-height + 1px); }
		}
	}
	.bibi-subpanel & span.bibi-shape-spreads {
		span.bibi-shape-spread {
			&:first-child { top: ($shape-spread-height_in-subpanel + 1px) * -1; }
			&:last-child  { top: ($shape-spread-height_in-subpanel + 1px); }
		}
	}
}


// - Bars
// --------------------------------------------------------------------------------

.bibi-icon-toggle-panel {
	$bar-width: 19px;
	$bar-height: 2px;
	$bar-isolation: 4px;
	$bar-block-height: $bar-height + $bar-isolation;
	$bars-width: $bar-width;
	$bars-height: $bar-height * 3 + $bar-isolation * 2 + 1px;
	$bars-top: ($icon-size - $bars-height) / 2 - 0.5px;
	>span {
		left: 0;
		right: 0;
		margin: auto;
		width: $bar-width;
		height: $bar-height;
		border-radius: 1px;
	}
	& {
		>span.bar-1 {
			top: $bars-top;
		}
		>span.bar-2 {
			top: $bars-top + $bar-block-height;
		}
		>span.bar-3 {
			top: $bars-top + $bar-block-height * 2;
		}
	}
	.bibi-button.active & {
		>span.bar-1 {
			opacity: 1;
			transform: translateY(($bar-isolation + $bar-height) *  1) rotate(135deg);
		}
		>span.bar-2 {
			opacity: 0;
			transform: rotate(-360deg);
		}
		>span.bar-3 {
			opacity: 1;
			transform: translateY(($bar-isolation + $bar-height) * -1) rotate(225deg);
		}
	}
}


// - Icon Fonts
// --------------------------------------------------------------------------------

.bibi-icon-setting,
.bibi-icon-share,
.bibi-icon-toggle-fullscreen,
.bibi-icon-open-newwindow {
	text-decoration: none;
	&:before {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		vertical-align: middle;
		line-height: $icon-size * 0.98;
		.bibi-subpanel & {
			line-height: $icon-size_in-subpanel * 0.98;
		}
	}
}

.bibi-icon-setting {
	&:before {
	//	@include font-icon("Material Icons");
	//	content: /*touch_app*/ "\e8b8";
	//	@include font-icon("FontAwesome");
	//	content: "\f013"; // cog
	//	font-size: $icon-size * 23/31;
		@include font-icon("ElegantIcons");
		content: "\e037"; // icon_cog
		font-size: $icon-size * 19/31;
	}
}

.bibi-icon-share {
	&:before {
	//	@include font-icon("Material Icons");
	//	content: /*share*/ "\e80d";
	//	@include font-icon("FontAwesome");
	//	content: "\f064"; // share
	//	content: "\f045"; // share-square-o
	//	content: "\f1e0"; // share-alt
		@include font-icon("ElegantIcons");
		content: "\e0a0"; // social_share
		font-size: $icon-size * 16/31;
	}
}

.bibi-icon-toggle-fullscreen {
	&:before {
		//@include font-icon("Material Icons");
		@include font-icon("FontAwesome");
		.bibi-subpanel & {
			font-size: $icon-size_in-subpanel * 5/7;
		}
	}
	&:before {
		//content: /*fullscreen*/ "\e5d0";
		content: "\f065"; // expand
	}
	*:fullscreen &:before {
		//content: /*fullscreen_exit*/ "\e5d1";
		content: "\f066"; // compress
	}
}

.bibi-icon-open-newwindow {
	&:before {
	//	@include font-icon("Material Icons");
	//	content: /*open_in_new*/ "\e89e";
		@include font-icon("FontAwesome");
		content: "\f08e"; // external-link
		font-size: $icon-size * 21/31;
		.bibi-subpanel & {
			margin-top: .06em;
			margin-left: .09em;
			font-size: $icon-size_in-subpanel * 13/21;
		}
	}
}




// ================================================================================
// + Colors & Interaction
// --------------------------------------------------------------------------------


// - Vars
// --------------------------------------------------------------------------------

// Default
$icon-color_font-paint:    rgb(144,144,144);
$icon-color_font-outline:  transparent;
$icon-color_shape-paint:   white;
$icon-color_shape-outline: $icon-color_font-paint;
$icon-color_background:    rgba(white, 0.9);
$icon-color_border:        rgb(236,236,236);

// Default in Sub Panel
$icon-color_font-paint_in-subpanel:    rgb(128,128,128);
$icon-color_font-outline_in-subpanel:  transparent;
$icon-color_shape-paint_in-subpanel:   white;
$icon-color_shape-outline_in-subpanel: rgb(144,144,144);
$icon-color_background_in-subpanel:    rgb(248,248,248);
$icon-color_border_in-subpanel:        rgb(192,192,192);

// Default:Hover
$icon-color_default-hover_font-paint:    rgb(64,64,64);
$icon-color_default-hover_font-outline:  $icon-color_font-outline;
$icon-color_default-hover_shape-paint:   $icon-color_shape-paint;
$icon-color_default-hover_shape-outline: $icon-color_default-hover_font-paint;
$icon-color_default-hover_background:    $icon-color_background;
$icon-color_default-hover_border:        rgb(192,192,192);

// Default:Hover in Sub Panel
$icon-color_default-hover_font-paint_in-subpanel:    $color-in-subpanel;
$icon-color_default-hover_font-outline_in-subpanel:  transparent;
$icon-color_default-hover_shape-paint_in-subpanel:   white;
$icon-color_default-hover_shape-outline_in-subpanel: $color-in-subpanel;
$icon-color_default-hover_background_in-subpanel:    lighten($color-in-subpanel, 45%);
$icon-color_default-hover_border_in-subpanel:        $color-in-subpanel;

// Active
$icon-color_active_font-paint:    $icon-color_background;
$icon-color_active_font-outline:  transparent;
$icon-color_active_shape-paint:   $icon-color_shape-paint;
$icon-color_active_shape-outline: $icon-color_font-paint;
$icon-color_active_background:    $icon-color_font-paint;
$icon-color_active_border:        darken($icon-color_border, 30%);

// Active in Sub Panel
$icon-color_active_font-paint_in-subpanel:    white;
$icon-color_active_font-outline_in-subpanel:  transparent;
$icon-color_active_shape-paint_in-subpanel:   white;
$icon-color_active_shape-outline_in-subpanel: $color-in-subpanel;
$icon-color_active_background_in-subpanel:    $color-in-subpanel;
$icon-color_active_border_in-subpanel:        $color-in-subpanel;

// Active:Hover
$icon-color_active-hover_font-paint:    $icon-color_active_font-paint;
$icon-color_active-hover_font-outline:  transparent;
$icon-color_active-hover_shape-paint:   $icon-color_active_shape-paint;
$icon-color_active-hover_shape-outline: lighten($icon-color_active_shape-outline, 10%);
$icon-color_active-hover_background:    rgb(96,96,96);
$icon-color_active-hover_border:        lighten($icon-color_active_border, 10%);

// Active:Hover in Sub Panel
$icon-color_active-hover_font-paint_in-subpanel:    white;
$icon-color_active-hover_font-outline_in-subpanel:  transparent;
$icon-color_active-hover_shape-paint_in-subpanel:   white;
$icon-color_active-hover_shape-outline_in-subpanel: $color-in-subpanel;
$icon-color_active-hover_background_in-subpanel:    lighten($color-in-subpanel, 20%);
$icon-color_active-hover_border_in-subpanel:        $color-in-subpanel;
/*
$icon-color_default-hover_font-paint: $icon-color_shape-paint;
$icon-color_default-hover_font-outline: $icon-color_font-paint;
$icon-color_default-hover_shape-paint: $icon-color_shape-paint;
$icon-color_default-hover_shape-outline: $icon-color_hover_font-outline;
$icon-color_default-hover_background: rgba($icon-color_font-paint, 0.8);
$icon-color_default-hover_border: $icon-color_font-paint;

$icon-color_active_font-paint: $icon-color_shape-paint;
$icon-color_active_font-outline: darken(pink, 5%);
$icon-color_active_shape-paint: $icon-color_shape-paint;
$icon-color_active_shape-outline: darken(pink, 5%);
$icon-color_active_background: lighten(pink, 5%);
$icon-color_active_border: darken(pink, 5%);
*/


// - Mix Ins
// --------------------------------------------------------------------------------

@mixin outline-color($tb, $color) {
	#{$tb}-shadow:
		-1px -1px 0px $color,
		 0px -1px 0px $color,
		 1px -1px 0px $color,
		 1px  0px 0px $color,
		 1px  1px 0px $color,
		 0px  1px 0px $color,
		-1px  1px 0px $color,
		-1px  0px 0px $color,
		 0px  0px 1px $color;
}

@mixin colour-icons(
	$color_font-paint,
	$color_font-outline,
	$color_shape-paint,
	$color_shape-outline,
	$color_background,
	$color_border
) {
	color: $color_border;
	border-color: $color_border;
	background-color: $color_background;
	&:before {
		color: $color_font-paint;
		@include outline-color("text", $color_font-outline);
	}
	span.bibi-shape-spreads {
		span.bibi-shape-spread {
			span.bibi-shape-item {
				border-color: $color_shape-outline;
				background-color: $color_shape-paint;
			}
		}
	}
	&.bibi-icon-toggle-panel {
		>span {
			background-color: $color_font-paint;
			@include outline-color("box", $color_font-outline);
		}
	}
}


// - Default
// --------------------------------------------------------------------------------

.bibi-icon {
	@include colour-icons(
		$icon-color_font-paint,
		$icon-color_font-outline,
		$icon-color_shape-paint,
		$icon-color_shape-outline,
		$icon-color_background,
		$icon-color_border
	);
	.bibi-subpanel & {
		@include colour-icons(
			$icon-color_font-paint_in-subpanel,
			$icon-color_font-outline_in-subpanel,
			$icon-color_shape-paint_in-subpanel,
			$icon-color_shape-outline_in-subpanel,
			$icon-color_background_in-subpanel,
			$icon-color_border_in-subpanel
		);
	}
	&, &:before, * {
		transition:
			color 0.125s linear,
			background-color 0.125s linear,
			border-color 0.125s linear,
			text-shadow 0.125s linear,
			box-shadow 0.125s linear,
			transform 0.25s ease
		;
	}
}


// - Default:Hover
// --------------------------------------------------------------------------------

.bibi-button.default.hover .bibi-icon,
.bibi-button.default:hover .bibi-icon {
	@include colour-icons(
		$icon-color_default-hover_font-paint,
		$icon-color_default-hover_font-outline,
		$icon-color_default-hover_shape-paint,
		$icon-color_default-hover_shape-outline,
		$icon-color_default-hover_background,
		$icon-color_default-hover_border
	);
	.bibi-subpanel & {
		@include colour-icons(
			$icon-color_default-hover_font-paint_in-subpanel,
			$icon-color_default-hover_font-outline_in-subpanel,
			$icon-color_default-hover_shape-paint_in-subpanel,
			$icon-color_default-hover_shape-outline_in-subpanel,
			$icon-color_default-hover_background_in-subpanel,
			$icon-color_default-hover_border_in-subpanel
		);
		transition: inherit;
	}
	cursor: pointer;
}

.bibi-button-radio.active .bibi-icon {
	cursor: default;
}


// - Active
// --------------------------------------------------------------------------------

.bibi-button.active .bibi-icon {
	@include colour-icons(
		$icon-color_active_font-paint,
		$icon-color_active_font-outline,
		$icon-color_active_shape-paint,
		$icon-color_active_shape-outline,
		$icon-color_active_background,
		$icon-color_active_border
	);
	&:before {
		transform: rotate(360deg);
	}
	.bibi-subpanel & {
		@include colour-icons(
			$icon-color_active_font-paint_in-subpanel,
			$icon-color_active_font-outline_in-subpanel,
			$icon-color_active_shape-paint_in-subpanel,
			$icon-color_active_shape-outline_in-subpanel,
			$icon-color_active_background_in-subpanel,
			$icon-color_active_border_in-subpanel
		);
	}
}


// - Active:Hover
// --------------------------------------------------------------------------------

.bibi-button-normal.active.hover .bibi-icon,
.bibi-button-normal.active:hover .bibi-icon,
.bibi-button-toggle.active.hover .bibi-icon,
.bibi-button-toggle.active:hover .bibi-icon {
	@include colour-icons(
		$icon-color_active-hover_font-paint,
		$icon-color_active-hover_font-outline,
		$icon-color_active-hover_shape-paint,
		$icon-color_active-hover_shape-outline,
		$icon-color_active-hover_background,
		$icon-color_active-hover_border
	);
	.bibi-subpanel & {
		@include colour-icons(
			$icon-color_active-hover_font-paint_in-subpanel,
			$icon-color_active-hover_font-outline_in-subpanel,
			$icon-color_active-hover_shape-paint_in-subpanel,
			$icon-color_active-hover_shape-outline_in-subpanel,
			$icon-color_active-hover_background_in-subpanel,
			$icon-color_active-hover_border_in-subpanel
		);
	}
	cursor: pointer;
}




// ================================================================================
// + Font Icons
// --------------------------------------------------------------------------------

@mixin fa-icon($content, $color) {
	margin-top: .05em;
	margin-right: -.1em;
	background: transparent !important;
	font-size: $icon-size * .6;
	line-height: $icon-size * .96;
	.bibi-subpanel & {
		font-size: $icon-size_in-subpanel * .6;
		line-height: $icon-size_in-subpanel * .96;
	}
	&:before {
		@include font-icon("FontAwesome");
		display: inline-block;
		content: $content;
		color: $color !important;
		left: 0; right: 0; top: 0; bottom: 0; margin: auto;
		box-shadow: none !important;
	}
}

@mixin fa-icon-SNS($content, $color) {
	@include fa-icon($content, $color);
	border: none 0;
	border-radius: 0;
	font-size: $icon-size;
	.bibi-subpanel & {
		font-size: $icon-size_in-subpanel;
	}
}

.bibi-icon-Twitter    { @include fa-icon-SNS("\f081", rgb(29,161,242)); }
.bibi-icon-Facebook   { @include fa-icon-SNS("\f082", rgb(58,89,153)); }
.bibi-icon-GooglePlus { @include fa-icon-SNS("\f0d4", rgb(219,68,55)); }

.bibi-icon-code       { @include fa-icon("\f121", rgb(128,160,0)); } 
.bibi-icon-anchor     { @include fa-icon("\f13d", navy); }

.bibi-icon-colorless  { &:before { color: inherit; } }


