// ================================================================================
// + Pipi (Bibi Putter)
// --------------------------------------------------------------------------------


// - Reset
// --------------------------------------------------------------------------------

span.bibi-holder,
span.bibi-holder iframe.bibi-frame {
	@include box-sizing(border-box);
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none 0;
	vertical-align: top;
	line-height: 1;
	text-decoration: none;
	background: transparent;
}

span.bibi-holder {
	position: relative;
	border: solid 1px rgb(236,234,232);
	border: solid 1px rgb(220,216,212);
	iframe.bibi-frame {
		position: relative;
		z-index: 10;
		border-top: solid 1px transparent;
		width: 100%;
		height: 100%;
	}
	span.bibi-holder .bibi-icon.bibi-switch-newwindow,
	span.bibi-holder .bibi-icon.bibi-switch-fullscreen {
		z-index: 11;
	}
}


// - Switches
// --------------------------------------------------------------------------------

span.bibi-holder.bibi-loading .bibi-switch-newwindow,
span.bibi-holder.bibi-loading .bibi-switch-fullscreen {
	display: none;
}

span.bibi-holder {
	.bibi-icon {
		@include box-sizing(border-box);
		position: absolute;
		z-index: 5000;
		top: 4px;
	}
	.bibi-icon.bibi-switch-newwindow {
		right: 4px;
	}
}

span.bibi-holder.bibi-fullscreen-enabled {
	.bibi-icon.bibi-switch-newwindow {
		right: 35px;
	}
	.bibi-icon.bibi-switch-fullscreen {
		right: 4px;
	}
}

@mixin bibi-holder-fullscreen() {
	position: fixed !important;
	left: 0 !important;
	top: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	border: none 0 !important;
	width: 100% !important;
	height: 100% !important;
	.bibi-icon.bibi-switch-newwindow {
		display: none;
	}
}

span.bibi-holder:fullscreen { @include bibi-holder-fullscreen(); }
span.bibi-holder:full-screen { @include bibi-holder-fullscreen(); }
span.bibi-holder:-webkit-fullscreen { @include bibi-holder-fullscreen(); }
span.bibi-holder:-webkit-full-screen { @include bibi-holder-fullscreen(); }
span.bibi-holder:-moz-fullscreen { @include bibi-holder-fullscreen(); }
span.bibi-holder:-moz-full-screen { @include bibi-holder-fullscreen(); }
span.bibi-holder:-ms-fullscreen { @include bibi-holder-fullscreen(); }