// ================================================================================
// + Pipi (Bibi Putter)
// --------------------------------------------------------------------------------


// - Reset
// --------------------------------------------------------------------------------

span.bibi-holder {
	&,
	>iframe.bibi-frame {
		display: block;
		box-sizing: border-box;
		position: relative;
		margin: 0;
		padding: 0;
		border: none 0 transparent;
		vertical-align: top;
		line-height: 1;
		text-decoration: none;
		background: transparent;
	}
	& {
		max-width: 100%;
		max-height: 100%;
	}
	>iframe.bibi-frame {
		border: solid 1px rgb(216,216,216);
		width: 100%;
		height: 100%;
	}
}