// ================================================================================
// + Stage
// --------------------------------------------------------------------------------


// - Fonts
// --------------------------------------------------------------------------------

$HTML_FontFamily_iOS:     "Helvetica", "Trebuchet MS", "游ゴシック", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", sans-serif;
$HTML_FontFamily_macOS:   $HTML_FontFamily_iOS;
$HTML_FontFamily_Android:                                                                                                                sans-serif;
$HTML_FontFamily_Windows: "Helvetica", "Trebuchet MS", "游ゴシック", "Yu Gothic", "YuGothic", "メイリオ",             "Meiryo",          sans-serif;


// - Colors
// --------------------------------------------------------------------------------

$GLOBAL__Scrollbar-Track_BackgroundColor: rgb(255,255,255);
$GLOBAL__Scrollbar-Track_BorderColor: rgb(232,232,232);

$GLOBAL__Scrollbar-Thumb_BackgroundColor: rgb(160,160,160);//rgb(192,192,192);
$GLOBAL__Scrollbar-Thumb_BackgroundColor__Hover: rgb(128,128,128);
$GLOBAL__Scrollbar-Thumb_BackgroundColor__Active: rgb(160,160,160);
$GLOBAL__Scrollbar-Thumb_BorderColor: transparent;//rgb(32,32,32);


// - Sizes
// --------------------------------------------------------------------------------

$GLOBAL__Icon_Size: 31px;
$GLOBAL__Subpanel-Icon_Size: 21px;

$GLOBAL__ButtonGroup_Margin: 4px;

$GLOBAL__TopBar_Height: $GLOBAL__Icon_Size + $GLOBAL__ButtonGroup_Margin * 2;
$GLOBAL__BottomBar_Height: $GLOBAL__TopBar_Height;

$GLOBAL__Slider_Size: $GLOBAL__BottomBar_Height * 2;