// ================================================================================
// + Icons
// --------------------------------------------------------------------------------



// - Shape / Icon
// --------------------------------------------------------------------------------

span.bibi-shape,
span.bibi-icon {
	@include box-sizing(border-box);
	display: block;
	position: relative;
	font-size: 0;
}



// - Shape
// --------------------------------------------------------------------------------

span.bibi-shape {
}

span.bibi-shape-item {
	border: solid 1px white;
	width: 9px;
	height: 13px;
	background: rgb(192,192,192);
}

span.bibi-shape-spread {
	width: 15px;
	height: 13px;
	span.bibi-shape-item {
		position: absolute;
		top: 0;
		width: 8px;
	}
	span.bibi-shape-item:first-child {
		left: 0;
	}
	span.bibi-shape-item:last-child {
		left: 7px;
	}
}

html.spread-vertical span.bibi-shape-spreads,
div#bibi-control-bar span.bibi-shape-spreads-vertical {
	width: 15px;
	height: 25px;
	span.bibi-shape-spread {
		position: absolute;
		left: 0;
	}
	span.bibi-shape-spread:first-child {
		top: -10px;
	}
	span.bibi-shape-spread {
		top: 6px;
	}
	span.bibi-shape-spread:last-child {
		top: 22px;
	}
}

html.spread-horizontal span.bibi-shape-spreads,
div#bibi-control-bar span.bibi-shape-spreads-horizontal {
	width: 27px;
	height: 13px;
	span.bibi-shape-spread {
		position: absolute;
		top: -1px;
		height: 14px;
		span.bibi-shape-item {
			height: 14px;
		}
	}
	span.bibi-shape-spread:first-child {
		left: -12px;
	}
	span.bibi-shape-spread {
		left: 6px;
		@include transform(translateX(-0.5px));
	}
	span.bibi-shape-spread:last-child {
		left: 24px;
	}
}



// - Icon
// --------------------------------------------------------------------------------

span.bibi-icon {
	overflow: hidden;
	border: solid 1px rgb(96,96,96);
	width: 27px;
	height: 27px;
	//text-align: center;
	//background: rgb(96,96,96);
	border-radius: 2px;
	//box-shadow: 0 1px 1px rgba(0,0,0,.25);
}

html.spread-vertical span.bibi-icon,
div#bibi-control-bar span.bibi-icon-vertical {
	padding: 0 5px;
}
html.spread-vertical span.bibi-icon-back {
	span.bibi-shape-back {
		left: 0;
		top: 4px;
	}
}
html.spread-vertical span.bibi-icon-forward {
	span.bibi-shape-forward {
		left: 0;
		top: 5px;
	}
}
html.spread-vertical span.bibi-icon-each {
	span.bibi-shape-spread {
		top: 6px;
	}
}

html.spread-horizontal span.bibi-icon,
div#bibi-control-bar span.bibi-icon-horizontal {
	padding: 7px 0;
}

html.spread-horizontal span.bibi-icon-back {
	span.bibi-shape-back {
		top: -2px;
		left: 5px;
	}
}
html.spread-horizontal span.bibi-icon-forward {
	span.bibi-shape-forward {
		top: -2px;
		left: 7px;
	}
}
html.spread-horizontal span.bibi-icon-each {
	span.bibi-shape-spread {
		top: -1px;
		left: 5px;
	}
}

span.bibi-icon-all span.bibi-shape-spreads,
span.bibi-icon-each span.bibi-shape-spread,
span.bibi-icon-vertical span.bibi-shape-spreads-vertical,
span.bibi-icon-horizontal span.bibi-shape-spreads-horizontal {
	opacity: 0.5;
}

html.display-all span.bibi-icon-all span.bibi-shape-spreads,
html.display-each span.bibi-icon-each span.bibi-shape-spread,
html.spread-vertical span.bibi-icon-vertical span.bibi-shape-spreads-vertical,
html.spread-horizontal span.bibi-icon-horizontal span.bibi-shape-spreads-horizontal {
	opacity: 1;
}