// ================================================================================
// + Pipi (Bibi Putter)
// --------------------------------------------------------------------------------


// - Reset
// --------------------------------------------------------------------------------

span.bibi-holder,
span.bibi-holder iframe.bibi-frame,
span.bibi-holder a.bibi-switch-newwindow,
span.bibi-holder span.bibi-switch-fullscreen {
	@include box-sizing(border-box);
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none 0;
	vertical-align: top;
	line-height: 1;
	text-decoration: none;
	background: transparent;
}

span.bibi-holder {
	position: relative;
	border: solid 1px rgb(248,248,248);
	iframe.bibi-frame {
		position: relative;
		z-index: 10;
		width: 100%;
		height: 100%;
	}
	span.bibi-holder a.bibi-switch-newwindow,
	span.bibi-holder span.bibi-switch-fullscreen {
		position: absolute;
		z-index: 11;
	}
}


// - Switches
// --------------------------------------------------------------------------------

span.bibi-holder.bibi-loading a.bibi-switch-newwindow,
span.bibi-holder.bibi-loading span.bibi-switch-fullscreen {
	display: none;
}

span.bibi-holder {
	a.bibi-switch-newwindow,
	span.bibi-switch-fullscreen {
		@include box-sizing(border-box);
		display: block;
		overflow: hidden;
		position: absolute;
		z-index: 5000;
		top: 4px;
		border-radius: 2px;
		border: solid 1px rgba(128,128,128,0.25);
		width: 27px;
		height: 27px;
		line-height: 27px;
		text-align: center;
		color: white;
		background: rgba(32,32,32,0.5);
		opacity: 1;
		cursor: pointer;
		text-decoration: none;
		@include transition(0.15s linear);
		&:hover {
			background: rgba(128,128,128,0.5);
		}
		&:before {
			@include font-icon("FontAwesome");
			font-size: 18px;
		}
	}
	a.bibi-switch-newwindow {
		right: 4px;
		text-indent: 2px;
		line-height: 29px;
		&:before {
			content: "\f08e";
		}
	}
}

span.bibi-holder.bibi-fullscreen-enabled {
	a.bibi-switch-newwindow {
		right: 35px;
	}
	span.bibi-switch-fullscreen {
		right: 4px;
		&:before {
			content: $fa-var-expand;
		}
	}
}

@mixin bibi-holder-fullscreen() {
	position: fixed !important;
	left: 0 !important;
	top: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	border: none 0 !important;
	width: 100% !important;
	height: 100% !important;
	a.bibi-switch-newwindow {
		display: none;
	}
	span.bibi-switch-fullscreen {
		&:before {
			content: $fa-var-compress;
		}
	}
}

span.bibi-holder:fullscreen { @include bibi-holder-fullscreen(); }
span.bibi-holder:full-screen { @include bibi-holder-fullscreen(); }
span.bibi-holder:-webkit-fullscreen { @include bibi-holder-fullscreen(); }
span.bibi-holder:-webkit-full-screen { @include bibi-holder-fullscreen(); }
span.bibi-holder:-moz-fullscreen { @include bibi-holder-fullscreen(); }
span.bibi-holder:-moz-full-screen { @include bibi-holder-fullscreen(); }
span.bibi-holder:-ms-fullscreen { @include bibi-holder-fullscreen(); }