// ================================================================================
// + Arrows
// --------------------------------------------------------------------------------

div.bibi-arrow {
	//// Layout
	& {
		& {
			&:before { @include Arrow-Icon(); }
		}
	}
	&.bibi-arrow-horizontal { // ←→
		& {
			&:after { width: $Arrow-Bar_Width; }
		}
		html.slider-opened.book-full-height &,
		html:not(.book-full-height) & {
			top: $Menu_Height;
		}
		html:not(.slider-opened):not(.book-full-height) & {
			height: calc(100vh - #{$Menu_Height}); // TO BE OVERWRITTEN
		}
		html.slider-opened.appearance-horizontal & {
			height: calc(100vh - #{$Menu_Height + $Slider_Size});
		}
		html.slider-opened.appearance-vertical & {
			height: calc(100vh - #{$Menu_Height});
		}
	}
	&.bibi-arrow-left  { // ←
		& {
			&:before { @include Arrow-Icon-L(); };
		}
	}
	&.bibi-arrow-right { // →
		& {
			&:before { @include Arrow-Icon-R(); };
		}
		html.slider-opened.appearance-vertical & {
			right: $Slider_Size;
		}
	}
	&.bibi-arrow-vertical { // ↑↓
		& {
			&:after { height: $Arrow-Bar_Width; }
		}
		html.slider-opened.appearance-vertical & {
			width: calc(100vw - #{$Slider_Size});
		}
	}
	&.bibi-arrow-up { // ↑
		& {
			&:before { @include Arrow-Icon-U(); };
		}
		html.book-full-height.slider-opened &,
		html:not(.book-full-height) & {
			top: $Menu_Height;
		}
	}
	&.bibi-arrow-down { // ↓
		& {
			&:before { @include Arrow-Icon-D(); };
		}
		html.slider-opened.appearance-horizontal & {
			bottom: $Slider_Size;
		}
	}
}
