// ================================================================================
// + Main
// --------------------------------------------------------------------------------


main#bibi-main {
	html.appearance-horizontal:not(.book-full-height) & {
		top: $Menu_Height;
		height: calc(100% - #{$Menu_Height});
	}
	html.appearance-vertical:not(.book-full-height) & {
		padding-top: $Menu_Height;
		height: calc(100% - #{$Menu_Height});
	}
}
	div#bibi-main-book {
	}
		div.spread-box {
		}
			div.spread {
			}
				div.item-box {
					html.book-pre-paginated & {
						&:not(.placeholder):not(.loaded):after {
							@include ItemBox-Loading();
						}
					}
				}
					iframe.item {
					}
					span.page {
					}