// ================================================================================
// + Main
// --------------------------------------------------------------------------------


main#bibi-main {
	html.appearance-horizontal:not(.book-full-height) & {
		top: $Menu_Height;
		height: calc(100% - #{$Menu_Height});
	}
	html.appearance-vertical:not(.book-full-height) & {
		padding-top: $Menu_Height;
		height: calc(100% - #{$Menu_Height});
	}
	@include Main(); html.subpanel-opened & { @include Main__SubpanelOpened(); }
}
	div#bibi-main-book {
		@include Main-Book(); html.subpanel-opened & { @include Main-Book__SubpanelOpened(); }
		&:after {
			background: $Book-Background; html.subpanel-opened & { background: $Book-Background__SubpanelOpened; }
		}
	}
		div.spread-box {
		}
			div.spread {
			}
				div.item-box {
					html.book-pre-paginated & {
						&:not(.placeholder):not(.loaded):after {
							@include ItemBox-Loading();
						}
					}
				}
					iframe.item {
					}
					span.page {
					}
