// ================================================================================
// + Notifier
// --------------------------------------------------------------------------------


div#bibi-notifier {
	height: $Notifier_Height;
	color: $Notifier_Color;
	background: $Notifier_Background;
	box-shadow: $Notifier_BoxShadow;
	p {
		font-family: $Notifier_FontFamily;
		&.error {
			font-family: $Notifier_FontFamily__Error;
			color: $Notifier_Color__Error;
		}
	}
}