// ================================================================================
// + Help
// --------------------------------------------------------------------------------


div#bibi-help {
	box-sizing: border-box;
	display: none;
	position: absolute;
	z-index: $INVARIABLE__Help_ZIndex;
	margin: 0;
	padding: 0 8px 0 56px;
	width: 100%;
	left: 0;
	bottom: 0;
	opacity: 0;
	transition: .2s linear;
	html.veil-opened &,
	html.panel-opened &,
	html.subpanel-opened & {
		bottom: 0 !important;
	}
	// @____Bibi:Dress__('-') border-top: $Help_BorderTop;
	// @____Bibi:Dress__('-') height: $GLOBAL__BottomBar_Height;
	// @____Bibi:Dress__('-') background: $Help_Background;
	// @____Bibi:Dress__('-') html.slider-opened.view-paged &,
	// @____Bibi:Dress__('-') html.slider-opened.view-horizontal & {
	// @____Bibi:Dress__('-') 	bottom: $GLOBAL__Slider_Size !important;
	// @____Bibi:Dress__('-') }
	// @____Bibi:Dress__('-') html.view-horizontal &,
	// @____Bibi:Dress__('-') html.page-rtl.panel-opened & {
	// @____Bibi:Dress__('-') 	bottom: $GLOBAL__Scrollbar-Track_Size; // TO BE OVERWRITTEN ... O.ScrollBars.Height + "px"
	// @____Bibi:Dress__('-') }
	p {
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		// @____Bibi:Dress__('-') line-height: $GLOBAL__BottomBar_Height * 1.1;
		// @____Bibi:Dress__('-') color: $Help-P_Color;
		small {
			font-size: .875em;
		}
	}
	&.active {
		display: block;
		&.shown {
			opacity: 1;
		}
	}
}

// @____Bibi:Dress__('-') html.slider-opened:not(.panel-opened).view-vertical div#bibi-help {
// @____Bibi:Dress__('-') 	width: calc(100% - #{$GLOBAL__Slider_Size});
// @____Bibi:Dress__('-') }