// ================================================================================
// + Menu
// --------------------------------------------------------------------------------


div#bibi-menu {
	box-sizing: border-box;
	position: absolute;
	z-index: $INVARIABLE__Menu_ZIndex;
	@include offset(0, 0, auto);
	left: 0;
	right: 0;
	margin: 0;
	border-bottom: solid 1px transparent;
	// @____Bibi:Dress__('-') height: $GLOBAL__TopBar_Height;
	width: 100%;
	background: transparent;
	&, & ul {
		transition: .125s linear;
	}
}
html.appearance-vertical:not(.veil-opened) {
	&:not(.slider-opened) {
		&,
		&.panel-opened,
		&.subpanel-opened {
			div#bibi-menu { width: 100%; } // TO BE OVERWRITTEN
		}
	}
	&.slider-opened {
		& {
			div#bibi-menu {
				// @____Bibi:Dress__('-') width: calc(100% - #{$GLOBAL__Slider_Size});
			}
		}
		&.panel-opened,
		&.subpanel-opened {
			div#bibi-menu {
				width: 100%;
				// @____Bibi:Dress__('-') padding-right: $GLOBAL__Slider_Size;
			}
		}
	}
}
html.without-menubar,
html.waiting-file {
	div#bibi-menu { display: none !important; }
}
/* @____Bibi:Dress__('-') {
html.book-full-height {
	&                 div#bibi-menu { background-color: $Menu_BackgroundColor;         border-bottom-color: $Menu_BorderBottomColor; }
	&                 div#bibi-menu.hover,
	&.subpanel-opened div#bibi-menu { background-color: $Menu_BackgroundColor__Hover;  border-bottom-color: $Menu_BorderBottomColor__Hover; }
	&.menu-opened     div#bibi-menu { background-color: $Menu_BackgroundColor__Active; border-bottom-color: $Menu_BorderBottomColor__Active; box-shadow: $Menu_BoxShadow__Active; }
}
html:not(.book-full-height) {
	&                 div#bibi-menu { background-color: $NotBFH-Menu_BackgroundColor;         border-bottom-color: $NotBFH-Menu_BorderBottomColor; }
	&                 div#bibi-menu.hover,
	&.subpanel-opened div#bibi-menu { background-color: $NotBFH-Menu_BackgroundColor__Hover;  border-bottom-color: $NotBFH-Menu_BorderBottomColor__Hover; }
	&.menu-opened     div#bibi-menu { background-color: $NotBFH-Menu_BackgroundColor__Active; border-bottom-color: $NotBFH-Menu_BorderBottomColor__Active; box-shadow: $NotBFH-Menu_BoxShadow__Active; }
}
// } */


// - Menu-L & Menu-R
// --------------------------------------------------------------------------------

div#bibi-menu-l,
div#bibi-menu-r {
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	height: 100%;
	color: white;
	transition: opacity 0.75s linear;
	ul {
		position: relative;
		// @____Bibi:Dress__('-') padding: $GLOBAL__ButtonGroup_Margin;
		// @____Bibi:Dress__('-') height: $GLOBAL__Icon_Size;
		opacity: 0;
		&.sticky {
			opacity: 0;
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			// @____Bibi:Dress__('-') width: $Menu-ButtonGroup-Separator_Width;
			// @____Bibi:Dress__('-') background: $Menu-ButtonGroup-Separator_Color;
			// @____Bibi:Dress__('-') top: $GLOBAL__ButtonGroup_Margin;
			// @____Bibi:Dress__('-') height: $GLOBAL__Icon_Size;
		}
		li {
			// @____Bibi:Dress__('-') @include size($GLOBAL__Icon_Size);
			.bibi-button {
				position: relative;
				z-index: 1;
				&.hover, &.active {
					z-index: 10;
				}
				span.bibi-button-label {
					font-size: 0;
					color: transparent;
				}
			}
		}
		html.waiting & {
			opacity: 0.5;
			&.sticky {
				opacity: 0.5;
			}
		}
		div#bibi-menu.hover &,
		//div#bibi-menu.hot &,
		html.menu-opened &,
		html.panel-opened &,
		html.subpanel-opened &,
		html:not(.book-full-height) & {
			opacity: 1;
			&.sticky {
				opacity: 1;
			}
		}
	}
	ul.bibi-buttongroup-tiled {
		li:not(:first-child):not(:last-child) {
			.bibi-button {
				.bibi-button-iconbox {
					.bibi-icon {
						border-radius: 0;
					}
				}
			}
		}
	}
}

div#bibi-menu-l {
	float: left;
	ul {
		float: left;
		&:first-child {
			// @____Bibi:Dress__('-') padding-left: $GLOBAL__ButtonGroup_Margin;
			&:before {
				display: none;
			}
		}
		&:not(:first-child) {
			// @____Bibi:Dress__('-') padding-left: $GLOBAL__ButtonGroup_Margin + $Menu-ButtonGroup-Separator_Width;
			&:before {
				left: 0;
			}
		}
		li {
			float: left;
			&:first-child { margin-left: 0; }
			// @____Bibi:Dress__('-') &:not(:first-child) { margin-left: $Menu-ButtonGroup-Button_Margin; }
		}
	}
	ul.bibi-buttongroup-tiled {
		li {
			margin-left: -1px;
		}
		li:first-child:not(:last-child) {
			.bibi-button {
				.bibi-button-iconbox {
					.bibi-icon {
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}
				}
			}
		}
		li:last-child:not(:first-child) {
			.bibi-button {
				.bibi-button-iconbox {
					.bibi-icon {
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
				}
			}
		}
	}
}

div#bibi-menu-r {
	float: right;
	ul {
		float: right;
		&:first-child {
			// @____Bibi:Dress__('-') padding-right: $GLOBAL__ButtonGroup_Margin;
			&:before {
				display: none;
			}
		}
		&:not(:first-child) {
			// @____Bibi:Dress__('-') padding-right: $GLOBAL__ButtonGroup_Margin + $Menu-ButtonGroup-Separator_Width;
			&:before {
				right: 0;
			}
		}
		li {
			float: right;
			&:first-child { margin-right: 0; }
			// @____Bibi:Dress__('-') &:not(:first-child) { margin-right: $Menu-ButtonGroup-Button_Margin; }
		}
	}
	ul.bibi-buttongroup-tiled {
		li {
			margin-right: -1px;
		}
		li:first-child:not(:last-child) {
			.bibi-button {
				.bibi-button-iconbox {
					.bibi-icon {
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
				}
			}
		}
		li:last-child:not(:first-child) {
			.bibi-button {
				.bibi-button-iconbox {
					.bibi-icon {
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}
				}
			}
		}
	}
}


// - Button Behaviors
// --------------------------------------------------------------------------------

ul#bibi-buttongroup_font-size {
	html.book-pre-paginated & {
		display: none;
	}
}

ul#bibi-buttongroup_loupe {
	html.waiting &,
	html.book-reflowable & {
		display: none;
	}
}