// ================================================================================
// + Stage
// --------------------------------------------------------------------------------


// - Foundation
// --------------------------------------------------------------------------------

* {
	margin: 0;
	padding: 0;
	border: none 0;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
}

li {
	list-style: none outside;
}

section, article, nav, aside,
header, footer,
figure, figcaption { 
	display: block;
}

.non-visual { @include NonVisual(); }

.uppercase { text-transform: uppercase !important; }


// - HTML / Body
// --------------------------------------------------------------------------------

html {
	overflow: hidden;  &.welcome { overflow: scroll !important; }
	position: absolute; @include offset(0, 0, auto); // for InAppBrowsers
	&.InternetExplorer { position: static; }
	@include size(100%);
	font-family: sans-serif;
	// @____Bibi:Dress__('-') &.iOS     { font-family: $HTML_FontFamily__iOS; }
	// @____Bibi:Dress__('-') &.macOS   { font-family: $HTML_FontFamily__macOS; }
	// @____Bibi:Dress__('-') &.Android { font-family: $HTML_FontFamily__Android; }
	// @____Bibi:Dress__('-') &.Windows { font-family: $HTML_FontFamily__Windows; }
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
	/*
	&[data-bibi-cursor="left"]   { cursor: w-resize; }
	&[data-bibi-cursor="right"]  { cursor: e-resize; }
	&[data-bibi-cursor="top"]    { cursor: n-resize; }
	&[data-bibi-cursor="bottom"] { cursor: s-resize; }
	*/
	&[data-bibi-cursor="left"],
	&[data-bibi-cursor="right"],
	&[data-bibi-cursor="top"],
	&[data-bibi-cursor="bottom"] { cursor: pointer; }
	user-select: none;
	&.Blink { touch-action: none; }
}

body {
	* {
		-webkit-tap-highlight-color: rgba(255,255,255,0);
		-webkit-tap-highlight-color: transparent;
	}
	position: absolute; @include offset(0, 0, auto);
	&.InternetExplorer { position: static; }
	overflow: hidden;
	@include size(100%);
	//max-height: 150vw;
	transition: opacity .25s ease;
}


// - Checker
// --------------------------------------------------------------------------------

div#bibi-style-checker {
	@include writing-mode(vertical-rl);
	position: absolute;
	z-index: 0;
	// @____Bibi:Dress__('-') left: $Slider_Size * -1; top: $Menu_Height * -1; // left: 0; top: 0;
	// @____Bibi:Dress__('-') @include size($Slider_Size, $Menu_Height);
	font-size: 1rem;
	line-height: 1em;
	white-space: nowrap;
	opacity: 0;
}


// - PoweredBy
// --------------------------------------------------------------------------------


div#bibi-poweredby {
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	position: absolute;
	z-index: $INVARIABLE__PoweredBy_ZIndex;
	@include offset(auto, auto, 0, 0);
	margin: 0 auto;
	width: 100%;
	// @____Bibi:Dress__('-') height: $PoweredBy_Height;
	text-align: right;
	font-size: 14px;
	transition: .1s linear;
	transform: scale(0);
	html.waiting-file &,
	html.waiting &,
	html.panel-opened & {
		transform: none;
	}
	p {
		a {
			$SCOPED__PowerdBy-Logo-Image_OriginalWidth: 144px;
			$SCOPED__PowerdBy-Logo-Image_OriginalHeight: 72px;
			$SCOPED__PowerdBy-Logo-Image_Height: 16px;
			$SCOPED__PowerdBy-Logo-Image_Width: $SCOPED__PowerdBy-Logo-Image_Height * ($SCOPED__PowerdBy-Logo-Image_OriginalWidth / $SCOPED__PowerdBy-Logo-Image_OriginalHeight);
			$SCOPED__PowerdBy-Logo-Box_PaddingVertical: 4px;
			$SCOPED__PowerdBy-Logo-Box_PaddingHorizontal: 8px;
			$SCOPED__PowerdBy-Logo-Box_Height: $SCOPED__PowerdBy-Logo-Image_Height + $SCOPED__PowerdBy-Logo-Box_PaddingVertical * 2;
			$SCOPED__PowerdBy-Logo-Box_Width: $SCOPED__PowerdBy-Logo-Image_Width + $SCOPED__PowerdBy-Logo-Box_PaddingHorizontal * 2;
			& {
				display: block;
				box-sizing: border-box;
				position: absolute;
				top: 0;
				right: auto;
				bottom: 0;
				left: $SCOPED__PowerdBy-Logo-Box_PaddingVertical;//$SCOPED__PowerdBy-Logo-Box_Height / 2;
				margin: auto 0;
				border-radius: 2px;
				@include size($SCOPED__PowerdBy-Logo-Box_Width, $SCOPED__PowerdBy-Logo-Box_Height);
				font-size: $SCOPED__PowerdBy-Logo-Image_Height;
				line-height: $SCOPED__PowerdBy-Logo-Box_Height + 2px;
				text-align: center;
				text-decoration: none;
				color: transparent;
				background: transparent none no-repeat center (($SCOPED__PowerdBy-Logo-Box_Height - $SCOPED__PowerdBy-Logo-Image_Height) / 2 + 2px);
				background-size: $SCOPED__PowerdBy-Logo-Image_Width $SCOPED__PowerdBy-Logo-Image_Height;
				transition: .2s linear;  &:hover { transition: .075s linear; }
			}
		}
	}
}

html.veil-opened div#bibi-poweredby {
	background: rgb(128,128,128);
	p {
		a {
			opacity: 0.75;
			//background-color: rgba(128,128,128, 0.5);
			background-image: url(../images/bibi-logo_white.png);
		}
		a:hover {
			opacity: 1;
			//background-color: rgba(160,160,160, 0.9);
		}
	}
}

html.panel-opened div#bibi-poweredby {
	background: rgb(234,234,234);
	p {
		a {
			opacity: 0.5;
			background-color: transparent;
			background-image: url(../images/bibi-logo_black.png);
		}
		a:hover {
			opacity: 1;
		}
	}
}


// - BiB/i Info
// --------------------------------------------------------------------------------

div#bibi-info {
	overflow: hidden;
	@include size(0);
}




// ================================================================================
// + Factory / Dev.
// --------------------------------------------------------------------------------


div#__bs_notify__ {
	box-sizing: border-box !important;
	display: table-cell !important;
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin: auto !important;
	border-radius: 1.5em !important;
	padding: 0 !important;
	width: 16em !important;
	height: 3em !important;
	line-height: 3em !important;
	font-size: 14px !important;
	font-weight: bold !important;
	text-indent: -.25em !important;
	text-shadow: 0 0 2px black !important;
	background: rgba(black, 0.5) !important;
	//transform-origin: 0 100% !important;
	//transform: translateY(-2em) rotate(90deg) !important;
}