// ================================================================================
// + Help
// --------------------------------------------------------------------------------

$Help_Height: $Menu_Height;

$Help_BorderTop: solid 1px rgb(240,240,240);
$Help_Background: rgba(240,240,240,0.96);

$Help-P_Color: rgb(96,96,96);