// ================================================================================
// + Panel
// --------------------------------------------------------------------------------

$Panel_Background: rgb(246,246,246);

$Panel-BottomBar_Height: $Menu_Height;
$Panel-BottomBar_BorderTopColor: rgb(232,232,232);
$Panel-BottomBar_Background: rgba(240,240,240,0.9);

$Panel-Nav-A_Color: rgb(64,64,64);
$Panel-Nav-A_TextDecorationColor: rgb(216,216,216);
$Panel-Nav-A_Color__Hover: steelblue;
$Panel-Nav-A_TextDecorationColor__Hover: steelblue;

$Panel-Cover_BorderColor: rgb(232,232,232);
$Panel-Cover-Info_Color: rgb(160,160,160);