// ================================================================================
// + Stage
// --------------------------------------------------------------------------------

$HTML_FontFamily_iOS:     "Helvetica", "Trebuchet MS", "游ゴシック", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", sans-serif;
$HTML_FontFamily_macOS:   $HTML_FontFamily_iOS;
$HTML_FontFamily_Android:                                                                                                                sans-serif;
$HTML_FontFamily_Windows: "Helvetica", "Trebuchet MS", "游ゴシック", "Yu Gothic", "YuGothic", "メイリオ",             "Meiryo",          sans-serif;