// ================================================================================
// + Stage
// --------------------------------------------------------------------------------


// - Fonts
// --------------------------------------------------------------------------------

$HTML_FontFamily__iOS:     "Helvetica", "Trebuchet MS", "游ゴシック", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", sans-serif;
$HTML_FontFamily__macOS:   $HTML_FontFamily__iOS;
$HTML_FontFamily__Android:                                                                                                                sans-serif;
$HTML_FontFamily__Windows: "Helvetica", "Trebuchet MS", "游ゴシック", "Yu Gothic", "YuGothic", "メイリオ",             "Meiryo",          sans-serif;
// [ja] └ ビビ全体の、OS 別デフォルトフォント設定。html 要素に適用され、基本的にすべての UI に継承されます。


// - PoweredBy
// --------------------------------------------------------------------------------

$PoweredBy_Height: 39px;