// ================================================================================
// + Veil
// --------------------------------------------------------------------------------

$Veil_Color: white;
$Veil_Background: linear-gradient(to top, rgb(192,192,192), rgb(96,96,96));//rgb(216,216,216);


// - BottomBar
// --------------------------------------------------------------------------------

$Veil-BottomBar_Background: rgb(128,128,128);


// - ByeBye
// --------------------------------------------------------------------------------

$Veil-ByeBye_Color: white;
$Veil-ByeBye_Background: rgba(black, .125);


// - Play
// --------------------------------------------------------------------------------

$Veil-Play_BackgroundColor:        rgba(black, 0  );
$Veil-Play_BackgroundColor__Hover: rgba(black, 0.4);

$Veil-Play-Icon_Size: 96px;
$Veil-Play-Icon_Offset: 8px;

@mixin Veil-Play-Icon() {
	@include FontIcon_InlineBlock("Material Icons");
	content: "\e038"; // play_circle_filled color: white;
	@include size($Veil-Play-Icon_Size);
	line-height: $Veil-Play-Icon_Size * 0.98;
	text-align: center;
	vertical-align: middle;
	text-indent: -.05em;
	font-size: $Veil-Play-Icon_Size;
	color: rgba(236,236,236, 0.9);
}


// - Cover
// --------------------------------------------------------------------------------


// - Catcher
// --------------------------------------------------------------------------------