/*! Bibi Book Style */

html, body {
	margin: 0;
	padding: 0;
	border: none 0;
}/*

html.bibi-vertical-text { &, & body {
	max-height: 100%;
}}

html.bibi-horizontal-text { &, & body {
	max-width: 100%;
}}

html {
	overflow: hidden;
}*/

html {
	touch-action: manipulation;
	img.bibi-spine-item-image {
		display: block;
		margin: 0;
		border: none 0;
		padding: 0;
		width: auto;
		height: auto;
	}
}

html.bibi-columned {
	img, svg, video, picture, image, iframe {
		break-inside: avoid;
	}
}

html.bibi-flick-active {
	&.bibi-flick-hot { user-select: none; }
	img {
		pointer-events: none;
	}
}

html.bibi-with-gutters {
	> head {
		display: block;
		> *:not(bibi-neck) { display: none; }
		> bibi-neck {
			display: block;
			position: relative;
			z-index: -99999999999;
			margin: 0;
			border: none 0;
			padding: 0;
			> bibi-throat {
				display: block;
				float: right;
				margin: 0;
				border: none 0;
				padding: 0;
			}
		}
	}
}

html > foot > bibi-paints {
	> bibi-paint {
		> bibi-paint-fragment {
			display: block;
			position: absolute;
			background: yellow;
			mix-blend-mode: multiply;
			pointer-events: none !important;
			$Rad: 2px;
			&.horizontal {
				&:first-child {  border-top-left-radius: $Rad;  border-bottom-left-radius: $Rad; }
				 &:last-child { border-top-right-radius: $Rad; border-bottom-right-radius: $Rad; }
			}
			&.vertical {
				&:first-child {    border-top-left-radius: $Rad;    border-top-right-radius: $Rad; }
				 &:last-child { border-bottom-left-radius: $Rad; border-bottom-right-radius: $Rad; }
			}
		}
		&.destined > bibi-paint-fragment,
		&.emphasized > bibi-paint-fragment {
			background: orange;
		}
	}
}
