/*! Bibi Book Style */

html, body {
	margin: 0;
	padding: 0;
	border: none 0;
}/*

html.bibi-vertical-text { &, & body {
	max-height: 100%;
}}

html.bibi-horizontal-text { &, & body {
	max-width: 100%;
}}

html {
	overflow: hidden;
}*/

img.bibi-spine-item-image {
	display: block;
	margin: 0;
	border: none 0;
	padding: 0;
	width: auto;
	height: auto;
}

html.bibi-columned {
	img, svg, video, picture, image, iframe {
		break-inside: avoid;
	}
}

html.bibi-with-gutters {
	> head {
		display: block;
		> *:not(bibi-neck) { display: none; }
		> bibi-neck {
			display: block;
			position: relative;
			z-index: -99999999999;
			margin: 0;
			border: none 0;
			padding: 0;
			> bibi-throat {
				display: block;
				float: left;
				margin: 0;
				border: none 0;
				padding: 0;
			}
		}
	}
}
