// ================================================================================
// + Main
// --------------------------------------------------------------------------------

@mixin ItemBox-Loading() { // [NOTE] It is for `::before` pseudo element. You can use an image by `background` instead of string.
	content: "Loading...";
	@include size(100%, 2em);
	text-align: center;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: rgb(184,192,200);//rgb(192,192,192);
}

@mixin Main() {
}
@mixin Main__SubpanelOpened() {
}

@mixin Main-Book() {
}
@mixin Main-Book__SubpanelOpened() {
}

$Book-Background: white;
$Book-Background__SubpanelOpened: $Book-Background;
