// ================================================================================
// + Nombre
// --------------------------------------------------------------------------------

$Nombre_Width: 140px;
$Nombre_Height: 20px;

$Nombre_Color: rgb(64,64,64);
$Nombre-Current_Color: darken($Nombre_Color, 25%);
$Nombre-Percent_Color: lighten($Nombre_Color, 25%);

$Nombre_BackgroundColor: rgba(240,240,240,0.9);
$Nombre_BackgroundColor: rgb(240,240,240);