// ================================================================================
// + Notifier
// --------------------------------------------------------------------------------

$Notifier_Height: $Menu_Height;

$Notifier_FontFamily: AvenirNext-DemiBold, sans-serif;
$Notifier_FontWeight: normal;
$Notifier_FontSize: 12px;
$Notifier_Color: rgb(77,88,99);

$Notifier_FontFamily__Error: $Notifier_FontFamily;
$Notifier_FontWeight__Error: $Notifier_FontWeight;
$Notifier_FontSize__Error: $Notifier_FontSize;
$Notifier_Color__Error: rgb(192,64,0);

$Notifier_Background: rgba(252,252,252,0.96);
$Notifier_BoxShadow: 0 2px 4px rgba(0,0,0,0.125);

@mixin Notifier_Transition() { // div#bibi-notifier
    & { // general
        transform-style: preserve-3d;
        perspective: 333px;
        perspective-origin: 50% ($Notifier_Height * 2.5);
        > div {
            transform-origin: 50% 0;
            transition: .5s cubic-bezier(0.23, 1, 0.32, 1); /* easeOutQuint */
        }
    }
    & { // hidden
        > div {
            opacity: 0;
            transform: rotateX(90deg); 
        }
    }
    html.notifier-shown & {
        > div {
            opacity: 1;
            transform: none;
        }
    }
}
