// ================================================================================
// + Panel
// --------------------------------------------------------------------------------


$Panel_PaddingBefore: 20px;
$Panel_PaddingAfter: $Panel_PaddingBefore;
$Panel_PaddingStart: 20px;
$Panel_PaddingEnd: $Panel_PaddingStart;
$Panel_Background: rgb(244,246,248);//rgb(246,246,246);


// . Navigation
// --------------------------------------------------------------------------------

$Panel-Nav-A_Color: rgb(56,60,64);
$Panel-Nav-A_TextDecorationColor: transparent;//rgb(208,212,216);
$Panel-Nav-A_Color__Hover: steelblue;
$Panel-Nav-A_TextDecorationColor__Hover: lighten(steelblue, 25%);

$Panel-Nav-ContourLine_Width: 2px;
$Panel-Nav-ContourLine_Color: desaturate(lighten(steelblue, 40%), 50%);


// . Cover
// --------------------------------------------------------------------------------

$Panel-Cover_MarginBefore: 20px;
$Panel-Cover_PaddingBefore: $Panel-Cover_MarginBefore;
$Panel-Cover_BorderColor: rgb(224,228,232);

$Panel-Cover-Icon_Size__WithoutCoverImage: 144px;
$Panel-Cover-Icon_OuterColor__WithoutCoverImage: white;
$Panel-Cover-Icon_InnerColor__WithoutCoverImage: $Panel_Background;

$Panel-Cover-Info_Color: rgb(112,120,128);//rgb(160,160,160);
