// ================================================================================
// + Stage
// --------------------------------------------------------------------------------


// - Fonts
// --------------------------------------------------------------------------------

$HTML_FontFamily__iOS:     "Helvetica", "Trebuchet MS", "游ゴシック", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", sans-serif;
$HTML_FontFamily__macOS:   $HTML_FontFamily__iOS;
$HTML_FontFamily__Android:                                                                                                                sans-serif;
$HTML_FontFamily__Windows: "Helvetica", "Trebuchet MS", "游ゴシック", "Yu Gothic", "YuGothic", "メイリオ",             "Meiryo",          sans-serif;
// [ja] └ ビビ全体の、OS 別デフォルトフォント設定。html 要素に適用され、基本的にすべての UI に継承されます。


// - Background
// --------------------------------------------------------------------------------

$HTML_Background: linear-gradient(to top, rgb(48,48,48), rgb(80,80,80));//rgb(96,96,96);


// - Catcher
// --------------------------------------------------------------------------------

$Catcher_Background: linear-gradient(to bottom, rgb(200,200,200), rgb(240,240,240));

$Catcher_Border:         dashed  4px white;
$Catcher_Border__Hover:   solid  8px white;
$Catcher_Border__Active:  solid 16px white;

$Catcher_Border__TouchDevice:         solid 4px white;
$Catcher_Border__TouchDevice__Active: solid 8px white;

$Catcher-Icon_Size: 128px;
$Catcher-Icon_OuterColor: white;
$Catcher-Icon_InnerColor: rgb(216,216,216);

$Catcher-Button_Color: rgb(128,128,128);
$Catcher-Button_BackgroundColor: white;

$Catcher-Text_Color: rgb(128,128,128);


// - PoweredBy
// --------------------------------------------------------------------------------

$PoweredBy_Height: 39px;

// with Veil
$PoweredBy_BackgroundColor__VeilOpened: rgba(white, .6);
$PoweredBy-A-Logo_OpacityOfWhite__VeilOpened: 0;
$PoweredBy-A-Logo_OpacityOfBlack__VeilOpened: .69;
$PoweredBy-A_BackgroundColor__VeilOpened: rgba(white, .84);
$PoweredBy-A-Logo_OpacityOfWhite__VeilOpened__Hover: 0;
$PoweredBy-A-Logo_OpacityOfBlack__VeilOpened__Hover: .96;
$PoweredBy-A_BackgroundColor__VeilOpened__Hover: rgba(white, 1);

// with Catcher
$PoweredBy_BackgroundColor__WaitingFile: white;
$PoweredBy-A-Logo_OpacityOfWhite__WaitingFile: 0;
$PoweredBy-A-Logo_OpacityOfBlack__WaitingFile: .69;
$PoweredBy-A_BackgroundColor__WaitingFile: transparent;
$PoweredBy-A-Logo_OpacityOfWhite__WaitingFile__Hover: .96;
$PoweredBy-A-Logo_OpacityOfBlack__WaitingFile__Hover: 0;
$PoweredBy-A_BackgroundColor__WaitingFile__Hover: rgba(black, .38);

// with Panel
$PoweredBy_BackgroundColor__PanelOpened: rgba(black, .1);
$PoweredBy-A-Logo_OpacityOfWhite__PanelOpened: 0;
$PoweredBy-A-Logo_OpacityOfBlack__PanelOpened: .56;
$PoweredBy-A_BackgroundColor__PanelOpened: transparent;
$PoweredBy-A-Logo_OpacityOfWhite__PanelOpened__Hover: .96;
$PoweredBy-A-Logo_OpacityOfBlack__PanelOpened__Hover: 0;
$PoweredBy-A_BackgroundColor__PanelOpened__Hover: rgba(black, .38);