// ================================================================================
// + Spinner
// --------------------------------------------------------------------------------


$Spinner_Size: 56px;
$Spinner-Halo_Size: 32px; $Spinner-halo-color: rgba(192,192,192,0.50);
$Spinner-Core_Size: 24px; $Spinner-core-color: rgba(192,192,192,0.75);
$Spinner_HowManyBits: 12;

div#bibi-spinner {
	box-sizing: border-box;
	display: none;
	position: fixed;
	z-index: $GLOBAL__Spinner_ZIndex;
	@include offset(48%, -100%, auto);
	margin: auto;
	@include size($Spinner_Size);
	&:before, &:after {
		content: "";
		position: absolute;
		box-sizing: border-box;
		@include offset(0);
		margin: auto;
		border-radius: 50%;
		opacity: 0.75;
	}
	&:before { // core
		@include size($Spinner-Core_Size);
		background: $Spinner-core-color;
	}
	&:after { // halo
		@include size($Spinner-Halo_Size);
		border: solid 1.5px $Spinner-halo-color;
	}
	span {
		display: block;
		position: absolute;
		@include offset(0, -100%, auto);
		margin: 0 auto;
		border-radius: 50%;
		@include size(3px);
		transform-origin: 50% ($Spinner_Size * 0.5);
		//background: rgba(128,128,128,0.5);
		@for $i from 1 through $Spinner_HowManyBits {
			&:nth-child(#{$i}) {
				background: darken(rgb(255,255,255), (72% / $Spinner_HowManyBits * $i));
				transform: rotate(360deg / $Spinner_HowManyBits * $i);
			}
		}
	}
	html.busy & {
		display: block;
		animation: SPIN 1.5s linear 0s infinite normal;
		&:before, &:after {
			animation: BEAT 2.25s ease 0s infinite normal;
		}
		span {
			//animation: GLOW 4s ease-in-out 0s infinite normal;
		}
	}
}

@keyframes SPIN {
	  0% { transform: rotate(  0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes BEAT {
	  0% { transform: scale(1.00); opacity: 0.75; }
	 25% { transform: scale(1.25); opacity: 0.50; }
	 50% { transform: scale(1.00); opacity: 0.75; }
	 75% { transform: scale(0.80); opacity: 1.00; }
	100% { transform: scale(1.00); opacity: 0.75; }
}
/*
@keyframes GLOW {
	  0% { @include size(3px     ); opacity: 1.0; }
	 25% { @include size(1px     ); }
	 50% { @include size(1px, 6px); opacity: 1.0; }
	 75% { @include size(1px     ); }
	100% { @include size(3px     ); opacity: 1.0; }
}*/