// ================================================================================
// + Notifier
// --------------------------------------------------------------------------------


div#bibi-notifier {
	box-sizing: border-box;
	position: absolute;
	z-index: $GLOBAL__Notifier_ZIndex;
	top: 0;
	padding: 0 8px;
	@include size(100%, $GLOBAL__TopBar_Height);
	color: rgb(69,69,69);
	background: rgba(252,252,252,0.96);
	box-shadow: 0 2px 4px rgba(0,0,0,0.125);
	transition: .15s linear;
	transform-origin: 50% 0;
	p {
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		line-height: ($GLOBAL__Icon_Size + $GLOBAL__ButtonGroup_Margin * 2) * 1.05;
		&.error {
			color: rgb(192,64,0);
		}
		small {
			font-size: 0.875em;
		}
	}
	& {
		opacity: 0;
		transform: translateY(-100%);//scaleY(0);
		transition: .2s linear;
	}
	html.notifier-shown & {
		opacity: 1;
		transform: none;
		transition: .15s linear;
	}
}