// ================================================================================
// + Panel
// --------------------------------------------------------------------------------


div#bibi-panel {
	box-sizing: border-box;
	overflow: hidden;
	z-index: $GLOBAL__Panel_ZIndex;
	position: absolute;
	left: 0;
	top: 0;
	@include size(100%);
	background: rgb(246,246,246);
	opacity: 0;
	transition: 0.15s ease-out;
	transform: translateY(-100%);
	html.panel-opened & {
		transform: none;
		opacity: 1;
		transition: 0.15s ease-in;
		user-select: auto;
	}
}


// - BottomBar
// --------------------------------------------------------------------------------

div#bibi-panel:after {
	content: "";
	box-sizing: border-box;
	display: block;
	position: absolute;
	z-index: $GLOBAL__Panel-BottomBar_ZIndex;
	left: 0; right: 0; bottom: 0;
	margin: 0 auto;
	padding: 4px;
	border-style: solid; border-width: 1px 0;
	@include size(100%, $GLOBAL__BottomBar_Height);
	border-color: rgb(232,232,232);
	background: rgba(240,240,240,0.9);
	html.view-horizontal &,
	html.page-rtl.panel-opened & {
		bottom: $GLOBAL__Scrollbar-Track_Size; // to be overwritten by JavaScript ... O.ScrollBars.Height + "px"
	}
	html.veil-opened &,
	html.panel-opened &,
	html.subpanel-opened & {
		bottom: 0 !important;
	}
}


// - BookInfo
// --------------------------------------------------------------------------------

div#bibi-panel-bookinfo {
	box-sizing: border-box;
	position: relative;
	z-index: $GLOBAL__Panel-BookInfo_ZIndex;
	@include size(100%);
}
	div#bibi-panel-bookinfo-box {
		box-sizing: border-box;
		margin-top: $GLOBAL__TopBar_Height;
		padding: 20px 30px;
		@include size(100%, calc(100% - #{$GLOBAL__BottomBar_Height}));
		-webkit-overflow-scrolling: touch;
		html.page-ltr &, html.Android.page-rtl & { overflow-x: hidden; overflow-y: scroll; @include writing-mode(horizontal-tb); }
		html.page-rtl & { overflow-x: scroll; overflow-y: hidden; @include writing-mode(vertical-rl); }
	}


// . Navigation
// --------------------------------------------------------------------------------

div#bibi-panel-bookinfo-navigation {
	box-sizing: border-box;
	html.page-rtl & {
		>*:first-child,
		>*:first-child >*:first-child,
		>*:first-child >*:first-child >*:first-child {
			margin-right: 0 !important;
		}
		span.tcy {
			@include text-combine-upright_all();
		}
	}
	html.page-ltr &, html.Android.page-rtl & {
		>*:first-child,
		>*:first-child >*:first-child,
		>*:first-child >*:first-child >*:first-child {
			margin-top: 0 !important;
		}
	}
	nav {
		$margin-before: 2em;
		$margin-after: 1em;
		line-height: 1.2;
		font-size: 20px;
		html.page-ltr &, html.Android.page-rtl & { margin: $margin-before 0 $margin-after 0; }
		html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
		h1, h2, h3, h4, h5, h6 {
			$margin-before: 0;
			$margin-after: 1em;
			font-weight: bold;
			html.page-ltr &, html.Android.page-rtl & { margin: $margin-before 0 $margin-after 0; }
			html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
		}
		small {
			font-size: .8em;
		}
		br +small {
			$margin-start: 2em;
			html.page-ltr &, html.Android.page-rtl & { margin: 0 0 0 $margin-start; }
			html.page-rtl & { margin: $margin-start 0 0 0; }
		}
		ul, ol {
			$margin-before: 0;
			$margin-after: 1em;
			font-size: .9em;
			html.page-ltr &, html.Android.page-rtl & { margin: $margin-before 0 $margin-after 0; }
			html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
			li {
				$margin-before: 1em;
				$margin-after: 0;
				html.page-ltr &, html.Android.page-rtl & { margin: $margin-before 0 $margin-after 0; }
				html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
				ul, ol {
					position: relative;
					$margin-before: 0;
					$margin-after: 0;
					html.page-ltr &, html.Android.page-rtl & { margin: $margin-before 0 $margin-after 0; }
					html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
					&:before {
						content: "";
						display: block;
						position: absolute;
						$start: .175em;
						$before: 0;
						$breadth: 4px;
						$length: 100%;
						background: white;
						html.page-ltr &, html.Android.page-rtl & { left: $start; top: $before; @include size($breadth, $length); }
						html.page-rtl & { top: $start; right: $before; @include size($length, $breadth); }
					}
					li {
						$margin-before: .5em;
						$margin-after: 0;
						$margin-start: 1em;
						html.page-ltr &, html.Android.page-rtl & { margin: $margin-before 0 $margin-after $margin-start; }
						html.page-rtl & { margin: $margin-start $margin-before 0 $margin-after; }
					}
				}
			}
		}
		a {
			border: solid rgb(216,216,216);
			html.page-rtl & { border-width: 0 1px 0 0; padding-right: .1em; }
			html.page-ltr & { border-width: 0 0 1px 0; padding-bottom: .1em; }
			color: rgb(64,64,64);
			text-decoration: none;
			transition: linear .15s;
			&:hover {
				border-color: steelblue;
				color: steelblue;
				transition: none;
			}
			&.bibi-bookinfo-inactive-link {
				color: inherit !important;
				border: none 0 !important;
				cursor: default !important;
				&:hover {
					color: inherit !important;
				}
			}
		}
	}
	nav.bibi-nav-landmarks,
	nav.bibi-nav-page-list {
		font-size: 16px;
		h1, h2, h3, h4, h5, h6 {
			$margin-before: 0;
			$margin-after: .25em;
			html.page-ltr &, html.Android.page-rtl & { margin: $margin-before 0 $margin-after 0; }
			html.page-rtl & { margin: 0 $margin-before 0 $margin-after; }
		}
		ul, ol {
			overflow: hidden;
			$padding-after: .25em;
			html.page-ltr &, html.Android.page-rtl & { padding: 0 0 $padding-after 0; }
			html.page-rtl & { padding: 0 0 0 $padding-after; }
			li {
				float: left;
				$padding-end: 1em;
				html.page-ltr &, html.Android.page-rtl & { padding: 0 $padding-end 0 0; &:last-child { padding: 0; } }
				html.page-rtl & { padding: 0 0 $padding-end 0; &:last-child { padding: 0; } }
			}
		}
	}
}


// . Cover
// --------------------------------------------------------------------------------

div#bibi-panel-bookinfo-cover {
	border: solid 0 rgb(232,232,232);
	html.page-ltr &, html.Android.page-rtl & { margin: 2em 30px 0 0; padding: 2em 0; border-width: 1px 0 0 0; }
	html.page-rtl & { margin: 0 2em 30px 0; padding: 0 2em; border-width: 0 1px 0 0; }
	img {
		@include max-size(40%); @include max-size(40vw, 40vh);
		html.page-ltr &, html.Android.page-rtl & { margin: 0 0 .75em 0; }
		html.page-rtl & { margin: 0 0 0 .75em; }
	}
	p#bibi-panel-bookinfo-cover-info {
		color: rgb(160,160,160);
		strong, em, span {
			display: block;
			line-height: 1.2;
			html.page-ltr &, html.Android.page-rtl & { margin: 0 0 .5rem 0; }
			html.page-rtl & { margin: 0 0 0 .5rem; }
		}
		strong {
			font-size: 16px;
			font-weight: bold;
		}
		em {
			font-size: 14px;
		}
		span {
			font-size: 12px;
		}
	}
}