// ================================================================================
// + Nombre
// --------------------------------------------------------------------------------

$Nombre_Width: 140px;
$Nombre_Height: 20px;

$Nombre_Color: rgb(64,64,64);
$Nombre-Current_Color: darken($Nombre_Color, 25%);
$Nombre-Percent_Color: lighten($Nombre_Color, 25%);

$Nombre_BackgroundColor: rgba(240,240,240,0.9);
$Nombre_BackgroundColor: rgb(240,240,240);

div#bibi-nombre {
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	z-index: $GLOBAL__Nombre_ZIndex;
	margin: auto;
	border-radius: $Nombre_Height * 0.5;
	@include size($Nombre_Width, $Nombre_Height);
	line-height: $Nombre_Height;
	font-size: 12px;
	text-align: center;
	color: $Nombre_Color;
	background: $Nombre_BackgroundColor;
	opacity: 0;
	transition: 0.125s ease-out;
	html.view-paged &,
	html.view-horizontal & {
		@include offset(auto, -100%);
	}
	html.view-paged & {
		bottom: 2px;
	}
	html.view-horizontal & {
		bottom: $GLOBAL__Scrollbar-Track_Size + 2px; // `bottom` is to be overwritten by JavaScript ... (O.ScrollBars.Height + 2) + "px"
	}
	html.view-vertical & {
		@include offset(
			-100%,
			$GLOBAL__Scrollbar-Track_Size + 2px, // `right` is to be overwritten by JavaScript ... (O.ScrollBars.Width  + 2) + "px"
			-100%,
			auto
		);
		transform: rotate(90deg) translateY(($Nombre_Width - $Nombre_Height) * -0.5);
	}
	html.slider-opened.appearance-horizontal & {
		bottom: $GLOBAL__Slider_Size + 2px !important;
	}
	html.slider-opened.appearance-vertical & {
		right: $GLOBAL__Slider_Size + 2px !important;
	}
	& {
		display: none;
	}
	&.active {
		display: block;
	}
	&.hot {
		opacity: 1;
		transition: 0.125s ease-out;
	}
	span {
		display: inline-block;
	}
}
	span#bibi-nombre-current {
		font-size: 1.2em;
		font-weight: bold;
		color: $Nombre-Current_Color;
	}
	span#bibi-nombre-delimiter {
		margin: 0 0.1em 0 0.2em;
	}
	span#bibi-nombre-total {
	}
	span#bibi-nombre-percent {
		margin-left: .25em;
		color: $Nombre-Percent_Color;
		span.unit {
			margin-left: .125em;
			font-size: .75em;
		}
	}