// ================================================================================
// + Help
// --------------------------------------------------------------------------------


div#bibi-help {
	box-sizing: border-box;
	display: none;
	position: absolute;
	z-index: $GLOBAL__Help_ZIndex;
	margin: 0;
	border-top: solid 1px rgb(240,240,240);
	padding: 0 8px 0 56px;
	@include size(100%, $GLOBAL__BottomBar_Height);
	left: 0;
	bottom: 0;
	opacity: 0;
	transition: .2s linear;
	background: rgba(240,240,240,0.96);
	html.view-horizontal &,
	html.page-rtl.panel-opened & {
		bottom: $GLOBAL__Scrollbar-Track_Size; // to be overwritten by JavaScript ... O.ScrollBars.Height + "px"
	}
	html.veil-opened &,
	html.panel-opened &,
	html.subpanel-opened & {
		bottom: 0 !important;
	}
	html.slider-opened.view-paged &,
	html.slider-opened.view-horizontal & {
		bottom: $GLOBAL__Slider_Size !important;
	}
	p {
		line-height: $GLOBAL__BottomBar_Height * 1.1;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		color: rgb(96,96,96);
		small {
			font-size: .875em;
		}
	}
	&.active {
		display: block;
		&.shown {
			opacity: 1;
		}
	}
}

html.slider-opened:not(.panel-opened).view-vertical div#bibi-help {
	width: calc(100% - #{$GLOBAL__Slider_Size});
}