// ================================================================================
// + Stage
// --------------------------------------------------------------------------------


html {
	overflow: hidden; &.welcome { overflow: scroll !important; }
	position: absolute; // for InAppBrowsers
	@include offset(0, 0, auto); // for InAppBrowsers
	@include size(100%);
	font-family: sans-serif;
	&.macOS   { font-family: "Helvetica", "Trebuchet MS", "游ゴシック", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", sans-serif; }
	&.iOS     { font-family: "Helvetica", "Trebuchet MS", "游ゴシック", "Yu Gothic", "YuGothic", "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", sans-serif; }
	&.Windows { font-family: "Helvetica", "Trebuchet MS", "游ゴシック", "Yu Gothic", "YuGothic", "メイリオ",             "Meiryo",          sans-serif; }
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
	/*
	&[data-bibi-cursor="left"]   { cursor: w-resize; }
	&[data-bibi-cursor="right"]  { cursor: e-resize; }
	&[data-bibi-cursor="top"]    { cursor: n-resize; }
	&[data-bibi-cursor="bottom"] { cursor: s-resize; }
	*/
	&[data-bibi-cursor="left"],
	&[data-bibi-cursor="right"],
	&[data-bibi-cursor="top"],
	&[data-bibi-cursor="bottom"] { cursor: pointer; }
	user-select: none;
	&.Blink { touch-action: none; }
}

body {
	* {
		-webkit-tap-highlight-color: rgba(255,255,255,0);
		-webkit-tap-highlight-color: transparent;
	}
	position: absolute;
	@include offset(0, 0, auto);
	overflow: hidden;
	@include size(100%);
	//max-height: 150vw;
	transition: opacity .25s ease;
}


// - BiB/i Info
// --------------------------------------------------------------------------------

div#bibi-info {
	overflow: hidden;
	@include size(0);
}


// - Checker
// --------------------------------------------------------------------------------

div#bibi-style-checker {
	@include writing-mode(vertical-rl);
	position: absolute;
	z-index: 0;
	left: $GLOBAL__Slider_Size * -1; top: $GLOBAL__TopBar_Height * -1; left: 0; top: 0;
	@include size($GLOBAL__Slider_Size, $GLOBAL__TopBar_Height);
	font-size: 1rem;
	line-height: 1em;
	white-space: nowrap;
	opacity: 0;
}