// ================================================================================
// + BiB/i Logo
// --------------------------------------------------------------------------------


.bibi-logo {
	.bibi-type {
		display: inline-block;
		position: relative;
		font-weight: inherit;
		font-family: "Quando", serif;
		letter-spacing: -0.075em;
		word-break: keep-all;
		.bibi-type-B,
		.bibi-type-i,
		.bibi-type-slash {
			display: inline-block;
			position: relative;
		}
		.bibi-type-B {
		}
		.bibi-type-i {
		}
		.bibi-type-slash {
			font-family: "Lato", sans-serif; margin-right: 0.0275em;
			font-family: "Cantata One", serif; top: 0.05em; margin-left: -0.05em; margin-right: -0.081em;
			font-weight: 300;
			font-size: .69em;
		}
	}
}




// ================================================================================
// + Draw
// --------------------------------------------------------------------------------



// - Base
// --------------------------------------------------------------------------------

.bibi-icon {
	&,
	& *,
	&:before {
		box-sizing: border-box;
		display: inline-block;
		padding: 0;
		border: none 0;
		text-align: center;
		vertical-align: middle;
		text-decoration: none;
	}
	& {
		overflow: hidden;
		position: relative;
		border: solid 1px;
		border-radius: 3px;
		@include size($GLOBAL__Icon_Size);
	}
	.bibi-subpanel & {
		@include size($GLOBAL__Subpanel-Icon_Size);
	}
	& *,
	&:before {
		position: absolute;
		margin: 0;
	}
}


// - Shapes
// --------------------------------------------------------------------------------

$ItemShape_Width : 9px;   $SpreadShape_Width : $ItemShape_Width * 2 - 1px;
$ItemShape_Height: 16px;  $SpreadShape_Height: $ItemShape_Height;

$Subpanel-ItemShape_Width : 7px;   $Subpanel-SpreadShape_Width : $Subpanel-ItemShape_Width * 2 - 1px;
$Subpanel-ItemShape_Height: 11px;  $Subpanel-SpreadShape_Height: $Subpanel-ItemShape_Height;

.bibi-icon-view-paged,
.bibi-icon-view-horizontal,
.bibi-icon-view-vertical {
	span.bibi-shape-spreads {
		@include offset(0);
		margin: auto;
		@include size($SpreadShape_Width, $SpreadShape_Height);
		span.bibi-shape-spread {
			left: 0;
			top: 0;
			@include size(100%);
			span.bibi-shape-item {
				top: 0;
				border: solid 1px;
				@include size($ItemShape_Width, $ItemShape_Height);
				&:first-child { left: 0; }
				&:last-child  { left: ($ItemShape_Width - 1px); }
			}
		}
	}
	.bibi-subpanel & span.bibi-shape-spreads {
		@include size($Subpanel-SpreadShape_Width, $Subpanel-SpreadShape_Height);
		span.bibi-shape-spread {
			span.bibi-shape-item {
				@include size($Subpanel-ItemShape_Width, $Subpanel-ItemShape_Height);
				&:last-child  { left: ($Subpanel-ItemShape_Width - 1px); }
			}
		}
	}
}

.bibi-icon-view-paged {
	span.bibi-shape-spreads-paged {
		span.bibi-shape-spread {
			&:first-child { display: none; }
			&:last-child  { display: none; }
		}
	}
}

.bibi-icon-view-horizontal {
	span.bibi-shape-spreads-horizontal {
		span.bibi-shape-spread {
			&:first-child { left: ($SpreadShape_Width + 1px) * -1; }
			&:last-child  { left: ($SpreadShape_Width + 1px); }
		}
	}
	.bibi-subpanel & span.bibi-shape-spreads {
		span.bibi-shape-spread {
			&:first-child { left: ($Subpanel-SpreadShape_Width + 1px) * -1; }
			&:last-child  { left: ($Subpanel-SpreadShape_Width + 1px); }
		}
	}
}

.bibi-icon-view-vertical {
	span.bibi-shape-spreads-vertical {
		span.bibi-shape-spread {
			&:first-child { top: ($SpreadShape_Height + 1px) * -1; }
			&:last-child  { top: ($SpreadShape_Height + 1px); }
		}
	}
	.bibi-subpanel & span.bibi-shape-spreads {
		span.bibi-shape-spread {
			&:first-child { top: ($Subpanel-SpreadShape_Height + 1px) * -1; }
			&:last-child  { top: ($Subpanel-SpreadShape_Height + 1px); }
		}
	}
}


// - PanelToggler (Bars)
// --------------------------------------------------------------------------------

$PanelToggler-Bar_Width: 19px;
$PanelToggler-Bar_Height: 2px;
$PanelToggler-Bar_Isolation: 4px;

.bibi-icon-toggle-panel {
	>span {
		left: 0;
		right: 0;
		margin: auto;
		@include size($PanelToggler-Bar_Width, $PanelToggler-Bar_Height);
		border-radius: 1px;
	}
	& {
		$Bars_Top: ($GLOBAL__Icon_Size - ($PanelToggler-Bar_Height * 3 + $PanelToggler-Bar_Isolation * 2)) / 2 - 1px;
		>span.bar-1 { top: $Bars_Top; }
		>span.bar-2 { top: $Bars_Top + $PanelToggler-Bar_Height + $PanelToggler-Bar_Isolation; }
		>span.bar-3 { top: $Bars_Top + $PanelToggler-Bar_Height + $PanelToggler-Bar_Isolation + $PanelToggler-Bar_Height + $PanelToggler-Bar_Isolation; }
	}
	.bibi-button.active & {
		>span.bar-1 { opacity: 1; transform: translateY(($PanelToggler-Bar_Isolation + $PanelToggler-Bar_Height) *  1) rotate( 135deg); }
		>span.bar-2 { opacity: 0; transform: translateY(($PanelToggler-Bar_Isolation + $PanelToggler-Bar_Height) *  0) rotate(-360deg); }
		>span.bar-3 { opacity: 1; transform: translateY(($PanelToggler-Bar_Isolation + $PanelToggler-Bar_Height) * -1) rotate( 225deg); }
	}
}


// - Icon Fonts
// --------------------------------------------------------------------------------

.bibi-icon-config,
.bibi-icon-share,
.bibi-icon-full-breadth-layout,
.bibi-icon-toggle-fullscreen,
.bibi-icon-open-newwindow {
	text-decoration: none;
	&:before {
		@include font-icon("Material Icons");
		@include offset(0);
		margin: 0;
		@include size(100%);
		text-align: center;
		vertical-align: middle;
		line-height: $GLOBAL__Icon_Size * 0.98;
	}
	.bibi-subpanel &:before { line-height: $GLOBAL__Subpanel-Icon_Size * 0.98; }
}

.bibi-icon-config {
	&:before { content: /*touch_app*/ "\e8b8"; font-size: $GLOBAL__Icon_Size * 0.75; }
}

.bibi-icon-share {
	&:before { content: /*share*/ "\e80d"; font-size: $GLOBAL__Icon_Size * 20/31; font-weight: bold; html.InternetExplorer & { font-weight: normal; } }
}

.bibi-icon-full-breadth-layout {
	&:before { content: /*settings_overscan*/ "\e8c4"; font-size: $GLOBAL__Icon_Size * 0.5; }
	.bibi-subpanel &:before { line-height: $GLOBAL__Subpanel-Icon_Size * .95238; }
}

.bibi-icon-toggle-fullscreen {
	&:before { content: /*fullscreen*/ "\e5d0"; }
	*:fullscreen &:before { content: /*fullscreen_exit*/ "\e5d1"; }
	.bibi-subpanel &:before { font-size: $GLOBAL__Subpanel-Icon_Size * 0.9; html.InternetExplorer & { top: -.05em; } }
}

.bibi-icon-open-newwindow {
	&:before { content: /*open_in_new*/ "\e89e"; font-size: $GLOBAL__Icon_Size * 21/31; }
	.bibi-subpanel &:before { margin-top: -.025em; font-size: $GLOBAL__Subpanel-Icon_Size * 16/21; }
}

.bibi-icon-fontsize {
	&:before {
		@include font-icon("Material Icons");
		display: block;
		position: absolute;
		@include offset(-100%);
		margin: auto;
		@include size(1em);
		line-height: 1.1;
	}
}
.bibi-icon-fontsize-change {
	&:before { content: "format_size"; font-size: 24px; }
}
.bibi-icon-fontsize-exlarge,
.bibi-icon-fontsize-large,
.bibi-icon-fontsize-medium,
.bibi-icon-fontsize-small,
.bibi-icon-fontsize-exsmall {
	&:before { content: "title"; font-size: 13px; }
}
$FontSizeIcon_ScaleStep: 1.44;
.bibi-icon-fontsize-exlarge { &:before { transform: rotate(  0deg) scale(1 * $FontSizeIcon_ScaleStep * $FontSizeIcon_ScaleStep); } }
.bibi-icon-fontsize-large   { &:before { transform: rotate(  0deg) scale(1 * $FontSizeIcon_ScaleStep); } }
.bibi-icon-fontsize-medium  { &:before { transform: rotate(  0deg) scale(1); } }
.bibi-icon-fontsize-small   { &:before { transform: rotate(  0deg) scale(1 / $FontSizeIcon_ScaleStep); } }
.bibi-icon-fontsize-exsmall { &:before { transform: rotate(  0deg) scale(1 / $FontSizeIcon_ScaleStep / $FontSizeIcon_ScaleStep); } }

.bibi-icon-loupe {
	&:before, &:after {
		display: block;
		position: absolute;
		margin: auto;
		@include size(1em);
		line-height: 1;
	}
	&:before {
		@include font-icon("Material Icons");
		@include offset(-100%);
	}
}
.bibi-icon-loupe-menu,
.bibi-icon-loupe-zoomin,
.bibi-icon-loupe-zoomout,
.bibi-icon-loupe-reset {
	&:before {
		font-size: 26px;
		line-height: 26px;
		text-indent: 1px;
	}
	.bibi-subpanel &:before {
		font-size: 22px;
		line-height: 22px;
	}
}
.bibi-icon-loupe-menu {
	&:before { content: /*zoom_in*/ "\e8ff"; }
}
.bibi-icon-loupe-zoomin {
	&:before { content: /*zoom_in*/ "\e8ff"; }
}
.bibi-icon-loupe-zoomout {
	&:before { content: /*zoom_out*/ "\e900"; }
}
.bibi-icon-loupe-reset {
	&:before { content: /*search*/ "\e8b6"; }
	&:after {
		content: "=";
		display: block;
		position: absolute;
		@include offset(21%, auto, auto, 24%);
		margin: auto;
		@include size(1em);
		font-size: 1em * (13px / 18px);
		line-height: 1;
	}
	html.Windows &:after { @include offset(27%, auto, auto, 25%); }
	#bibi-subpanel_loupe &:after { @include offset(11%, auto, auto, 17%); }
}




// ================================================================================
// + Colors & Interaction
// --------------------------------------------------------------------------------


// - Vars
// --------------------------------------------------------------------------------

// Default
$Icon-Font_PaintColor:    rgb(144,144,144);
$Icon-Font_OutlineColor:  transparent;
$Icon-Shape_PaintColor:   white;
$Icon-Shape_OutlineColor: $Icon-Font_PaintColor;
$Icon_BackgroundColor:    rgba(white, 0.9);
$Icon_BorderColor:        rgb(236,236,236);

// Default:Hover
$Icon-Font_PaintColor__Default-Hover:    rgb(64,64,64);
$Icon-Font_OutlineColor__Default-Hover:  $Icon-Font_OutlineColor;
$Icon-Shape_PaintColor__Default-Hover:   $Icon-Shape_PaintColor;
$Icon-Shape_OutlineColor__Default-Hover: $Icon-Font_PaintColor__Default-Hover;
$Icon_BackgroundColor__Default-Hover:    $Icon_BackgroundColor;
$Icon_BorderColor__Default-Hover:        rgb(192,192,192);

// Active
$Icon-Font_PaintColor__Active:    $Icon_BackgroundColor;
$Icon-Font_OutlineColor__Active:  transparent;
$Icon-Shape_PaintColor__Active:   $Icon-Shape_PaintColor;
$Icon-Shape_OutlineColor__Active: $Icon-Font_PaintColor;
$Icon_BackgroundColor__Active:    $Icon-Font_PaintColor;
$Icon_BorderColor__Active:        darken($Icon_BorderColor, 30%);

// Active:Hover
$Icon-Font_PaintColor__Active-Hover:    $Icon-Font_PaintColor__Active;
$Icon-Font_OutlineColor__Active-Hover:  transparent;
$Icon-Shape_PaintColor__Active-Hover:   $Icon-Shape_PaintColor__Active;
$Icon-Shape_OutlineColor__Active-Hover: lighten($Icon-Shape_OutlineColor__Active, 10%);
$Icon_BackgroundColor__Active-Hover:    rgb(96,96,96);
$Icon_BorderColor__Active-Hover:        lighten($Icon_BorderColor__Active, 10%);

// [In Subpanel] Default
$Subpanel-Icon-Font_PaintColor:    rgb(128,128,128);
$Subpanel-Icon-Font_OutlineColor:  transparent;
$Subpanel-Icon-Shape_PaintColor:   white;
$Subpanel-Icon-Shape_OutlineColor: rgb(144,144,144);
$Subpanel-Icon_BackgroundColor:    rgb(248,248,248);
$Subpanel-Icon_BorderColor:        rgb(192,192,192);

// [In Subpanel] Default:Hover
$Subpanel-Icon-Font_PaintColor__Default-Hover:    $GLOBAL__Subpanel_KeyColor;
$Subpanel-Icon-Font_OutlineColor__Default-Hover:  transparent;
$Subpanel-Icon-Shape_PaintColor__Default-Hover:   white;
$Subpanel-Icon-Shape_OutlineColor__Default-Hover: $GLOBAL__Subpanel_KeyColor;
$Subpanel-Icon_BackgroundColor__Default-Hover:    lighten($GLOBAL__Subpanel_KeyColor, 45%);
$Subpanel-Icon_BorderColor__Default-Hover:        $GLOBAL__Subpanel_KeyColor;

// [In Subpanel] Active
$Subpanel-Icon-Font_PaintColor__Active:    white;
$Subpanel-Icon-Font_OutlineColor__Active:  transparent;
$Subpanel-Icon-Shape_PaintColor__Active:   white;
$Subpanel-Icon-Shape_OutlineColor__Active: $GLOBAL__Subpanel_KeyColor;
$Subpanel-Icon_BackgroundColor__Active:    $GLOBAL__Subpanel_KeyColor;
$Subpanel-Icon_BorderColor__Active:        $GLOBAL__Subpanel_KeyColor;

// [In Subpanel] Active:Hover
$Subpanel-Icon-Font_PaintColor__Active-Hover:    white;
$Subpanel-Icon-Font_OutlineColor__Active-Hover:  transparent;
$Subpanel-Icon-Shape_PaintColor__Active-Hover:   white;
$Subpanel-Icon-Shape_OutlineColor__Active-Hover: $GLOBAL__Subpanel_KeyColor;
$Subpanel-Icon_BackgroundColor__Active-Hover:    lighten($GLOBAL__Subpanel_KeyColor, 20%);
$Subpanel-Icon_BorderColor__Active-Hover:        $GLOBAL__Subpanel_KeyColor;


// - MixIns
// --------------------------------------------------------------------------------

@mixin outline-color($TB, $Color) {
	#{$TB}-shadow:
		-1px -1px 0px $Color,
		 0px -1px 0px $Color,
		 1px -1px 0px $Color,
		 1px  0px 0px $Color,
		 1px  1px 0px $Color,
		 0px  1px 0px $Color,
		-1px  1px 0px $Color,
		-1px  0px 0px $Color,
		 0px  0px 1px $Color;
}

@mixin colour-icons(
	$Font-PaintColor,
	$Font-OutlineColor,
	$Shape-PaintColor,
	$Shape-OutlineColor,
	$BackgroundColor,
	$BorderColor
) {
	color: $BorderColor;
	border-color: $BorderColor;
	background-color: $BackgroundColor;
	&:before, &:after {
		color: $Font-PaintColor;
		@include outline-color("text", $Font-OutlineColor);
	}
	span.bibi-shape-spreads {
		span.bibi-shape-spread {
			span.bibi-shape-item {
				border-color: $Shape-OutlineColor;
				background-color: $Shape-PaintColor;
			}
		}
	}
	&.bibi-icon-toggle-panel {
		>span {
			background-color: $Font-PaintColor;
			@include outline-color("box", $Font-OutlineColor);
		}
	}
}


// - Default
// --------------------------------------------------------------------------------

.bibi-icon {
	@include colour-icons(
		$Icon-Font_PaintColor,
		$Icon-Font_OutlineColor,
		$Icon-Shape_PaintColor,
		$Icon-Shape_OutlineColor,
		$Icon_BackgroundColor,
		$Icon_BorderColor
	);
	.bibi-subpanel & {
		@include colour-icons(
			$Subpanel-Icon-Font_PaintColor,
			$Subpanel-Icon-Font_OutlineColor,
			$Subpanel-Icon-Shape_PaintColor,
			$Subpanel-Icon-Shape_OutlineColor,
			$Subpanel-Icon_BackgroundColor,
			$Subpanel-Icon_BorderColor
		);
	}
	&, &:before, &:after, * {
		transition:
			color 0.125s linear,
			background-color 0.125s linear,
			border-color 0.125s linear,
			text-shadow 0.125s linear,
			box-shadow 0.125s linear,
			transform 0.25s ease
		;
	}
}


// - Default:Hover
// --------------------------------------------------------------------------------

.bibi-button.default.hover .bibi-icon,
.bibi-button.default:hover .bibi-icon {
	@include colour-icons(
		$Icon-Font_PaintColor__Default-Hover,
		$Icon-Font_OutlineColor__Default-Hover,
		$Icon-Shape_PaintColor__Default-Hover,
		$Icon-Shape_OutlineColor__Default-Hover,
		$Icon_BackgroundColor__Default-Hover,
		$Icon_BorderColor__Default-Hover
	);
	.bibi-subpanel & {
		@include colour-icons(
			$Subpanel-Icon-Font_PaintColor__Default-Hover,
			$Subpanel-Icon-Font_OutlineColor__Default-Hover,
			$Subpanel-Icon-Shape_PaintColor__Default-Hover,
			$Subpanel-Icon-Shape_OutlineColor__Default-Hover,
			$Subpanel-Icon_BackgroundColor__Default-Hover,
			$Subpanel-Icon_BorderColor__Default-Hover
		);
		transition: inherit;
	}
	cursor: pointer;
}

.bibi-button-radio.active .bibi-icon {
	cursor: default;
}


// - Active
// --------------------------------------------------------------------------------

.bibi-button.active {
	.bibi-icon {
		@include colour-icons(
			$Icon-Font_PaintColor__Active,
			$Icon-Font_OutlineColor__Active,
			$Icon-Shape_PaintColor__Active,
			$Icon-Shape_OutlineColor__Active,
			$Icon_BackgroundColor__Active,
			$Icon_BorderColor__Active
		);
		&:before, &:after {
			transform: rotate(360deg);
		}
		.bibi-subpanel & {
			@include colour-icons(
				$Subpanel-Icon-Font_PaintColor__Active,
				$Subpanel-Icon-Font_OutlineColor__Active,
				$Subpanel-Icon-Shape_PaintColor__Active,
				$Subpanel-Icon-Shape_OutlineColor__Active,
				$Subpanel-Icon_BackgroundColor__Active,
				$Subpanel-Icon_BorderColor__Active
			);
		}
	}
	.bibi-icon-fontsize-exlarge { &:before { transform: rotate(360deg) scale(1 * $FontSizeIcon_ScaleStep * $FontSizeIcon_ScaleStep); } }
	.bibi-icon-fontsize-large   { &:before { transform: rotate(360deg) scale(1 * $FontSizeIcon_ScaleStep); } }
	.bibi-icon-fontsize-medium  { &:before { transform: rotate(360deg) scale(1); } }
	.bibi-icon-fontsize-small   { &:before { transform: rotate(360deg) scale(1 / $FontSizeIcon_ScaleStep); } }
	.bibi-icon-fontsize-exsmall { &:before { transform: rotate(360deg) scale(1 / $FontSizeIcon_ScaleStep / $FontSizeIcon_ScaleStep); } }
	.bibi-icon-loupe-zoomin {
		&:before {
			html.loupe-with-keys & { transform: rotate(360deg); }
			html.loupe-pointer-only & { transform: scale(1.5); }
		}
	}
	.bibi-icon-loupe-zoomout {
		&:before { transform: scale(0.67); }
	}
	.bibi-icon-loupe-reset {
		&:before, &:after { transform: scale(0.67); }
	}
}


// - Active:Hover
// --------------------------------------------------------------------------------

.bibi-button-normal.active.hover .bibi-icon,
.bibi-button-normal.active:hover .bibi-icon,
.bibi-button-toggle.active.hover .bibi-icon,
.bibi-button-toggle.active:hover .bibi-icon {
	@include colour-icons(
		$Icon-Font_PaintColor__Active-Hover,
		$Icon-Font_OutlineColor__Active-Hover,
		$Icon-Shape_PaintColor__Active-Hover,
		$Icon-Shape_OutlineColor__Active-Hover,
		$Icon_BackgroundColor__Active-Hover,
		$Icon_BorderColor__Active-Hover
	);
	.bibi-subpanel & {
		@include colour-icons(
			$Subpanel-Icon-Font_PaintColor__Active-Hover,
			$Subpanel-Icon-Font_OutlineColor__Active-Hover,
			$Subpanel-Icon-Shape_PaintColor__Active-Hover,
			$Subpanel-Icon-Shape_OutlineColor__Active-Hover,
			$Subpanel-Icon_BackgroundColor__Active-Hover,
			$Subpanel-Icon_BorderColor__Active-Hover
		);
	}
	cursor: pointer;
}


// - Disabled
// --------------------------------------------------------------------------------

.bibi-button.disabled {
	.bibi-icon-loupe-zoomin,
	.bibi-icon-loupe-zoomout,
	.bibi-icon-loupe-reset {
		&:before, &:after {
			opacity: 0.33;
		}
	}
}




// ================================================================================
// + SNS Icons
// --------------------------------------------------------------------------------

@mixin sns-icon($Content, $Color) {
	margin-top: .05em;
	margin-right: -.1em;
	border: none 0;
	border-radius: 0;
	background: transparent !important;
	font-size: $GLOBAL__Icon_Size;
	line-height: $GLOBAL__Icon_Size * .96;
	.bibi-subpanel & {
		font-size: $GLOBAL__Subpanel-Icon_Size;
		line-height: $GLOBAL__Subpanel-Icon_Size * .96;
	}
	&:before, &:after {
		display: inline-block;
		color: $Color !important;
		@include offset(0); margin: auto;
		box-shadow: none !important;
	}
	&:before {
		@include font-icon("Font Awesome\ 5 Brands");
		content: $Content;
	}
}

.bibi-icon-Twitter    { @include sns-icon("\f081", rgb( 29,161,242)); }
.bibi-icon-Facebook   { @include sns-icon("\f082", rgb( 58, 89,153)); }
.bibi-icon-GooglePlus { @include sns-icon("\f0d4", rgb(219, 68, 55)); }

.bibi-icon-colorless  { &:before { color: inherit; } }




// ================================================================================
// + Book Icon
// --------------------------------------------------------------------------------

@mixin book-icon($BookIcon_Size, $BookIcon_OuterColor, $BookIcon_InnerColor) {
	$BookIcon-Line_Width: $BookIcon_Size * 8/128;
	$BookIcon-Book_Width: $BookIcon_Size - $BookIcon-Line_Width * 2.5;
	$BookIcon-Book_Height: $BookIcon_Size;
	$BookIcon-Cover_Width: $BookIcon-Book_Width - $BookIcon-Line_Width * 2;
	$BookIcon-Cover_Height: $BookIcon-Book_Height - $BookIcon-Line_Width * 4;
	$BookIcon-Page_Breadth: $BookIcon-Book_Height - $BookIcon-Line_Width - $BookIcon-Cover_Height;
	$BookIcon-Book_Breadth: $BookIcon-Page_Breadth + $BookIcon-Line_Width * 2;
	$BookIcon_OffsetLeft: ($BookIcon_Size - $BookIcon-Book_Width) * 0.5 - $BookIcon-Line_Width * 0.5;
	$BookIcon_OffsetTop: 0;
	box-sizing: border-box;
	display: block;
	position: relative;
	@include size($BookIcon_Size);
	&:before, &:after,
	span, span:before, span:after {
		content: "";
		box-sizing: border-box;
		display: block;
		position: absolute;
	}
	span { // Back Cover
		z-index: 10;
		left: $BookIcon_OffsetLeft;
		top: $BookIcon_OffsetTop;
		border-radius: ($BookIcon-Book_Breadth * 0.5) $BookIcon-Line_Width $BookIcon-Line_Width 0;
		@include size($BookIcon-Cover_Width + $BookIcon-Line_Width * 2, $BookIcon_Size - $BookIcon-Line_Width * 3);
		&:before { // Pages
			z-index: 100;
			left: ($BookIcon-Book_Breadth * 0.5);
			top: $BookIcon-Line_Width;
			border-radius: 0 2px $BookIcon-Line_Width * 3.5 0;
			@include size($BookIcon-Cover_Width - ($BookIcon-Line_Width + $BookIcon-Page_Breadth * 0.5) + $BookIcon-Line_Width, $BookIcon_Size - $BookIcon-Line_Width);
		}
		&:after { // Top of Spine
			z-index: 1000;
			left: $BookIcon-Line_Width;
			top: $BookIcon-Line_Width;
			border-radius: ($BookIcon-Page_Breadth * 0.5) 0 0 ($BookIcon-Page_Breadth * 0.5);
			@include size($BookIcon-Page_Breadth/* * 0.5*/, $BookIcon-Page_Breadth);
		}
	}
	&:after { // Front Cover
		z-index: 10000;
		left: $BookIcon_OffsetLeft;
		top: $BookIcon_OffsetTop + ($BookIcon_Size - $BookIcon-Cover_Height);
		border-radius: 0 $BookIcon-Line_Width $BookIcon-Line_Width ($BookIcon-Book_Breadth * 0.5);
		@include size($BookIcon-Cover_Width, $BookIcon-Cover_Height);
	}
	span, &:after { background: $BookIcon_OuterColor; }
	span:before, span:after { background: $BookIcon_InnerColor; }
}