// ================================================================================
// + Arrows
// --------------------------------------------------------------------------------

div#bibi-arrows {
	pointer-events: none;
}
div.bibi-arrow {
	//// Layout
	& {
		& {
			pointer-events: none;
			display: none; html.arrows-active & { display: block; }
			position: absolute;
			z-index: $INVARIABLE__Arrow_ZIndex;
			margin: auto;
			line-height: 1;
			&:before, &:after {
				box-sizing: border-box;
				display: block;
				position: absolute;
			}
			&:before { // icon
				z-index: 2;
				// @____Bibi:Dress__('-') @include Arrow-Icon();
			}
			&:after { // edge shadow
				//display: none !important;
				content: "";
				z-index: 1;
			}
		}
	}
	@mixin Arrow-Content-Layout($SCOPED__Arrow_Dir) {
		& {
			#{$SCOPED__Arrow_Dir}: 0;
			&:before {  #{$SCOPED__Arrow_Dir}: 8px;  }
			&:after  {  #{$SCOPED__Arrow_Dir}: 0;  background: linear-gradient(to $SCOPED__Arrow_Dir, transparent, rgba(black, 0) 25%, rgba(black, 0.1));  }
		}
	}
	&.bibi-arrow-horizontal { // ←→
		& {
			top: 0; width: 0; height: 100vh;
			&:before { top: 0; bottom: 0; }
			&:after  { top: 0; bottom: 0; height: 100%;
				// @____Bibi:Dress__('-') width: $Arrow-Bar_Width;
			}
		}
		html:not(.slider-opened).book-full-height & {
			height: 100vh; // TO BE OVERWRITTEN
		}
		// @____Bibi:Dress__('-') html.slider-opened.book-full-height &,
		// @____Bibi:Dress__('-') html:not(.book-full-height) & {
		// @____Bibi:Dress__('-') 	top: $Menu_Height;
		// @____Bibi:Dress__('-') }
		// @____Bibi:Dress__('-') html:not(.slider-opened):not(.book-full-height) & {
		// @____Bibi:Dress__('-') 	height: calc(100vh - #{$Menu_Height}); // TO BE OVERWRITTEN
		// @____Bibi:Dress__('-') }
		// @____Bibi:Dress__('-') html.slider-opened.appearance-horizontal & {
		// @____Bibi:Dress__('-') 	height: calc(100vh - #{$Menu_Height + $Slider_Size});
		// @____Bibi:Dress__('-') }
		// @____Bibi:Dress__('-') html.slider-opened.appearance-vertical & {
		// @____Bibi:Dress__('-') 	height: calc(100vh - #{$Menu_Height});
		// @____Bibi:Dress__('-') }
	}
	&.bibi-arrow-left { // ←
		& {
			@include Arrow-Content-Layout(left);
			// @____Bibi:Dress__('-') &:before { @include Arrow-Icon-L(); };
		}
	}
	&.bibi-arrow-right { // →
		& {
			@include Arrow-Content-Layout(right);
			// @____Bibi:Dress__('-') &:before { @include Arrow-Icon-R(); };
		}
		html:not(.slider-opened).appearance-vertical & {
			right: 0; // TO BE OVERWRITTEN
		}
		// @____Bibi:Dress__('-') html.slider-opened.appearance-vertical & {
		// @____Bibi:Dress__('-') 	right: $Slider_Size;
		// @____Bibi:Dress__('-') }
	}
	&.bibi-arrow-vertical { // ↑↓
		& {
			left: 0; height: 0; width: 100vw;
			&:before { left: 0; right: 0; }
			&:after  { left: 0; right: 0; width: 100%;
				// @____Bibi:Dress__('-') height: $Arrow-Bar_Width;
			}
		}
		html:not(.slider-opened).appearance-vertical & {
			width: 100vw; // TO BE OVERWRITTEN
		}
		// @____Bibi:Dress__('-') html.slider-opened.appearance-vertical & {
		// @____Bibi:Dress__('-') 	width: calc(100vw - #{$Slider_Size});
		// @____Bibi:Dress__('-') }
	}
	&.bibi-arrow-up { // ↑
		& {
			@include Arrow-Content-Layout(top);
			// @____Bibi:Dress__('-') &:before { @include Arrow-Icon-U(); };
		}
		// @____Bibi:Dress__('-') html.book-full-height.slider-opened &,
		// @____Bibi:Dress__('-') html:not(.book-full-height) & {
		// @____Bibi:Dress__('-') 	top: $Menu_Height;
		// @____Bibi:Dress__('-') }
	}
	&.bibi-arrow-down { // ↓
		& {
			@include Arrow-Content-Layout(bottom);
			// @____Bibi:Dress__('-') &:before { @include Arrow-Icon-D(); };
		}
		html:not(.slider-opened).appearance-horizontal & {
			bottom: 0; // TO BE OVERWRITTEN
		}
		// @____Bibi:Dress__('-') html.slider-opened.appearance-horizontal & {
		// @____Bibi:Dress__('-') 	bottom: $Slider_Size;
		// @____Bibi:Dress__('-') }
	}
	//// Interaction
	& {
		html.busy & {
			&:before, &:after { opacity: 0 !important; transition: none !important; }
		}
		&.bibi-arrow-updating {
			display: none !important;
		}
		& {
			&:before, &:after { transition-duration: .4s; }
			&:before { opacity: 0.00; transform: scale(1.10); transition-timing-function: cubic-bezier(.2, .8, .8, 1.6); }
			&:after  { opacity: 0.00;                         transition-timing-function: ease-out; }
		}
		&.available.hover {
			cursor: pointer;
			&:before, &:after { transition-duration: .2s; }
			&:before { opacity: 1.00; transform: scale(1.10); }
		}
		&.available.active {
			&:before, &:after { transition-duration: .1s; }
			&:before { opacity: 0.75; transform: scale(1.00); }
		}
		&.available.glowing {
			&:before, &:after { transition-duration: .1s; }
			&:before { opacity: 1.00; transform: scale(1.10); }
		}
		&.available.hover,
		&.available.glowing {
			&:after  { opacity: 1.00; }
		}
	}
	@mixin Arrow-Content-Interaction($SCOPED__Arrow_Dir, $SCOPED__Arrow_TransformOrigin) {
		& {
			&:before, &:after {  transform-origin: $SCOPED__Arrow_TransformOrigin;  }
		}
		&.available.glowing {
			&:before { #{$SCOPED__Arrow_Dir}: 8px; }
		}
	}
	&.bibi-arrow-left  { @include Arrow-Content-Interaction(left,     0%  50%); } // ←
	&.bibi-arrow-right { @include Arrow-Content-Interaction(right,  100%  50%); } // →
	&.bibi-arrow-up    { @include Arrow-Content-Interaction(top,     50%   0%); } // ↑
	&.bibi-arrow-down  { @include Arrow-Content-Interaction(bottom,  50% 100%); } // ↓
}


// - . Axis Switcher
// --------------------------------------------------------------------------------

div#bibi-axis-switcher {
	& {
		$_RingSize: 180px;
		$_RingWidth: 40px;
		$_BitSize: 40px;
		pointer-events: none !important;
		box-sizing: border-box;
		position: fixed;
		z-index: 99999999999;
		@include offset(-100%);
		margin: auto;
		padding: 0;
		border-radius: 50%;
		@include size($_RingSize);
		opacity: 0;
		transform: scale(.5);
		> span {
			box-sizing: border-box;
			position: absolute;
			@include offset(-100%);
			margin: auto;
			border-radius: 50%;
			@include size(100%);
			opacity: 0;
		}
		> span:first-child {
			border: solid $_RingWidth rgba(123,123,123,.54);
			box-sizing: content-box;
			@include size(calc(100% - #{$_RingWidth * 2}));
		}
		> span:last-child {
			display: flex;
			justify-content: space-between;
			align-items: center;
			transform: rotate(0);
			&:before,
			&:after {
				@include GLOBAL__FontIcon_BaseStyles("Material Icons", $_BitSize, $_BitSize);
				content: "chevron_right";
				@include size($_BitSize);
				text-align: center;
				color: white;
				//border-radius: 50%;
			}
		}
	}
	html.view-horizontal & {
		> span:last-child {
			flex-direction: row;
			&:before { transform: rotate(180deg); }
			&:after  { transform: rotate(  0   ); }
		}
	}
	html.view-vertical & {
		> span:last-child {
			flex-direction: column;
			&:before { transform: rotate(-90deg); }
			&:after  { transform: rotate( 90deg); }
		}
	}
	html.view-paged & {
		display: none !important;
	}
}
