// ================================================================================
// + Notifier
// --------------------------------------------------------------------------------


div#bibi-notifier {
	overflow: hidden;
	pointer-events: none;
	position: fixed;
	@include size(100%);
	z-index: $INVARIABLE__Notifier_ZIndex;
	@include offset(0);
	margin: 0;
	> div {
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		position: absolute;
		@include offset(0, -50vw, auto);
		margin: 0 auto;
		padding: .2em 8px 0;
		line-height: 1;
		width: 200vw;
		// @____Bibi:Dress__('-') height: $Notifier_Height;
		// @____Bibi:Dress__('-') background: $Notifier_Background;
		// @____Bibi:Dress__('-') box-shadow: $Notifier_BoxShadow;
		> p {
			width: 100vw;
			text-align: center;
			// @____Bibi:Dress__('-') font-family: $Notifier_FontFamily;
			// @____Bibi:Dress__('-') font-weight: $Notifier_FontWeight;
			// @____Bibi:Dress__('-') font-size: $Notifier_FontSize;
			// @____Bibi:Dress__('-') color: $Notifier_Color;
			small,
			.sotto {
				font-size: 0.875em;
			}
			.sotto {
				opacity: .75;
			}
		}
		> p.error {
			// @____Bibi:Dress__('-') font-family: $Notifier_FontFamily__Error;
			// @____Bibi:Dress__('-') font-weight: $Notifier_FontWeight__Error;
			// @____Bibi:Dress__('-') font-size: $Notifier_FontSize__Error;
			// @____Bibi:Dress__('-') color: $Notifier_Color__Error;
		}
	}
	// @____Bibi:Dress__('-') @include Notifier_Transition();
}
