// ================================================================================
// + Slider
// --------------------------------------------------------------------------------

div#bibi-slider {
	& {
		overflow: hidden;
		position: relative;
		box-sizing: border-box;
		display: block;
		position: absolute;
		z-index: $INVARIABLE__Slider_ZIndex;
		cursor: pointer;
		// @____Bibi:Dress__('-') box-shadow: $Slider_BoxShadow;
		will-change: height;
		&:after {
			content: "";
			display: block;
			box-sizing: border-box;
			position: absolute;
			z-index: 0;
			border-style: solid;
			border-width: 0;
			// @____Bibi:Dress__('-') border-color: $Slider_BorderColor;
			@include size(100%);
			// @____Bibi:Dress__('-') background: $Slider_Background;
		}
		// @____Bibi:Dress__('-') &, &:after { transition: $Slider_Transition__Close; }
	}
	html.appearance-horizontal & {
		@include offset(auto, 0, 0, 0);
		@include size(
			100%,
			$TEMPORARY__Scrollbar-Track_Size // TO BE OVERWRITTEN
		);
		&:after { border-top-width: 1px; }
	}
	html.appearance-horizontal.panel-opened & { height: 0; }
	html.appearance-vertical & {
		@include offset(0, 0, 0, auto);
		@include size(
			$TEMPORARY__Scrollbar-Track_Size, // TO BE OVERWRITTEN
			100%
		);
		&:after { border-left-width: 1px; }
	}
	html.appearance-vertical.panel-opened & { width: 0; }
	html.slider-opened & {
		overflow: visible;
		// @____Bibi:Dress__('-') box-shadow: $Slider_BoxShadow__SliderOpened;
		// @____Bibi:Dress__('-') &:after { background: $Slider_Background__SliderOpened; }
		// @____Bibi:Dress__('-') &, &:after { transition: $Slider_Transition__Open; }
	}
	html.slider-opened.appearance-horizontal & {
		// @____Bibi:Dress__('-') height: $Slider_Size !important;
		// @____Bibi:Dress__('-') &:after { border-top-color: $Slider_BorderColor__SliderOpened; }
	}
	html.slider-opened.appearance-vertical & {
		// @____Bibi:Dress__('-') width: $Slider_Size !important;
		// @____Bibi:Dress__('-') &:after { border-left-color: $Slider_BorderColor__SliderOpened; }
	}
	html.slider-sliding &,
	html.busy & { transition: none; }
	html.waiting &,
	html.busy &,
	html.panel-opened & { display: none; }
}


// - . History
// --------------------------------------------------------------------------------

div#bibi-slider-history {
	div#bibi-slider:not(.bibi-slider-with-history) & { display: none; }
	html:not(.slider-opened) & {
		transform: scale(0);
		// @____Bibi:Dress__('-') transition: $Slider_Transition__Close;
	}
	html.slider-opened & {
		// @____Bibi:Dress__('-') transition: $Slider_Transition__Open;
	}
	.bibi-buttongroup { // ul
		.bibi-buttonbox { // li
			.bibi-button#bibi-slider-history-button {
				position: absolute;
				z-index: 1;
				margin: auto;
				// @____Bibi:Dress__('-') @include size($Slider-History-Button-Icon_Size);
				html.appearance-vertical & {
					left: 0; right: 0;
					bottom: auto;
					// @____Bibi:Dress__('-') top: $Slider-History-Button-Icon_Margin;
				}
				html.appearance-horizontal & {
					top: 0; bottom: 0;
				}
				html.appearance-ltr & {
					right: auto;
					// @____Bibi:Dress__('-') left: $Slider-History-Button-Icon_Margin;
				}
				html.appearance-rtl & {
					left: auto;
					// @____Bibi:Dress__('-') right: $Slider-History-Button-Icon_Margin;
				}
				span.bibi-button-label {
					position: absolute;
					@include offset(0);
					overflow: hidden;
					@include size(0);
					color: transparent;
				}
			}
		}
	}
}


// - . Thumb
// --------------------------------------------------------------------------------

div#bibi-slider-thumb {
	display: block;
	box-sizing: border-box;
	position: absolute;
	z-index: 100000;
	html.appearance-horizontal & {
		top: 0; bottom: 0;
		height: $TEMPORARY__Scrollbar-Thumb_Size; // TO BE OVERWRITTEN
	}
	html.appearance-vertical & {
		left: 0; right: 0;
		width:  $TEMPORARY__Scrollbar-Thumb_Size; // TO BE OVERWRITTEN
	}
	html.slider-opened.appearance-horizontal & { height: 100%; cursor: col-resize; }
	html.slider-opened.appearance-vertical   & { width:  100%; cursor: row-resize; }
	margin: auto;
	//pointer-events: none;
	background: transparent;
	will-change: width, height, transform, left, top;
	&:before,
	&:after {
		content: "";
		display: block;
		box-sizing: border-box;
		position: absolute;
		z-index: 10;
		margin: auto;
		// @____Bibi:Dress__('-') html.slider-opened       & { transition: $Slider_Transition__Open;  }
		// @____Bibi:Dress__('-') html:not(.slider-opened) & { transition: $Slider_Transition__Close; }
	}
	&:before {
		@include offset($TEMPORARY__Scrollbar-Thumb_Size * -1); // TO BE OVERWRITTEN
		@include size(100%);
		border-radius: $TEMPORARY__Scrollbar-Thumb_Size * 0.5; // TO BE OVERWRITTEN
		html.appearance-horizontal & { min-width:  $TEMPORARY__Scrollbar-Thumb_Size; } // TO BE OVERWRITTEN
		html.appearance-vertical   & { min-height: $TEMPORARY__Scrollbar-Thumb_Size; } // TO BE OVERWRITTEN
		// @____Bibi:Dress__('-') background: $Slider-Thumb_BackgroundColor;
		html.slider-opened & { transform: scale(0); opacity: 0; }
	}
	// @____Bibi:Dress__('-') html:not(.slider-opened):not(.touch) &:hover:before  { background-color: $Slider-Thumb_BackgroundColor__Hover; }
	// @____Bibi:Dress__('-') html:not(.slider-opened):not(.touch) &:active:before { background-color: $Slider-Thumb_BackgroundColor__Active; }
	&:after {
		// @____Bibi:Dress__('-') @include offset($Slider-Thumb-Circle_Size * -1);
		// @____Bibi:Dress__('-') @include size($Slider-Thumb-Circle_Size);
		border-style: solid;
		// @____Bibi:Dress__('-') border-width: $Slider-Thumb-Circle_BorderWidth;
		// @____Bibi:Dress__('-') border-color: $Slider-Thumb-Circle_BorderColor;
		border-radius: 50%;
		// @____Bibi:Dress__('-') background: $Slider-Thumb-Circle_BackgroundColor;
		// @____Bibi:Dress__('-') box-shadow: 0 0 0 $Slider-Thumb-Circle-Halo_Width $Slider-Thumb-Circle-Halo_Color;
		html:not(.slider-opened) & { transform: scale(0); opacity: 0; }
	}
}


// - . Rail
// --------------------------------------------------------------------------------

div#bibi-slider-rail {
	& {
		content: "";
		//overflow: hidden;
		// display: none; // DO NOT SET `none` !!
		box-sizing: border-box;
		position: absolute;
		z-index: 10000;
		//@include offset(-100vh, -100vw);
		@include offset(0);
		margin: auto;
		// @____Bibi:Dress__('-') background: $Slider-Rail_Color;
		pointer-events: none;
		transition: background-color linear .33s;
	}
	html.appearance-horizontal & { height: 0; }
	html.appearance-vertical   & { width: 0; }
	// @____Bibi:Dress__('-') html.slider-opened                       & { border-radius: $Slider-Rail_Width__SliderOpened / 2; }
	// @____Bibi:Dress__('-') html.slider-opened.appearance-horizontal & { height: $Slider-Rail_Width__SliderOpened; }
	// @____Bibi:Dress__('-') html.slider-opened.appearance-vertical   & { width: $Slider-Rail_Width__SliderOpened; }
	// @____Bibi:Dress__('-') div#bibi-slider:hover                    & { background: $Slider-Rail_Color__Hover; }
}

div#bibi-slider-rail-progress {
	& {
		position: absolute;
		@include size(0);
		// @____Bibi:Dress__('-') background: $Slider-Rail-Progress_Color;
		transition: background-color linear .33s;
		will-change: transform;
	}
	html.appearance-horizontal & { top: -100%; bottom: -100%; margin: auto 0;                                        }
	html.appearance-rtl &        {                                             right: 0; transform-origin: 100% 50%; }
	html.appearance-ltr &        {                                             left:  0; transform-origin:   0  50%; }
	html.appearance-vertical &   { left: -100%; right: -100%; margin: 0 auto;  top:   0; transform-origin:  50%  0 ; }
	// @____Bibi:Dress__('-') html.slider-opened                       & {}
	// @____Bibi:Dress__('-') html.slider-opened.appearance-horizontal & { height: $Slider-Rail-Progress_Width__SliderOpened; }
	// @____Bibi:Dress__('-') html.slider-opened.appearance-vertical   & { width:  $Slider-Rail-Progress_Width__SliderOpened; }
	// @____Bibi:Dress__('-') div#bibi-slider:hover                    & { background: $Slider-Rail-Progress_Color__Hover; }
}


// - UI Box (Edgebar Box, Bookmap Box)
// --------------------------------------------------------------------------------

div#bibi-slider-edgebar-box,
div#bibi-slider-bookmap-box {
	& {
		box-sizing: border-box;
		position: absolute;
		@include offset(0);
		z-index: 10;
		margin: auto;
		background: transparent;
		will-change: width, height;
		html.appearance-horizontal & {
			@include offset(1px, 0, auto, 0);
			height: calc(100% -    1px                                                 );
			width:  calc(100% - #{       $TEMPORARY__Scrollbar-Thumb_Size * 0.5      * 2 });
		}
		html.appearance-vertical & {
			@include offset(0, auto, 0, 1px);
			width:  calc(100% -    1px                                                 );
			height: calc(100% - #{       $TEMPORARY__Scrollbar-Thumb_Size * 0.5      * 2 });
		}
		html.slider-opened.appearance-horizontal & {
			// @____Bibi:Dress__('-') top: 1px + $Slider_PaddingStart__SliderOpened;
			bottom: auto;
			// @____Bibi:Dress__('-') height: calc(100% - #{ 1px + $Slider_PaddingStart__SliderOpened  + $Slider_PaddingEnd__SliderOpened   });
		}
		html.slider-opened.appearance-ltr & {
			right: auto;
		}
		html.slider-opened.appearance-rtl & {
			left: auto;
		}
		html.slider-opened.appearance-vertical & {
			// @____Bibi:Dress__('-') left: 1px + $Slider_PaddingStart__SliderOpened;
			right: auto;
			bottom: auto;
			// @____Bibi:Dress__('-') width:  calc(100% - #{ 1px + $Slider_PaddingStart__SliderOpened  + $Slider_PaddingEnd__SliderOpened   });
		}
	}
	div#bibi-slider:not(.bibi-slider-with-history) & {
		html.slider-opened.appearance-horizontal & {
			// @____Bibi:Dress__('-') width:  calc(100% - #{       $Slider_PaddingBefore__SliderOpened + $Slider_PaddingAfter__SliderOpened });
		}
		html.slider-opened.appearance-ltr & {
			// @____Bibi:Dress__('-') left: $Slider_PaddingBefore__SliderOpened;
		}
		html.slider-opened.appearance-rtl & {
			// @____Bibi:Dress__('-') right: $Slider_PaddingBefore__SliderOpened;
		}
		html.slider-opened.appearance-vertical & {
			// @____Bibi:Dress__('-') top: $Slider_PaddingBefore__SliderOpened;
			// @____Bibi:Dress__('-') height: calc(100% - #{       $Slider_PaddingBefore__SliderOpened + $Slider_PaddingAfter__SliderOpened });
		}
	}
	div#bibi-slider.bibi-slider-with-history & {
		html.slider-opened.appearance-horizontal & {
			// @____Bibi:Dress__('-') width:  calc(100% - #{       $Slider_PaddingBefore__SliderOpened__WithHistory + $Slider_PaddingAfter__SliderOpened });
		}
		html.slider-opened.appearance-ltr & {
			// @____Bibi:Dress__('-') left: $Slider_PaddingBefore__SliderOpened__WithHistory;
		}
		html.slider-opened.appearance-rtl & {
			// @____Bibi:Dress__('-') right: $Slider_PaddingBefore__SliderOpened__WithHistory;
		}
		html.slider-opened.appearance-vertical & {
			// @____Bibi:Dress__('-') top: $Slider_PaddingBefore__SliderOpened__WithHistory;
			// @____Bibi:Dress__('-') height: calc(100% - #{       $Slider_PaddingBefore__SliderOpened__WithHistory + $Slider_PaddingAfter__SliderOpened });
		}
	}
}


// - Edgebar, Bookmap
// --------------------------------------------------------------------------------

div#bibi-slider-edgebar,
div#bibi-slider-bookmap {
	box-sizing: border-box;
	position: absolute;
	z-index: 10;
	@include offset(0);
	@include size(100%);
	margin: auto;
	will-change: width, height;
}


// - Edgebar
// --------------------------------------------------------------------------------

div#bibi-slider-edgebar {
	// @____Bibi:Dress__('-') background: $Slider-Edgebar_Background;
}


// - Bookmap
// --------------------------------------------------------------------------------

div#bibi-slider-bookmap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	html.appearance-ltr & { flex-direction: row; }
	html.appearance-rtl & { flex-direction: row-reverse; }
	html.appearance-ttb & { flex-direction: column; }
	box-sizing: border-box;
	position: absolute;
	z-index: 10;
	@include offset(0);
	@include size(100%);
	margin: auto;
}

	div.bookmap-spread-box,
	div.bookmap-spread,
	div.bookmap-item-box,
	span.bookmap-item,
	span.bookmap-page {
		html.appearance-horizontal & { height: 100%; }
		html.appearance-vertical   & { width: 100%; }
	}


// - . Bookmap > Spread Box
// --------------------------------------------------------------------------------

div.bookmap-spread-box {
	box-sizing: border-box;
	flex-shrink: 0;
	position: relative;
	// @____Bibi:Dress__('-') background: $Slider-Bookmap-SpreadBox_Color;
	&.hover {
		//background: $Slider-Bookmap-SpreadBox_Color__Hover;
	}
}


// - . Bookmap > Spread Box > Spread
// --------------------------------------------------------------------------------

div.bookmap-spread {
	box-sizing: border-box;
	position: absolute;
	z-index: 1;
	@include offset(0);
	margin: auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	html.page-ltr &                                            { flex-direction: row; }
	html.page-rtl &                                            { flex-direction: row-reverse; }
	html.view-vertical div.bookmap-spread-box:not(.spreaded) & { flex-direction: column; }
	div.bookmap-spread-box.single-item-spread-before & { justify-content: flex-start; }
	div.bookmap-spread-box.single-item-spread-after &  { justify-content: flex-end; }
	align-items: center;
	// @____Bibi:Dress__('-') background: $Slider-Bookmap-Spread_Background;
}


// - . Bookmap > Spread Box > Spread > Item Box
// --------------------------------------------------------------------------------

div.bookmap-item-box {
	box-sizing: border-box;
	flex-shrink: 0;
	position: relative;
	&.reflowable {
		display: flex;
		html.appearance-ltr & { flex-direction: row; }
		html.appearance-rtl & { flex-direction: row-reverse; }
		html.appearance-ttb & { flex-direction: column; }
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		&:before {
			content: "";
			display: block;
			position: absolute;
			// @____Bibi:Dress__('-') background: $Slider-Bookmap-ItemBox_BorderColor__ForReflowable;
			html.book-reflowable.appearance-horizontal & { @include size(1px, calc(100% + 2px)); top: -1px; bottom: -1px; margin: auto 0; }
			html.book-reflowable.appearance-vertical & { @include size(calc(100% + 2px), 1px); left: -1px; right: -1px; margin: 0 auto; }
			html.book-reflowable.appearance-rtl & { right: -1px; left: auto; }
			html.book-reflowable.appearance-ltr & { left: -1px; right: auto; }
			html.book-reflowable.appearance-ttb & { top: -1px; bottom: auto; }
			html:not(.slider-opened) & { display: none; }
		}
	}
}


// - . Bookmap > Spread Box > Spread > Item Box > Item
// --------------------------------------------------------------------------------

span.bookmap-item {
	/*
	box-sizing: content-box;
	display: block;
	position: absolute;
	z-index: 1;
	@include offset(0);
	margin: 0;
	padding: 0;
	@include size(100%);
	border: none 0;
	line-height: 1;
	vertical-align: top;
	*/
	display: none;
}


// - . Bookmap > Spread Box > Spread > Item Box > Page
// --------------------------------------------------------------------------------

span.bookmap-page {
	box-sizing: border-box;
	display: block;
	z-index: 10;
	div.bookmap-item-box.reflowable & {
		position: relative;
		flex-shrink: 0;
	}
	div.bookmap-item-box.pre-paginated & {
		position: absolute;
		@include offset(0);//trbl(-1px);
		margin: auto;
		@include size(100%);
	}
	background: transparent;
	html.slider-opened & {
		// @____Bibi:Dress__('-') background-color: $Slider-Bookmap-Page_Color__SliderOpened;
	}
	html.slider-opened &.hover {
		// @____Bibi:Dress__('-') background-color: $Slider-Bookmap-Page_Color__SliderOpened__Hover;
		// @____Bibi:Dress__('-') border: solid 1px $Slider-Bookmap-Page_BorderColor__SliderOpened__Hover;
	}
}


// - . History
// --------------------------------------------------------------------------------

div#bibi-slider-history {
	ul {
		li {
			span.bibi-button {
				span.bibi-button-iconbox {
					span.bibi-icon {
					}
					span.bibi-icon-historyback {
					}
				}
				span.bibi-button-label {
				}
			}
		}
	}
}