// ================================================================================
// + Controls
// --------------------------------------------------------------------------------


// - Cartain
// --------------------------------------------------------------------------------

div#bibi-cartain {
	@include box-sizing(border-box);
	overflow: hidden;
	display: block;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 15px;
	color: white;
	//background: rgb(216,214,212);
	//background: rgb(248,248,244);
	opacity: 1;/*
	p#bibi-cartain-message {
		padding-top: 30%;
		line-height: 40px;
		font-size: 24px;
		text-align: center;
		font-weight: bold;
		color: rgb(96,96,96);
		//text-shadow: -1px -1px 0px rgb(48,48,48), 1px 1px 0px rgb(72,72,72);
	}*/
	html.panel-opened & {
		@include transition(.2s ease-in);
		@include filter(blur(4px));
		opacity: 0.75;
	}
}

@-webkit-keyframes fade {
	  0% { opacity: 1.00; }
	 50% { opacity: 0.75; }
	100% { opacity: 1.00; }
}
@-webkit-keyframes rotate {
	  0% { -webkit-transform: rotate(  0   ); }
	100% { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes rotate-scale-blur {
	  0% { -webkit-transform: rotate(  0   ) scale(0.75); -webkit-filter: blur(0  ); }
	 50% { -webkit-transform: rotate(180deg) scale(1.00); -webkit-filter: blur(0  ); }
	100% { -webkit-transform: rotate(360deg) scale(0.75); -webkit-filter: blur(0  ); }
}

@-moz-keyframes fade {
	  0% { opacity: 1.00; }
	 50% { opacity: 0.75; }
	100% { opacity: 1.00; }
}
@-moz-keyframes rotate {
	  0% { -moz-transform: rotate(  0   ); }
	100% { -moz-transform: rotate(360deg); }
}
@-moz-keyframes rotate-scale-blur {
	  0% { -moz-transform: rotate(  0   ) scale(0.75); -moz-filter: blur(0  ); }
	 50% { -moz-transform: rotate(180deg) scale(1.00); -moz-filter: blur(1px); }
	100% { -moz-transform: rotate(360deg) scale(0.75); -moz-filter: blur(0  ); }
}

@-ms-keyframes fade {
	  0% { opacity: 1.00; }
	 50% { opacity: 0.75; }
	100% { opacity: 1.00; }
}
@-ms-keyframes rotate {
	  0% { -ms-transform: rotate(  0   ); }
	100% { -ms-transform: rotate(360deg); }
}
@-ms-keyframes rotate-scale-blur {
	  0% { -ms-transform: rotate(  0   ) scale(0.75); -ms-filter: blur(0  ); }
	 50% { -ms-transform: rotate(180deg) scale(1.00); -ms-filter: blur(1px); }
	100% { -ms-transform: rotate(360deg) scale(0.75); -ms-filter: blur(0  ); }
}

@-o-keyframes fade {
	  0% { opacity: 1.00; }
	 50% { opacity: 0.75; }
	100% { opacity: 1.00; }
}
@-o-keyframes rotate {
	  0% { -o-transform: rotate(  0   ); }
	100% { -o-transform: rotate(360deg); }
}
@-o-keyframes rotate-scale-blur {
	  0% { -o-transform: rotate(  0   ) scale(0.75); -o-filter: blur(0  ); }
	 50% { -o-transform: rotate(180deg) scale(1.00); -o-filter: blur(1px); }
	100% { -o-transform: rotate(360deg) scale(0.75); -o-filter: blur(0  ); }
}

@keyframes fade {
	  0% { opacity: 1.00; }
	 50% { opacity: 0.75; }
	100% { opacity: 1.00; }
}
@keyframes rotate {
	  0% { transform: rotate(  0   ); }
	100% { transform: rotate(360deg); }
}
@keyframes rotate-scale-blur {
	  0% { transform: rotate(  0   ) scale(0.75); filter: blur(0  ); }
	 50% { transform: rotate(180deg) scale(1.00); filter: blur(1px); }
	100% { transform: rotate(360deg) scale(0.75); filter: blur(0  ); }
}

div#bibi-cartain.animate {
	p#bibi-cartain-message,
	div#bibi-cartain-mark {
		@include animation-timing-function(linear);
		@include animation-iteration-count(infinite);
	}
	p#bibi-cartain-message {
		@include animation-duration(.2s);
		@include animation-name(fade);
	}
	div#bibi-cartain-mark {
		display: block;
		@include animation-duration(1s);
		@include animation-name(rotate-scale-blur);
	}
}


// - Cartain > H1, UL
// --------------------------------------------------------------------------------

div#bibi-cartain h1,
div#bibi-cartain ul {
	overflow: hidden;
	width: 0;
	height: 0;
}


// - Cartain > Cover
// --------------------------------------------------------------------------------

div#bibi-cartain-cover {
	overflow: hidden;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	@include box-sizing(border-box);
	border: solid transparent;
	width: 100%;
	height: 100%;
	opacity: 0;
	@include transition(opacity 0.5s linear);
	background: transparent no-repeat center center;
	@include background-size(contain);
//	html.page-ltr & { background-position: 40% center; }
//	html.page-rtl & { background-position: 60% center; }
	img {
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	}
}


// - Cartain > Catcher, PlayButton
// --------------------------------------------------------------------------------

p#bibi-cartain-catcher,
p#bibi-cartain-playbutton {
	@include box-sizing(border-box);
	position: absolute;
	z-index: 10;
	left: 0;
	bottom: 30px;
	top: 0;
	width: 100%;
	height: 100%;
	@include transition(0.2s linear);
	opacity: 0.75;
	span, &:before, &:after {
		@include box-sizing(border-box);
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		vertical-align: middle;
		text-align: center;
		//text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
		//text-shadow: -1px -1px 0 rgba(0,0,0,0.75);
	}
	&:hover {
		background-color: rgba(0,0,0,0.1);
		opacity: 0.9;
	}
	&:active {
		opacity: 0.825;
	}
}
$catcher-icon-size: 140px;
p#bibi-cartain-catcher {
	cursor: pointer;
	/*
	&:before {
		$size: 180px;
		content: $ElegantIcons_icon_book;
		margin-left: $size * -0.5;
		margin-top: $size * -0.5 - $size / 20 + 30px;
		width: $size;
		height: $size;
		line-height: $size;
		font-size: $size;
		@include font-icon("ElegantIcons");
		color: rgba(255,255,255,0.5);
	}
	*/
	&:before {
		content: "";
		top: 10%;
		margin-top: 15px;
		margin-left: -44%;
		border: dashed 10px rgba(255,255,255,0.1);
		border-radius: 30px;
		width: 88%;
		height: 80%;
	}
	&:after {
	 	$size: $catcher-icon-size;
		content: $ElegantIcons_icon_book;
		margin-left: $size * -0.5;
		margin-top: $size * -0.5 + 15px;
		width: $size;
		height: $size;
		line-height: $size;
		font-size: $size;
		color: white;
		@include text-stroke(4px white);
		@include font-icon("ElegantIcons");
		opacity: 0.25;
	}
}
$play-icon-size: 120px;
p#bibi-cartain-playbutton {
	cursor: pointer;
	/*
	span {
		border-radius: 1em;
		margin: -1em -5em;
		width: 10em;
		height: 2em;
		line-height: 2.1em;
		background: rgb(0,0,0);
		&:before {
			content: $ElegantIcons_icon_book;
			@include font-icon("ElegantIcons");
		}
	}
	*/
	&:before, &:after {
		color: rgb(0,0,0);
	}
	&:before {
		$size: $play-icon-size * 0.75;
		content: "";
		margin-left: $size * -0.5;
		margin-top: $size * -0.5 + 30px;
		width: $size;
		height: $size;
		line-height: $size;
		font-size: $size;
		border-radius: 50%;
		background: white;
	}
	 &:after {
	 	$size: $play-icon-size;
		content: $ElegantIcons_arrow_triangle-right_alt;
		margin-left: $size * -0.5;
		margin-top: $size * -0.5 + 30px;
		width: $size;
		height: $size;
		line-height: $size;
		font-size: $size;
		@include text-stroke(4px white);
		@include font-icon("ElegantIcons");
	}
	html.Gecko            &:after { text-shadow: -3px -3px white, 3px -3px white, 3px 3px white, -3px 3px white; }
	html.InternetExplorer &:after { text-shadow: -3px -3px white, 3px -3px white, 3px 3px white, -3px 3px white; }
	html.page-ttb &:after { content: $ElegantIcons_arrow_triangle-down_alt; }
	html.pabe-btt &:after { content: $ElegantIcons_arrow_triangle-up_alt; }
	html.page-rtl &:after { content: $ElegantIcons_arrow_triangle-left_alt; }
	html.page-ltr &:after { content: $ElegantIcons_arrow_triangle-right_alt; }
}


// - Cartain > Mark
// --------------------------------------------------------------------------------

div#bibi-cartain-mark {
	position: absolute;
	display: none;
	z-index: 100;
	left: 50%;
	top: 50%;
	margin: -38px -38px 0;
	width: 76px;
	height: 76px;
	font-size: 20px;
	//color: rgba(255,255,255,0.64);
	//text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
	//text-shadow: -1px -1px 0 rgba(0,0,0,0.75);
	span {
		display: block;
		position: absolute;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		opacity: 0.25;
		//box-shadow: 0 0 2px black;
		&.dot1 { left: 32px; top:  0px; background: rgba(128,128,128,0.125); }
		&.dot2 { left: 54px; top:  8px; background: rgba(128,128,128,0.250); }
		&.dot3 { left: 64px; top: 32px; background: rgba(128,128,128,0.375); }
		&.dot4 { left: 54px; top: 54px; background: rgba(128,128,128,0.500); }
		&.dot5 { left: 32px; top: 64px; background: rgba(128,128,128,0.625); }
		&.dot6 { left:  8px; top: 54px; background: rgba(128,128,128,0.750); }
		&.dot7 { left:  0px; top: 32px; background: rgba(128,128,128,0.875); }
		&.dot8 { left:  8px; top:  8px; background: rgba(128,128,128,1.000); }
	}
}/*
&:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 2.2em;
	width: 100%;
	height: 0;
	border-top: solid 1px rgba(0,0,0,0.2);
	border-bottom: solid 1px rgba(255,255,255,0.1);
}*/


// - Cartain > Powered, Message
// --------------------------------------------------------------------------------

p#bibi-cartain-powered,
p#bibi-cartain-message {
	@include box-sizing(border-box);
	position: absolute;
	padding: 0 8px;
	width: 100%;
	height: 36px;
	line-height: 32px;
	font-size: 16px;
	color: rgb(96,96,96);
	small {
		font-size: 0.75em;
	}
	a {
		//font-weight: bold;
		color: inherit;
		text-decoration: none;
		@include transition(0.25s linear);
		&:hover {
			color: rgb(160,160,160);
		}
	}
}
p#bibi-cartain-powered {
	z-index: 1000;
	top: 0;
	border-bottom: solid 1px rgba(255,255,255,0.25);
	text-align: center;
	background: rgba(255,255,255,0.5);
	a {
		border-bottom: solid 1px rgb(192,192,192);
	}
}
p#bibi-cartain-message {
	z-index: 100;
	top: 50%;
	text-align: center;
	display: none;
	html.wait-please & { display: block; }
}


// - Arrows (div#bibi-arrows)
// --------------------------------------------------------------------------------

div.bibi-arrow {
	overflow: hidden;
	position: fixed;
	z-index: 1000;
	$start: 10%;
	$breadth: 80%;
	$length: 50px;
	line-height: 1;
	opacity: 0; &.shown { opacity: 0.8; }
	@include transition(opacity 0.2s linear);
	html.display-all.spread-vertical &                        { left: $start; width: $breadth; height: $length; }
	html.display-all.spread-horizontal &, html.display-each & { top:  $start; width: $length;  height: $breadth; }
	&:before {
		display: block;
		position: absolute;
		$start: 50%;
		$margin-start: -.5em;
		width: 1em;
		height: 1em;
		font-size: 80px;
		text-align: center;
		vertical-align: middle;
		line-height: 1em;
		color: rgba(96,96,96,0.75);
		$transform_scaleB: 1.5;
		$transform_scaleL: 1.0;
		@include font-icon("ElegantIcons");
		html.display-all.spread-vertical &                        { left: $start; margin-left: $margin-start; @include transform(scale($transform_scaleB, $transform_scaleL)); }
		html.display-all.spread-horizontal &, html.display-each & { top:  $start; margin-top:  $margin-start; @include transform(scale($transform_scaleL, $transform_scaleB)); }
	}
	&#bibi-arrow-back {
		$before: 0;
		html.display-all.spread-ttb &                               { top:    $before; cursor: n-resize; }
		html.display-all.spread-btt &                               { bottom: $before; cursor: s-resize; }
		html.display-all.spread-ltr &, html.display-each.page-ltr & { left:   $before; cursor: w-resize; }
		html.display-all.spread-rtl &, html.display-each.page-rtl & { right:  $before; cursor: e-resize; }
		&:before {
			html.display-all.spread-ttb &                               { content: $ElegantIcons_arrow_carrot-up;    top:    -.25em; vertical-align: top; }
			html.display-all.spread-btt &                               { content: $ElegantIcons_arrow_carrot-down;  bottom: -.25em; vertical-align: bottom; }
			html.display-all.spread-ltr &, html.display-each.page-ltr & { content: $ElegantIcons_arrow_carrot-left;  left:  -.275em; text-align:     left; }
			html.display-all.spread-rtl &, html.display-each.page-rtl & { content: $ElegantIcons_arrow_carrot-right; right: -.225em; text-align:     right; }
		}
	}
	&#bibi-arrow-forward {
		$after: 0;
		html.display-all.spread-ttb &                               { bottom: $after; cursor: s-resize; }
		html.display-all.spread-btt &                               { top:    $after; cursor: n-resize; }
		html.display-all.spread-ltr &, html.display-each.page-ltr & { right:  $after; cursor: e-resize; }
		html.display-all.spread-rtl &, html.display-each.page-rtl & { left:   $after; cursor: w-resize; }
		&:before {
			html.display-all.spread-ttb &                               { content: $ElegantIcons_arrow_carrot-down;  bottom: -.25em; vertical-align: bottom; }
			html.display-all.spread-btt &                               { content: $ElegantIcons_arrow_carrot-up;    top:    -.25em; vertical-align: top; }
			html.display-all.spread-ltr &, html.display-each.page-ltr & { content: $ElegantIcons_arrow_carrot-right; right: -.225em; text-align:     right; }
			html.display-all.spread-rtl &, html.display-each.page-rtl & { content: $ElegantIcons_arrow_carrot-left;  left:  -.275em; text-align:     left; }
		}
	}
}


// - Switches (div#bibi-switches)
// --------------------------------------------------------------------------------

div#bibi-switches {
	html.wait-please & {
		display: none;
	}
	.bibi-icon {
		position: fixed;
		z-index: 5000;
		top: 4px;
		@include transition(0.15s linear);
		&.bibi-switch-panel {
			left: 4px;
		}
		&.bibi-switch-fullscreen {
			right: 4px;
		}
	}
}



// - Panel (div#bibi-panel)
// --------------------------------------------------------------------------------

div#bibi-panel {
	@include box-sizing(border-box);
	overflow: hidden;
	z-index: 3000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(240,238,236,0.8);
	opacity: 0;
	@include transition(0.2s ease-out);
	@include transform(translateY(-100%));
	html.panel-opened & { @include transform(none !important); @include transition(0.2s ease-in); opacity: 1 !important; }
}


// - Panel > Menu (div#bibi-panel-menu)
// --------------------------------------------------------------------------------

div#bibi-panel-menu {
	@include box-sizing(border-box);
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	padding-left: 35px;
	border-bottom: solid 1px rgba(255,255,255,0.25);
	width: 100%;
	height: 36px;
	color: white;
	background: rgba(255,255,255,0.75);
	ul {
		padding: 4px;
		height: 27px;
		html.preparing & { display: none; }
		li {
			position: relative;
			float: left;
			margin-left: 5px;
			opacity: 1; //&.disabled { opacity: 0.5; }
			&:first-child { margin-left: 0; }
		}
	}/*
	ul#spread-layout-axis {
		html.spread-vertical & li.layout-vertical,
		html.spread-horizontal & li.layout-horizontal,
		html.display-each & li {
			display: none;
		}
	}*/
}


// - Panel > Misc (div#bibi-panel-misc)
// --------------------------------------------------------------------------------

div#bibi-panel-misc {
	@include box-sizing(border-box);
	position: fixed;
	z-index: 100;
	top: 0;
	padding: 4px;
	border: solid 0 rgba(255,255,255,0.1);
	width: 36px;
	height: 36px;
	line-height: 30px;
	text-align: right;
	font-size: 14px;
	color: white;
	html.window-not-embeded.fullscreen-enabled &,
	html.window-embeded.fullscreen-not-enabled & {
		right: 35px;
	}
	html.window-embeded.fullscreen-enabled & {
		right: 66px;
	}
	a {
		text-decoration: none;
		color: rgb(64,64,64);
		@include transition(.25s linear);
		&:hover { color: white; }
	}
}


// - Panel > Navigation (div#bibi-panel-navigation)
// --------------------------------------------------------------------------------

div#bibi-panel-navigation {
	@include box-sizing(border-box);
}
	div#bibi-panel-navigation-item-box {
		@include box-sizing(border-box);
		position: absolute;
		padding: 52px 35px;
		width: 100%;
		height: 100%;
		-webkit-overflow-scrolling: touch;
		html.page-ltr & { overflow-x: hidden; overflow-y: scroll; }
		html.page-rtl & { overflow-x: scroll; overflow-y: hidden; }
		&::-webkit-scrollbar { width: 8px; height: 8px; }
		&::-webkit-scrollbar-track { background: transparent; }
		&::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.5); border-radius: 3px; }
	}
		div#bibi-panel-navigation-item {
			@include box-sizing(border-box);
			color: rgb(128,128,128);
//			html.display-all.spread-ltr &, html.display-each.page-ltr & { @include column-width(240px); @include column-gap(20px); }
			html.page-rtl & { @include writing-mode(vertical-rl); }
			nav {
				$margin-after: 1em;
				html.page-ltr & { margin-bottom: $margin-after; }
				html.page-rtl & { margin-left: $margin-after; }
				h1, h2, h3, h4, h5, h6 {
					$margin-after: .75em;
					line-height: 1.4;
					font-size: 18px;
					font-weight: bold;
					color: rgb(160,160,160);
					html.page-ltr & { margin-bottom: $margin-after; }
					html.page-rtl & { margin-left: $margin-after; }
				}
				ul, ol {
					$margin-before: .5em;
					html.page-ltr & { margin-top: $margin-before; }
					html.page-rtl & { margin-right: $margin-before; }
					li {
						$margin-before: .25em;
						line-height: 1.2;
						font-size: 16px;
						color: rgb(160,160,160);
						html.page-ltr & { margin-top: $margin-before; }
						html.page-rtl & { margin-right: $margin-before; }
						ul, ol {
							position: relative;
							$margin-before: .25em;
							html.page-ltr & { margin-top: $margin-before; }
							html.page-rtl & { margin-right: $margin-before; }
							&:before {
								content: "";
								display: block;
								position: absolute;
								$start: .25em;
								$before: 0;
								$breadth: 2px;
								$length: 100%;
								background: white;
								html.page-ltr & { left: $start; top: $before; width: $breadth; height: $length; }
								html.page-rtl & { top: $start; right: $before; width: $length; height: $breadth; }
							}
							li {
								$margin-before: .125em;
								$margin-start: 1em;
								font-size: 14px;
								html.page-ltr & { margin-top: $margin-before; margin-left: $margin-start; }
								html.page-rtl & { margin-right: $margin-before; margin-top: $margin-start; }
							}
						}
					}
				}
				a {
					color: rgb(64,64,64);
					text-decoration: none;
					&:hover {
						color: gold;
					}
					&.bibi-navigation-inactive-link {
						color: inherit !important;
						border: none 0 !important;
						cursor: default !important;
						&:hover {
							color: inherit !important;
						}
					}
				}
			}
		}