// ================================================================================
// + View
// --------------------------------------------------------------------------------


// - EPUB-Metafiles
// --------------------------------------------------------------------------------

div#epub-metafiles,
div#epub-metafiles * {
	display: none;
}


// - EPUB-Contents
// --------------------------------------------------------------------------------

html.preparing div#epub-contents {
	overflow: hidden;
	width: 0;
	height: 0;
}

div#epub-contents {
	@include box-sizing(border-box);
	position: relative;
	z-index: 10;
	min-height: 100%;
	min-width: 100%;
	box-shadow: 0 0 20px rgb(32,32,32);
	@include transition(0.75s ease-in-out);
	@include transition-property(transform opacity);
	div.spread-box {
		div.spread {
			//@include box-sizing(border-box);
			overflow: hidden;
			background: white;
			div.item-box {
				display: block;
				position: relative;
				overflow: hidden;
				iframe.item, span.page {
					display: block;
				}
				iframe.item {
					position: relative;
					z-index: 2;
				}
				span.page {
					position: absolute;
					z-index: 1;
				}
			}
		}
	}
	div.spread-box.pre-paginated {
		div.spread {
			div.item-box.page-spread-left {
				float: left;
			}
			div.item-box.page-spread-right {
				float: right;
			}
		}
	}
	div#epub-asides {
		@include box-sizing(border-box);
		position: absolute;
		z-index: 100;
		padding: 8px;
		border: solid 0 rgba(255,255,255,0.1);
		width: 44px;
		height: 44px;
		line-height: 30px;
		font-size: 14px;
		text-align: left;
		color: white;
	}
}
html.spread-ttb div#epub-contents,
html.spread-ltr div#epub-contents {
	div#epub-asides {
		right: 0;
		bottom: 0;
	}
}
html.spread-rtl div#epub-contents {
	div#epub-asides {
		left: 0;
		bottom: 0;
	}
}
html.spread-ttb div#epub-contents {
	@include writing-mode(horizontal-tb, lr-tb);
}
html.spread-ltr div#epub-contents {
	@include writing-mode(vertical-lr, tb-lr);
	/*
	overflow: hidden;
	div.spread-box, div.spread, div.item-box, iframe.item {
		overflow: hidden;
		float: left;
	}
	*/
}
html.spread-rtl div#epub-contents {
	@include writing-mode(vertical-rl, tb-rl);
	/*
	overflow: hidden;
	div.spread-box, div.spread, div.item-box, iframe.item {
		overflow: hidden;
		float: right;
	}
	*/
}
html.spread-vertical div#epub-contents {
	@include transform(translateX(0));
	div.spread-box {
		div.spread {
			div.item-box {
				span.page {
					left: 0;
				}
			}
		}
	}
	div.spread-box.pre-paginated {
		div.spread {
			div.item-box {
				span.page {
					left: auto;
					top: 0;
				}
			}
		}
	}
}
html.spread-vertical.panel-opened div#epub-contents {
	//@include transform-origin(100% 50%);
	//@include transform(rotateY(-45deg));
	@include transform(translateX(36px));
}
html.spread-horizontal div#epub-contents {
	@include transform(translateY(0));
	div.spread-box {
		div.spread {
			div.item-box {
				span.page {
					top: 0;
				}
			}
		}
	}
}
html.spread-horizontal.panel-opened div#epub-contents {
	//@include transform-origin(50% 100%);
	//@include transform(rotateX(-45deg));
	@include transform(translateY(36px));
}
html.page-ltr div#epub-contents {
	div.spread-box {
		div.spread {
			div.item-box {
				iframe.item {
					@include transform-origin(0 0);
				}
			}
		}
	}
}
html.page-rtl div#epub-contents {
	div.spread-box {
		div.spread {
			div.item-box {
				iframe.item {
					@include transform-origin(100% 0);
				}
			}
		}
	}
}